<div class="theme-container">
  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg text-left heading text-uppercase pull-left">
      {{ 'previewProposal.title' | translate }}
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm" (click)="global.gobackallapp()">{{
        'commonText.applicationBreadcrumb' | translate
      }}</span>
      <span class="head-sm" (click)="global.gobackallappPersonalAccident()">{{
        'commonText.personalAccident' | translate
      }}</span>
      <span class="head-sm">{{ 'previewProposal.title' | translate }}</span>
    </div>
  </div>
  <!-- Page header end -->

  <div class="preview-details theme-form mt-mobile">
    <div class="review-details">
      <div class="theme-card w-100 p-0">
        <div class="card-content pb-0">
          <div class="row">
            <div class="col-9 col-md-6">
              <div class="head-md pull-left">
                <span>{{ 'ssb' | translate }}</span>
                <div class="theme-label">
                  <span>({{ 'previewQuote.quoteId.label' | translate }})</span>
                </div>
                <!-- <span class="color-asqi d-flex d-md-none">
                                      <span
                                          class="theme-label m-r-md">{{ 'previewQuote.quoteDate.label' | translate }}</span>
                                      <span class="theme-value">12/12/12</span>
                                  </span> -->
              </div>
            </div>
            <div class="col-3 col-md-6">
              <div class="pull-right p-l-sm d-flex align-items-center">
                <!-- <div class="pr-15 d-none d-md-block">
                                      <span
                                          class="theme-label pr-1">{{ 'previewQuote.quoteDate.label' | translate }}</span>
                                      <span class="rq-span theme-value">12/12/12</span>
                                  </div> -->
                <button
                  *ngIf="!isProposalFinalised"
                  class="btn quotelist-btn d-none d-md-block"
                >
                  <svg class="svg-xs">
                    <use xlink:href="#ICON_Edit" />
                  </svg>
                </button>
                <button
                  *ngIf="isProposalFinalised"
                  (click)="shareQuote(success_template)"
                  class="btn quotelist-btn d-none d-md-block"
                >
                  <svg class="svg-xs">
                    <use xlink:href="#ICON_Share" />
                  </svg>
                </button>
                <button
                  *ngIf="isProposalFinalised"
                  class="btn quotelist-btn d-none d-md-block"
                >
                  <svg class="svg-xs">
                    <use xlink:href="#ICON_Download" />
                  </svg>
                </button>
                <div class="dropdown d-inlineflex">
                  <button
                    class="btn quotelist-btn d-md-none d-block"
                    id="dropdownMenuButton"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <svg height="16" width="16">
                      <use xlink:href="#ICON_Three_dots" />
                    </svg>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-right qoute-dropdown"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <li *ngIf="!isProposalFinalised">
                      <a class="dropdown-item"
                        ><svg class="svg-xs">
                          <use xlink:href="#ICON_Edit" /></svg
                        ><span class="pl-2">{{
                          'commonBtn.edit' | translate
                        }}</span></a
                      >
                    </li>
                    <li
                      *ngIf="isProposalFinalised"
                      (click)="shareQuote(success_template)"
                    >
                      <a class="dropdown-item"
                        ><svg class="svg-xs">
                          <use xlink:href="#ICON_Share" /></svg
                        ><span class="pl-2">{{
                          'commonBtn.share' | translate
                        }}</span></a
                      >
                    </li>
                    <li *ngIf="isProposalFinalised">
                      <a class="dropdown-item"
                        ><svg class="svg-xs">
                          <use xlink:href="#ICON_Download" /></svg
                        ><span class="pl-2">{{
                          'commonBtn.download' | translate
                        }}</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="disp-flex preview-structure pt-20" id="review_struct">
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{ 'customerDetails.title' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.fullName.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Rajesh Arora</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.emailId.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">test@abc.in</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.phoneNumber.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">9874563210</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.occupation.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Salaried</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.pincode.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">123401</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.gstinNo.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">XXXXXXXX</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.annualIncome.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">XXXXXXXXXXX</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.proposerInsued.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Yes</div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{ 'previewProposal.planDetails.subtitle' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.planDetails.planType.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.planDetails.riskType.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.planDetails.membersCovered.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.planDetails.affiliationType.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'customerDetails.companyName.label' | translate }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'customerDetails.companyLocation.label' | translate }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'customerDetails.companyAddress.label' | translate }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'memberDetails.existingCustomer.label' | translate }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'customerDetails.existingRelationshipDetails.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{
                      'previewProposal.insuranceDetails.subtitle' | translate
                    }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.policyTenure.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.policyStartDate.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.policyEndDate.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.totalSumInsured.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.premiumAmount.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <!-- <div class="col-md-6 col-lg-4 col-xl-3">
                                      <label class="theme-label">
                                          {{
                          'previewProposal.insuranceDetails.riderOpted.label'
                            | translate
                        }}
                                      </label>
                                      <div class="theme-value">Tata Employee</div>
                                  </div> -->
              </div>
            </div>

            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{ 'premiumBreakupModal.title' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="head-sm subtitle">
                    {{ 'premiumBreakupModal.basicCovers.label' | translate }}
                  </label>
                </div>
                <div class="col-md-12">
                  <label class="head-sm subtitle">
                    {{ 'memberDetails.relationship.self' | translate }}
                  </label>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.basePremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.adPremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-12">
                  <label class="head-sm subtitle">
                    {{ 'memberDetails.relationship.spouse' | translate }}
                  </label>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.basePremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.adPremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-12">
                  <label class="head-sm subtitle">
                    {{ 'memberDetails.relationship.child' | translate }} 1
                  </label>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.basePremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.adPremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-12">
                  <label class="head-sm subtitle">
                    {{ 'memberDetails.relationship.child' | translate }} 2
                  </label>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.basePremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.adPremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-20">
                  <label class="head-sm subtitle">
                    {{ 'premiumBreakupModal.netPremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.SGST.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.CGST.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.KFC.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'premiumBreakupModal.discount.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
                <div class="col-md-12 mb-20">
                  <label class="head-sm subtitle">
                    {{ 'premiumBreakupModal.totalPremium.label' | translate }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>2000</div>
                </div>
              </div>
            </div>

            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{ 'previewProposal.memberDetails.subtitle' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="head-sm subtitle">
                    {{ 'previewQuote.memberDetails.self.label' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.fullName.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.gender.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.dateOfBirth.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.maritalStatus.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Married</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.relationship.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Mother</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.customerDetails.annualIncome.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>12,000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.memberDetails.sumInsured.label' | translate
                    }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>12,000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.customerDetails.occupation.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.riskClass.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'previewQuote.memberDetails.rider.label' | translate }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-20">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.historyQues.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Yes</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="head-sm subtitle">
                    {{ 'previewQuote.memberDetails.spouse.label' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.fullName.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.gender.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.dateOfBirth.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.maritalStatus.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Married</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.relationship.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Mother</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.customerDetails.annualIncome.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>12,000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.memberDetails.sumInsured.label' | translate
                    }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>12,000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.customerDetails.occupation.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.riskClass.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'previewQuote.memberDetails.rider.label' | translate }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-20">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.historyQues.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Yes</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="head-sm subtitle">
                    {{
                      'previewQuote.memberDetails.dependentChild.label'
                        | translate
                    }}1
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.fullName.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.gender.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.dateOfBirth.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.maritalStatus.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Married</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.relationship.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Mother</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.customerDetails.annualIncome.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>12,000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.memberDetails.sumInsured.label' | translate
                    }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>12,000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.customerDetails.occupation.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.riskClass.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'previewQuote.memberDetails.rider.label' | translate }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-20">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.historyQues.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Yes</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="head-sm subtitle">
                    {{
                      'previewQuote.memberDetails.dependentChild.label'
                        | translate
                    }}2
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.fullName.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.gender.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.dateOfBirth.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.maritalStatus.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Married</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.relationship.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Mother</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.customerDetails.annualIncome.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>12,000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.memberDetails.sumInsured.label' | translate
                    }}
                  </label>
                  <div class="theme-value"><i class="fa fa-inr"></i>12,000</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewQuote.customerDetails.occupation.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.riskClass.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{ 'previewQuote.memberDetails.rider.label' | translate }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-20">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.historyQues.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Yes</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme-card w-100 p-0 card-top-spacing">
        <div class="card-content pb-0">
          <div class="disp-flex preview-structure">
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{
                      'previewProposal.additionalPolicyDetails.subtitle'
                        | translate
                    }}
                  </label>
                  <button
                    *ngIf="!isProposalFinalised"
                    class="btn quotelist-btn pull-right m-0"
                  >
                    <svg class="svg-xs">
                      <use xlink:href="#ICON_Edit" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.customerPanNumber.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.policyNumber.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.NameOfTheInsuredPerson.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.insurerName.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.sumInsured.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.claimLodged.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.policyStartDate.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.policyEndDate.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-12 mb-20">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.historyQues.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Yes</div>
                </div>
                <div class="col-md-12 mb-20">
                  <label class="theme-label">
                    {{
                      'additionalPolicyDetails.rejectedProposalDetails.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Lorem Ipsum</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme-card w-100 p-0 card-top-spacing">
        <div class="card-content pb-0">
          <div class="disp-flex preview-structure">
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{ 'previewProposal.nomineeDeatils.subtitle' | translate }}
                  </label>
                  <button
                    *ngIf="!isProposalFinalised"
                    class="btn quotelist-btn pull-right m-0"
                  >
                    <svg class="svg-xs">
                      <use xlink:href="#ICON_Edit" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.nomineeName.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.dateOfBirth.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.gender.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.relationshipWithInsured.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.nomineeAddress.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.precentageShare.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme-card w-100 p-0 card-top-spacing">
        <div class="card-content pb-0">
          <div class="disp-flex preview-structure">
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{
                      'previewProposal.additionalDetails.subtitle' | translate
                    }}
                  </label>
                  <button
                    *ngIf="!isProposalFinalised"
                    class="btn quotelist-btn pull-right m-0"
                  >
                    <svg class="svg-xs">
                      <use xlink:href="#ICON_Edit" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalDetails.panNumber.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalDetails.customerGstinNo.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-block btn-top-spacing">
        <button
          *ngIf="!isProposalFinalised"
          (click)="finalizeProposal()"
          type="button"
          class="btn primary-btn theme-lg-btn"
        >
          {{ 'commonBtn.finalizeProposal' | translate }}
        </button>
        <button
          *ngIf="isProposalFinalised"
          type="button"
          class="btn primary-btn theme-lg-btn"
        >
          {{ 'commonBtn.makePayment' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<ng-template #success_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-md success-info pb-modal">
      <div class="modal-header">
        <div class="close-icon" (click)="successModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body succes-container">
        <div class="row">
          <div class="text-center col-md-12 mb-4">
            <div>
              <svg class="icon-blue">
                <use xlink:href="#ICON_Sent_successfully" />
              </svg>
            </div>
            <div class="head-md status-label mt-4 mb-0 font-lg">
              {{ 'success_Detail.proposalSharePremium.title' | translate }}
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-center">
            <table class="success-modal-tbl">
              <tr>
                <td class="theme-label">Quote Number</td>
                <td class="pl-5 theme-value">34859 83993</td>
              </tr>
              <tr>
                <td class="theme-label">Full Name</td>
                <td class="pl-5 theme-value">Mr. Hardik Batra</td>
              </tr>
              <tr>
                <td class="theme-label">Phone Number</td>
                <td class="pl-5 theme-value">+91 98290 98280</td>
              </tr>
              <tr>
                <td class="theme-label">Email ID</td>
                <td class="pl-5 theme-value word-break-all">
                  rajesharora@geminisolutions.in
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 text-center mt-30">
            <button
              (click)="successModalRef.hide()"
              type="button"
              class="btn theme-sm-btn primary-btn mr-0"
            >
              {{ 'commonBtn.done' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
