<div class="theme-container convert-proposal">
  <div class="page-title">
    <div class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">CONVERT TO PROPOSAL</h3>
  </div>
  <form class="theme-form">
    <div class="medicare">
      <div class="head-sm">PROPOSAL DETAILS</div>
      <div class="premium-card-container">
        <div class="theme-radio premium-card">
          <input type="radio" id="premier" name="medicare" checked />
          <label class="premium-lbl" for="premier">
            <div class="premium-container">
              <div class="premium-header">
                <div class="premium-type">
                  <span class="info-icon pull-left">
                    <svg>
                      <use xlink:href="#ICON_Self" />
                    </svg>
                  </span>
                  <div class="pull-left m-l">
                    <div>4 Members</div>
                  </div>
                </div>
                <div class="premium-members">
                  <span>Policy Start Date</span>
                  <div class="date">11/05/2020</div>
                </div>
              </div>
              <div class="premium-body">
                <div class="premium-text">
                  <div class="premium-amt">Premium Amount</div>
                  <div class="premium-per-month">₹10,000/m</div>
                </div>
                <div class="premium-summary">
                  <div class="premium-list">
                    <span class="theme-lbl">Total Sum Insured</span
                    ><span class="premium-value">₹5,00,000</span>
                  </div>
                  <div class="premium-list">
                    <span class="theme-lbl">Product Name</span
                    ><span class="premium-value">Medicare Premier</span>
                  </div>
                  <div class="premium-list brdr-bottom">
                    <span class="theme-lbl">Tenure</span
                    ><span class="premium-value">3 Years</span>
                  </div>
                </div>
              </div>
              <div class="premium-footer">
                <div class="addons text-center link-btn">View More</div>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="pending-details w-100">
      <div class="head-sm">PENDING DETAILS</div>
      <div class="has-form">
        <div class="field-two">
          <div class="form-field">
            <button type="button" class="btn detail-btn">
              <svg class="tick-img pull-left svg-xs">
                <use xlink:href="#ICON_Tick_mark_w" />
              </svg>
              <span class="detail-label-add">ADD CUSTOMER DETAILS</span>
              <span class="detail-label">CUSTOMER DETAILS</span>
              <svg class="arrow-img pull-right">
                <use xlink:href="#ICON_right" />
              </svg>
            </button>
          </div>
          <div class="form-field">
            <button type="button" class="detail-btn btn">
              <svg class="tick-img pull-left svg-xs">
                <use xlink:href="#ICON_Tick_mark_w" />
              </svg>
              <span class="detail-label-add">ADD MEMBER DETAILS</span>
              <span class="detail-label">MEMBER DETAILS</span>
              <svg class="arrow-img pull-right">
                <use xlink:href="#ICON_right" />
              </svg>
            </button>
          </div>
          <div class="form-field">
            <button type="button" class="detail-btn btn">
              <svg class="tick-img pull-left svg-xs">
                <use xlink:href="#ICON_Tick_mark_w" />
              </svg>
              <span class="detail-label-add"> ADD BMI DETAILS</span>
              <span class="detail-label">BMI DETAILS</span>
              <svg class="arrow-img pull-right">
                <use xlink:href="#ICON_right" />
              </svg>
            </button>
          </div>
          <div class="form-field">
            <button type="button" class="detail-btn btn">
              <svg class="tick-img pull-left svg-xs">
                <use xlink:href="#ICON_Tick_mark_w" style="fill: #fff" />
              </svg>
              <span class="detail-label-add">ADD MEDICAL DETAILS</span>
              <span class="detail-label">MEDICAL DETAILS</span>
              <svg class="arrow-img pull-right">
                <use xlink:href="#ICON_right" />
              </svg>
            </button>
          </div>
          <div class="form-field">
            <button type="button" class="detail-btn btn">
              <svg class="tick-img pull-left svg-xs">
                <use xlink:href="#ICON_Tick_mark_w" style="fill: #fff" />
              </svg>
              <span class="detail-label-add">ADD LIFESTYLE DETAILS</span>
              <span class="detail-label">LIFESTYLE DETAILS</span>
              <svg class="arrow-img pull-right">
                <use xlink:href="#ICON_right" />
              </svg>
            </button>
          </div>
          <div class="form-field">
            <button type="button" class="detail-btn btn">
              <svg class="tick-img pull-left svg-xs">
                <use xlink:href="#ICON_Tick_mark_w" style="fill: #fff" />
              </svg>
              <span class="detail-label-add">ADD NOMINEE DETAILS</span>
              <span class="detail-label">NOMINEE DETAILS</span>
              <svg class="arrow-img pull-right">
                <use xlink:href="#ICON_right" />
              </svg>
            </button>
          </div>
          <div class="form-field">
            <button type="button" class="detail-btn btn">
              <svg class="tick-img pull-left svg-xs">
                <use xlink:href="#ICON_Tick_mark_w" style="fill: #fff" />
              </svg>
              <span class="detail-label-add"> ADD ADDITIONAL DETAILS</span>
              <span class="detail-label">ADDITIONAL DETAILS</span>
              <svg class="arrow-img pull-right">
                <use xlink:href="#ICON_right" />
              </svg>
            </button>
          </div>
          <div class="form-field">
            <button type="button" class="detail-btn btn">
              <svg class="tick-img pull-left svg-xs">
                <use xlink:href="#ICON_Tick_mark_w" style="fill: #fff" />
              </svg>
              <span class="detail-label-add">ADD PREVIOUS POLICY DETAILS</span>
              <span class="detail-label">PREVIOUS POLICY DETAILS</span>
              <svg class="arrow-img pull-right">
                <use xlink:href="#ICON_right" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="declartion d-inline-block">
      <div class="check-default w-100">
        <input type="checkbox" class="checkbox" id="warranty" checked />
        <label class="form-check-label" for="warranty"
          >Declaration and warranty on behalf of all persons proposed to be
          insured
        </label>
        <div class="link-btn">Read More</div>
      </div>
      <div class="check-default w-100">
        <input type="checkbox" class="checkbox" id="agent" checked />
        <label class="form-check-label" for="agent">Agent Declarations</label>
        <div class="link-btn">Read More</div>
      </div>
    </div>
    <div class="btn-block">
      <button type="button" class="btn primary-btn primary" disabled>
        Review
      </button>
    </div>
  </form>
</div>
