<div class="theme-container">
  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      {{ 'documentUpload.title' | translate
      }}<span class="p-l-md head-date">06/06</span>
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm" (click)="global.gobackallapp()"
        >{{ 'commonText.applicationBreadcrumb' | translate }}
      </span>
      <span class="head-sm" (click)="global.gobackallappPersonalAccident()">{{
        'commonText.personalAccident' | translate
      }}</span>
      <span class="head-sm"> {{ 'documentUpload.title' | translate }} </span>
    </div>
    <div class="pull-right">
      <button (click)="routeBackToProposal()" type="button" class="link-btn">
        {{ 'commonBtn.goBackToProposal' | translate }}
      </button>
    </div>
  </div>
  <!-- Page header end -->

  <form [formGroup]="documentUploadForm" class="theme-form mt-mobile">
    <div
      formArrayName="documentArr"
      *ngFor="
        let document of documentUploadForm.get('documentArr')['controls'];
        let i = index
      "
    >
      <div
        [formGroupName]="i"
        class="theme-card w-100 p-0"
        [ngClass]="{ 'card-top-spacing': i > 0 }"
      >
        <div class="card-content input-card-content">
          <div class="row">
            <button
              *ngIf="i > 0"
              (click)="removeDocumentGroupArrBtn(i)"
              class="close-icon mr-1"
            >
              <svg>
                <use xlink:href="#ICON_Cross" />
              </svg>
            </button>
            <!-- <div *ngIf="i > 0" class="col-md-12">
              <button (click)="removeDocumentGroupArrBtn(i)" type="button"
                class="btn link-btn pull-right no-shadow-link-btn">
                {{ 'commonBtn.delete' | translate }}
              </button>
            </div> -->
            <div
              [ngClass]="{
                complete: document.get('nameOfTheInsuredPerson').value
              }"
              class="col-md-6 col-lg-4 col-xl-3 form-field"
            >
              <label for="{{ 'nameOfTheInsuredPerson' + i }}" class="head-sm">{{
                'documentUpload.nameOfTheInsuredPerson.label' | translate
              }}</label>
              <ng-select
                [items]="dropDownArr"
                [searchable]="false"
                formControlName="nameOfTheInsuredPerson"
                id="{{ 'nameOfTheInsuredPerson' + i }}"
                placeholder="{{ 'commonText.select.placeholder' | translate }}"
                autocomplete="off"
              >
              </ng-select>
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div
              [ngClass]="{ complete: document.get('documentType').value }"
              class="col-md-6 col-lg-4 col-xl-3 form-field"
            >
              <label for="{{ 'documentType' + i }}" class="head-sm">{{
                'documentUpload.documentType.label' | translate
              }}</label>
              <ng-select
                [items]="dropDownArr"
                [searchable]="false"
                formControlName="documentType"
                id="{{ 'documentType' + i }}"
                placeholder="{{ 'commonText.select.placeholder' | translate }}"
                autocomplete="off"
              >
              </ng-select>
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div
              [ngClass]="{ complete: document.get('documentName').value }"
              class="form-field col-md-6 col-lg-4 col-xl-3"
            >
              <label class="head-sm text-uppercase">{{
                'documentUpload.uploadDocument.label' | translate
              }}</label>
              <span class="info-icon premium-tooltip premium-info-icon">
                <span class="tooltiptext">{{
                  'documentUpload.uploadDocument.disclaimer' | translate
                }}</span>
                <svg>
                  <use xlink:href="#ICON_tool_tip" />
                </svg>
              </span>
              <div class="custom-file">
                <input
                  type="file"
                  accept="image/jpeg,image/png,application/pdf"
                  (change)="onFileChange($event, document)"
                  class="custom-file-input"
                  id="{{ 'customFile' + i }}"
                />
                <label
                  *ngIf="!document.get('documentName').value"
                  class="custom-file-label form-control"
                  for="{{ 'customFile' + i }}"
                  ><svg class="icon-uploadFile m-r-sm">
                    <use xlink:href="#ICON_FileUpload" /></svg
                  >{{
                    'underWriterDiscrepency.uploadFile.label' | translate
                  }}</label
                >
                <label
                  *ngIf="document.get('documentName').value"
                  class="custom-file-label form-control file-label-selected"
                  for="{{ 'customFile' + i }}"
                  ><span class="text-truncate">{{
                    document.get('documentName').value
                  }}</span>
                  <span
                    ><button
                      (click)="removeDocFile(document)"
                      class="btn font-sm link-btn text-uppercase"
                    >
                      {{ 'underWriterDiscrepency.remove.label' | translate }}
                    </button></span
                  >
                </label>
                <span class="error-msg file-err-msg">{{
                  'commonText.requiredError' | translate
                }}</span>
              </div>
            </div>
            <div
              [ngClass]="{ complete: document.get('remarks').value }"
              class="col-md-6 col-lg-4 col-xl-3 form-field upload-file-mt"
            >
              <label for="{{ 'remarks' + i }}" class="head-sm">{{
                'documentUpload.remarks.label' | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="remarks"
                name="{{ 'remarks' + i }}"
                id="{{ 'remarks' + i }}"
                placeholder="{{
                  'documentUpload.remarks.placeholder' | translate
                }}"
                autocomplete="off"
              />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Document Button -->
    <div class="row">
      <div class="col-md-12 card-top-spacing">
        <button
          (click)="addDocumentArrBtn()"
          type="button"
          class="btn link-btn no-shadow-link-btn"
        >
          {{ 'documentUpload.addFileBtn' | translate }}
        </button>
      </div>
    </div>

    <!-- Save Review Button -->
    <div class="btn-block btn-top-spacing">
      <button
        type="button"
        class="btn primary-btn theme-sm-btn mob-text-btn mob-first-btn"
      >
        {{ 'commonBtn.save' | translate }}
      </button>
      <button
        [class.highlighted]="documentUploadForm.status == 'VALID'"
        (click)="routeBackToProposal()"
        type="button"
        class="btn theme-sm-btn primary-btn mob-btn"
      >
        {{ 'commonBtn.review' | translate }}
      </button>
    </div>
  </form>
</div>
