@import '../../../sass/variable';
@import '../../../sass/mixins';

.pos-rel {
  position: relative;
}

.center-width {
  width: 100%;
  position: relative;
  height: Calc(100vh - 95px);
  max-width: 510px;
  margin: 0 auto;
}

.payment-popup {
  position: relative;
  top: 50%;
  float: left;
  transform: translate(-50%, -50%);
  width: 100%;
  left: 50%;
}

.head-mes {
  font-size: 30px;
  font-family: Poppins-Medium $imp;
  color: $clr-primary;
}

.notfound-img {
  @include square(250px);
}

.payment-details {
  max-width: 360px;
  margin: 0 auto;
  float: none;
}

.theme-value,
.theme-label {
  font-family: Poppins-Medium $imp;
}

@media (max-width: 1680px) {
  .payment-details {
    max-width: 300px;
    width: 100%;
  }

  .head-mes {
    font-size: 20px $imp;
  }

  .center-width {
    max-width: 395px;
  }

  .notfound-img {
    @include square(160px);
  }
}
