<div class="payment-details-container fw-100">
  <div class="center-width">
    <div class="payment-popup">
      <div class="text-center fw-100">
        <div>
          <!-- <svg class="icon-blue"><use xlink:href="#pagenotfound" /></svg> --><img
            class="notfound-img"
            src="assets/images/404_icon.svg"
          />
        </div>
        <div class="head-mes text-center m-t-md">Page Not Found</div>
      </div>
    </div>
  </div>
</div>
