<div class="quote-listing">
  <div class="w-100 text-center">
    <div class="head-md m-b-md">QUOTE LISTING</div>
    <div class="head-sm m-b-xs f-bold">MAHENDRA SINGH SHEKAWAT</div>
    <div class="head-sm quote-num">288801</div>
  </div>
  <div class="quote-tabs w-100">
    <tabset [justified]="true" class="theme-tab">
      <tab customClass="tab-item quotes">
        <ng-template tabHeading>
          <span>QUOTES</span>
        </ng-template>
        <div class="quote-listing-container">
          <div class="form-group filter-input">
            <div class="input-group">
              <input
                class="form-control"
                id=""
                placeholder="Quote Number"
                aria-label="Input group"
                type="text"
              />
              <div class="input-group-append">
                <img
                  src="assets/images/LINEAR ICONS/ICON_Search.svg"
                  alt=""
                  class="birthday-img"
                />
              </div>
            </div>
          </div>
          <div class="filter">
            <span class="info-icon m-r-sm pull-left">
              <svg>
                <use xlink:href="#ICON_Self" />
              </svg>
            </span>
          </div>
          <div class="d-inline-block w-100">
            <span
              ><button type="button" class="btn quotelist-btn">
                Send
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Saved
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Car
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Medicare
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                2 wheeler
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Gold
              </button></span
            >
          </div>
          <div class="w-100 card-detail m-t-md">
            <div class="premium-card-container">
              <div class="theme-radio premium-card">
                <input type="radio" id="premier" name="medicare" checked />
                <label class="premium-lbl" for="premier">
                  <div class="premium-container">
                    <div class="premium-header">
                      <div class="premium-type">
                        <div class="pull-left">
                          <div>
                            <span class="info-icon m-r-sm pull-left">
                              <svg>
                                <use xlink:href="#ICON_Self" />
                              </svg> </span
                            ><span class="mem">4 Members</span>
                          </div>
                        </div>
                      </div>
                      <div class="premium-members">
                        <span class="day">YESTERDAY</span>
                        <span class="info-icon">
                          <svg>
                            <use xlink:href="#ICON_tool_tip" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div class="premium-body">
                      <div class="premium-text">
                        <div class="premium-amt">Premium Amount</div>
                        <div class="premium-per-month">10,000/m</div>
                      </div>
                      <div class="premium-summary">
                        <div class="premium-list">
                          <span class="theme-lbl">Medicare Protect</span
                          ><span class="premium-value">Flooter</span>
                        </div>
                        <div class="premium-list qte-num">
                          <span class="pull-left theme-lbl"
                            >NB/Q/M/288801/0000260482</span
                          >
                          <span class="pull-right icon-grp"
                            ><span class="info-icon">
                              <svg>
                                <use xlink:href="#ICON_Star" />
                              </svg> </span
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </label>
              </div>

              <div class="theme-radio premium-card">
                <input type="radio" id="premier" name="medicare" checked />
                <label class="premium-lbl" for="premier">
                  <div class="premium-container">
                    <div class="premium-header">
                      <div class="premium-type">
                        <span class="info-icon pull-left m-r-sm">
                          <svg>
                            <use xlink:href="#ICON_tool_tip" />
                          </svg>
                        </span>
                        <span class="pull-left mem">
                          <div>MH 01 AR 8564</div>
                        </span>
                      </div>
                      <div class="premium-members">
                        <span class="day">28/7/1991</span>
                        <span class="info-icon">
                          <svg>
                            <use xlink:href="#ICON_tool_tip" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div class="premium-body">
                      <div class="premium-text">
                        <div class="premium-amt">Premium Amount</div>
                        <div class="premium-per-month">10,000/y</div>
                      </div>
                      <div class="premium-summary">
                        <div class="premium-list">
                          <span class="theme-lbl">Gold</span
                          ><span class="premium-value"
                            >1 Year Old 3 Year Tp</span
                          >
                        </div>
                        <div class="premium-list qte-num">
                          <span class="pull-left theme-lbl"
                            >NB/Q/M/288801/0000260482</span
                          >
                          <span class="pull-right icon-grp"
                            ><span class="info-icon">
                              <svg>
                                <use xlink:href="#ICON_tool_tip" />
                              </svg> </span
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab customClass="tab-item draft">
        <ng-template tabHeading>
          <span>DRAFT</span>
        </ng-template>
        <div class="quote-listing-container">
          <div class="form-group filter-input">
            <div class="input-group">
              <input
                class="form-control"
                id=""
                placeholder="Quote Number"
                aria-label="Input group"
                type="text"
              />
              <div class="input-group-append">
                <img
                  alt=""
                  src="assets/images/LINEAR ICONS/ICON_Search.svg"
                  class="birthday-img"
                />
              </div>
            </div>
          </div>
          <div class="filter">
            <span class="info-icon m-r-sm pull-left">
              <svg>
                <use xlink:href="#ICON_Self" />
              </svg>
            </span>
          </div>
          <div class="d-inline-block w-100">
            <span
              ><button type="button" class="btn quotelist-btn">
                Send
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Saved
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Car
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Medicare
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                2 wheeler
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Gold
              </button></span
            >
          </div>
          <div class="w-100 card-detail m-t-md">
            <div class="premium-card-container">
              <div class="theme-radio premium-card">
                <input type="radio" id="premier" name="medicare" checked />
                <label class="premium-lbl" for="premier">
                  <div class="premium-container">
                    <div class="premium-header">
                      <div class="premium-type">
                        <div class="pull-left">
                          <div>Medi Care</div>
                          <div>Premier</div>
                        </div>
                        <span class="info-icon">
                          <svg>
                            <use xlink:href="#ICON_tool_tip" />
                          </svg>
                        </span>
                      </div>
                      <div class="premium-members">
                        <span>4 Members</span>
                      </div>
                    </div>
                    <div class="premium-body">
                      <div class="premium-text">
                        <div class="premium-amt">Premium Amount</div>
                        <div class="premium-per-month">10,000/m</div>
                      </div>
                      <div class="premium-summary">
                        <div class="premium-list">
                          <span class="theme-lbl">Accommodation Type</span
                          ><span class="premium-value">Shared</span>
                        </div>
                        <div class="premium-list">
                          <span class="theme-lbl">Accidental death rider</span
                          ><span class="premium-value">Yes</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </label>
              </div>
              <div class="theme-radio premium-card">
                <input type="radio" id="product" name="medicare" />
                <label class="premium-lbl" for="product">
                  <div class="premium-container">
                    <div class="premium-header">
                      <div class="premium-type">
                        <div class="pull-left">
                          <div>Medi Care</div>
                          <div>Protect</div>
                        </div>
                        <span class="info-icon">
                          <svg>
                            <use xlink:href="#ICON_tool_tip" />
                          </svg>
                        </span>
                      </div>
                      <div class="premium-members">
                        <span>4 Members</span>
                      </div>
                    </div>
                    <div class="premium-body">
                      <div class="premium-text">
                        <div class="premium-amt">Premium Amount</div>
                        <div class="premium-per-month">3,900/m</div>
                      </div>
                      <div class="premium-summary">
                        <div class="premium-list">
                          <span class="theme-lbl">Accommodation Type</span
                          ><span class="premium-value">Shared</span>
                        </div>
                        <div class="premium-list">
                          <span class="theme-lbl">Accidental death rider</span
                          ><span class="premium-value">Yes</span>
                        </div>
                      </div>
                    </div>
                    <div class="premium-footer">
                      <div class="addons text-center">
                        Add Ons / Modify Cover
                      </div>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab customClass="tab-item favouitequotes">
        <ng-template tabHeading>
          <span>FAVOUITE QUOTES</span>
        </ng-template>
        <div class="quote-listing-container">
          <div class="form-group filter-input">
            <div class="input-group">
              <input
                class="form-control"
                id=""
                placeholder="Quote Number"
                aria-label="Input group"
                type="text"
              />
              <div class="input-group-append">
                <img
                  alt=""
                  src="assets/images/LINEAR ICONS/ICON_Search.svg"
                  class="birthday-img"
                />
              </div>
            </div>
          </div>
          <div class="filter">
            <span class="info-icon m-r-sm pull-left">
              <svg>
                <use xlink:href="#ICON_Self" />
              </svg>
            </span>
          </div>
          <div class="d-inline-block w-100">
            <span
              ><button type="button" class="btn quotelist-btn">
                Send
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Saved
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Car
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Medicare
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                2 wheeler
              </button></span
            >
            <span
              ><button type="button" class="btn quotelist-btn">
                Gold
              </button></span
            >
          </div>
          <div id="quotes" class="w-100 m-t-sm">
            <div class="empty-card font-xs w-100">
              You have not created any quotes last 24 hours
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
