<div class="theme-container">
  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      {{ 'additionalDetails.title' | translate
      }}<span class="p-l-md head-date">05/06</span>
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm" (click)="global.gobackallapp()"
        >{{ 'commonText.applicationBreadcrumb' | translate }}
      </span>
      <span class="head-sm" (click)="global.gobackallappPersonalAccident()">{{
        'commonText.personalAccident' | translate
      }}</span>
      <span class="head-sm"> {{ 'additionalDetails.title' | translate }} </span>
    </div>
    <div class="pull-right">
      <button (click)="routeBackToProposal()" type="button" class="link-btn">
        {{ 'commonBtn.goBackToProposal' | translate }}
      </button>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Form Start -->
  <form [formGroup]="additionalDetailsForm" class="theme-form mt-mobile">
    <div class="theme-card w-100 p-0">
      <div class="card-content input-card-content">
        <div class="row">
          <div
            [ngClass]="{
              complete: additionalDetailsForm.get('customerPanNumber').value
            }"
            class="col-md-6 col-lg-4 col-xl-3 form-field"
          >
            <label for="customerPanNumber" class="head-sm">{{
              'additionalDetails.customerPanNumber.label' | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="customerPanNumber"
              name="customerPanNumber"
              id="customerPanNumber"
              placeholder="{{
                'additionalDetails.customerPanNumber.placeholder' | translate
              }}"
              autocomplete="off"
              onpaste="return false;"
            />
            <span class="error-msg">
              {{ 'commonText.requiredError' | translate }}
            </span>
          </div>
          <div
            [ngClass]="{
              complete: additionalDetailsForm.get('customerGstinNo').value
            }"
            class="col-md-6 col-lg-4 col-xl-3 form-field"
          >
            <label for="customerGstinNo" class="head-sm">{{
              'additionalDetails.customerGstinNo.label' | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="customerGstinNo"
              name="customerGstinNo"
              id="customerGstinNo"
              placeholder="{{
                'additionalDetails.customerGstinNo.placeholder' | translate
              }}"
              autocomplete="off"
              onpaste="return false;"
              (keypress)="isNumberKey($event)"
            />
            <span class="error-msg">
              {{ 'commonText.requiredError' | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Save Next Buttons -->
    <div class="btn-block btn-top-spacing">
      <button
        type="button"
        class="btn primary-btn theme-sm-btn mob-text-btn mob-first-btn"
      >
        {{ 'commonBtn.save' | translate }}
      </button>
      <button
        [class.highlighted]="additionalDetailsForm.status == 'VALID'"
        (click)="route()"
        type="button"
        class="btn theme-sm-btn primary-btn mob-btn"
      >
        {{ 'commonBtn.next' | translate }}
      </button>
    </div>
  </form>
  <!-- Form End -->
</div>
