.border-dotted
    border-bottom: 1px dotted lightgrey
.theme-label
    word-break: break-word !important
.err-position
    margin-top: 0px !important
.card_margin
    margin-bottom: 0px
    margin-top: 0px
.break-err-msg
    display: none
.ticket-card-height
    min-height : 400px
.contact-card-height
    min-height : 225px
.preview-details .theme-card
    cursor : pointer
.preview-details .ticket-form
    cursor : alias
.file-label-selected
    display : flex
    justify-content : between
    align-items : center

@media ( min-width: 1601px )
    #cancel_btn, #create_btn
        padding: 15px
        margin-right: 30px
        margin-bottom: 10px
    .err-position
        margin-top: 15px !important
    .break-err-msg
        display: block
@media ( min-width: 577px )
    .card_margin
        margin-bottom: 25px
@media (max-width: 768px)
    .ticket-card-height
        min-height : 510px
@media (min-width: 320px) and (max-width: 576px)
    .helpTicketBtn
        text-align : center
    .helpTicketBtn button
        min-width : auto !important
        width : 50% !important
    .ticket-card-height, .contact-card-height 
        min-height : auto
    .mt-mobile
        margin-top: 2rem
@media screen and (min-width: 1920px)
    .custom-file-label
        height: 70px
        display: flex
        align-items: center
        justify-content: center


