<div class="theme-container" #target>
  <!-- Page header start -->
  <div class="page-title">
    <div class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">help</h3>
  </div>
  <!-- Page header end -->

  <!-- Form Start -->

  <div class="mt-3">
    <div class="row">
      <div class="col-md-12">
        <div class="border-dotted mb-4 mt-mobile">
          <label class="theme-label">get in touch</label>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col-12 card_margin">
            <form class="theme-form">
              <div class="preview-details">
                <div class="theme-card full p-m">
                  <div class="card-content d-flex flex-row">
                    <div>
                      <span class="theme-value">General FAQ's</span>
                      <br />
                      <span class="theme-label"
                        >Frequently Asked Questions</span
                      >
                    </div>
                    <div class="ml-auto mr-0">
                      <button class="btn quotelist-btn">
                        <svg class="svg-xs">
                          <use xlink:href="#ICON_tool_tip" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 card_margin">
            <form class="theme-form mt-mobile">
              <div class="preview-details">
                <div class="theme-card full p-m">
                  <div class="card-content d-flex flex-row">
                    <div>
                      <span class="theme-value">Blog</span>
                      <br />
                      <span class="theme-label">Visit Our Blog</span>
                    </div>
                    <div class="ml-auto mr-0">
                      <button class="btn quotelist-btn">
                        <svg class="svg-xs">
                          <use xlink:href="#ICON_BLOG" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col-12 card_margin">
            <form class="theme-form mt-mobile" (click)="route()">
              <div class="preview-details">
                <div class="theme-card full p-m">
                  <div class="card-content d-flex flex-row">
                    <div>
                      <span class="theme-value">View All Tickets</span>
                      <br />
                      <span class="theme-label"
                        >Check Tickets Status and & Details</span
                      >
                    </div>
                    <div class="ml-auto mr-0">
                      <button class="btn quotelist-btn">
                        <svg class="svg-xs">
                          <use xlink:href="#ICON_TICKET" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 card_margin">
            <form class="theme-form mt-mobile">
              <div class="preview-details">
                <div class="theme-card full p-m">
                  <div class="card-content d-flex flex-row">
                    <div>
                      <span class="theme-value">Request Support</span>
                      <br />
                      <span class="theme-label"
                        >Complain Regarding Lab/Applications</span
                      >
                    </div>
                    <div class="ml-auto mr-0">
                      <button class="btn quotelist-btn">
                        <svg class="svg-xs">
                          <use xlink:href="#ICON_INFO_CIRCLE" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 card_margin">
        <form class="theme-form mt-mobile">
          <div class="preview-details">
            <div class="theme-card full p-m">
              <div class="card-content contact-card-height">
                <span class="theme-value">Contact Us</span>
                <br />
                <span class="head-sm">24/7 Toll Free Number</span>
                <br />
                <span class="theme-label">1800-266-7780</span>
                <hr class="border-dotted" />
                <span class="head-sm">Email Id</span>
                <br />
                <span class="theme-label">
                  <a href="mailto:customersupport@tataaig.com"
                    >customersupport@tataaig.com</a
                  ></span
                >
                <br /><br />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-4 card_margin">
        <form class="theme-form mt-mobile">
          <div class="preview-details">
            <div class="theme-card full p-m">
              <div class="card-content ticket-card-height">
                <span class="theme-value">Recent Uploads</span>
                <br /><br />
                <span class="head-sm"><u>Downloads</u></span>
                <br />
                <span class="theme-label">22/10/2020 22:30</span>
                <hr class="border-dotted" />
                <span class="head-sm"><u>Disclaimer</u></span>
                <br />
                <span class="theme-label">22/10/2020 22:30</span>
                <hr class="border-dotted" />
                <span class="head-sm"><u>Privacy Policy</u></span
                ><br />
                <span class="theme-label">22/10/2020 22:30</span>
                <br /><br />
                <br /><br />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-8 card_margin">
        <form class="theme-form mt-mobile" [formGroup]="helpTicketForm">
          <div class="theme-card full p-m ticket-form">
            <div class="card-content">
              <span class="theme-value">Create New Ticket</span>
              <div class="row mt-2">
                <div
                  [ngClass]="{
                    complete: helpTicketForm.get('applicationModule').value
                  }"
                  class="form-field col-md-6 col-lg-4"
                >
                  <label for="appModule" class="head-sm text-uppercase"
                    >application module</label
                  >
                  <ng-select
                    [items]="appModuleArr"
                    [searchable]="false"
                    placeholder="Select"
                    class="ngSelectOption 1"
                    formControlName="applicationModule"
                    id="appModule"
                  >
                  </ng-select>
                  <span class="error-msg"> Required * </span>
                </div>
                <div
                  [ngClass]="{
                    complete: helpTicketForm.get('userContact').value
                  }"
                  class="form-field col-md-6 col-lg-4"
                >
                  <label for="userContact" class="head-sm text-uppercase"
                    >user contact</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    formControlName="userContact"
                    name="userContact"
                    id="userContact"
                    (keypress)="isNumberKey($event)"
                    autocomplete="off"
                  />
                  <span class="error-msg"> Required * </span>
                </div>
                <div
                  [ngClass]="{
                    complete: helpTicketForm
                      .get('documentGroup')
                      .get('documentName').value
                  }"
                  class="form-field col-md-6 col-lg-4"
                >
                  <label class="head-sm text-uppercase">upload file</label>
                  <div formGroupName="documentGroup" class="custom-file">
                    <input
                      type="file"
                      accept="image/jpeg,image/png,application/pdf"
                      (change)="onFileChange($event)"
                      class="custom-file-input"
                      id="customFile"
                    />
                    <label
                      *ngIf="
                        !helpTicketForm.get('documentGroup').get('documentName')
                          .value
                      "
                      class="custom-file-label form-control"
                      for="customFile"
                      ><svg class="icon-uploadFile m-r-sm">
                        <use xlink:href="#ICON_FileUpload" /></svg
                      >Upload file</label
                    >
                    <label
                      *ngIf="
                        helpTicketForm.get('documentGroup').get('documentName')
                          .value
                      "
                      class="custom-file-label form-control file-label-selected"
                      for="customFile"
                      ><span class="text-truncate">{{
                        helpTicketForm.get('documentGroup').get('documentName')
                          .value
                      }}</span>
                      <span
                        ><button
                          (click)="removeDocFile()"
                          class="btn font-sm link-btn text-uppercase"
                        >
                          Remove
                        </button></span
                      >
                    </label>
                    <span
                      class="d-inline-block error-msg position-relative err-position"
                    >
                      Required *
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  [ngClass]="{ complete: helpTicketForm.get('remarks').value }"
                  class="form-field col-md-12"
                >
                  <label for="remarks" class="head-sm text-uppercase"
                    >remarks</label
                  >
                  <textarea
                    type="text"
                    class="form-control"
                    formControlName="remarks"
                    id="remarks"
                    autocomplete="off"
                  ></textarea>
                  <br class="break-err-msg" />
                  <span class="error-msg"> Required * </span>
                </div>
              </div>
              <div class="row helpTicketBtn mt-2">
                <div class="col-md-12">
                  <!-- <button type="button" class="btn primary-btn theme-lg-btn"
                                        id="cancel_btn">Cancel</button> -->
                  <button
                    type="button"
                    class="btn primary-btn theme-lg-btn mr-0"
                    id="create_btn"
                    (click)="routeBack()"
                  >
                    Create
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Form End -->
</div>
