<div class="theme-container" #target>
  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <div class="head-lg heading">
      <span class="text-uppercase">{{
        'convertToProposal.title' | translate
      }}</span>
    </div>
    <div class="pull-right breadcrum">
      <span class="head-sm" (click)="global.gobackallapp()">{{ 'commonText.applicationBreadcrumb' | translate }}
      </span>
      <span class="head-sm" (click)="global.gobackallappPersonalAccident()">{{
        'commonText.personalAccident' | translate
      }}</span>
      <span class="head-sm">{{ 'convertToProposal.title' | translate }}</span>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Form start -->
  <form class="theme-form mt-mobile">
    <!-- Proposal details card start -->
    <div class="medicare">
      <div class="row">
        <div class="col-md-12">
          <div class="p-l-8 head-sm color-asqi">
            <span class="text-uppercase">{{
              'convertToProposal.proposal.header' | translate
            }}</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="premium-card-container premium-card theme-radio mr-0">
            <label class="premium-lbl premium-container mb-0">
              <div class="premium-header">
                <div class="premium-type d-flex-acenter">
                  <span class="bg-icon pull-left member-icon">
                    <svg class="svg-xs member-icon-fill">
                      <use xlink:href="#ICON_Self"></use>
                    </svg>
                  </span>
                  <div class="pull-left ml-3 max-width-90px">
                    <div class="d-flex flex-column">
                      <span class="theme-value">{{ 'ssb' | translate }}</span>
                      <span>3
                        {{
                          'convertToProposal.members.label' | translate
                        }}</span>
                    </div>
                  </div>
                </div>
                <div class="premium-members">
                  <span class="date-head">{{
                    'convertToProposal.policy.date' | translate
                  }}</span>
                  <div class="date">04 / 03 / 2021</div>
                </div>
              </div>
              <div class="premium-body mb-4">
                <div class="premium-text">
                  <div class="premium-amt">
                    <span>{{
                      'convertToProposal.amount.header' | translate
                    }}</span>
                  </div>
                  <div class="premium-per-month">
                    <i class="fa fa-inr"></i>10,000/-
                  </div>
                </div>
                <div class="premium-summary">
                  <div class="premium-list">
                    <span class="theme-lbl">{{
                      'convertToProposal.totalSumInsured.label' | translate
                    }}</span><span class="premium-value"><i class="fa fa-inr"></i>500,000</span>
                  </div>
                  <div class="premium-list">
                    <span class="theme-lbl">{{
                      'convertToProposal.planType.label' | translate
                    }}</span><span class="premium-value"> Family</span>
                  </div>
                  <div class="premium-list">
                    <span class="theme-lbl">{{
                      'convertToProposal.tenure.label' | translate
                    }}</span><span class="premium-value"> 1 Year</span>
                  </div>
                </div>
              </div>
              <div class="premium-footer">
                <div class="addons text-center" (click)="
                    openPremiumBreakupModal(premium_breakup_modal_template)
                  ">
                  {{ 'commonBtn.viewPremiumBreakup' | translate }}
                </div>
              </div>
              <!-- <div class="footer w-100 d-inline-block m-t-md">
                                <div class="text-center link-btn">{{ 'convertToProposal.linkbtn' | translate }}</div>
                            </div> -->
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- Proposal details card end -->

    <!-- Route cards start -->
    <div class="pending-details card-top-spacing">
      <div class="row">
        <div class="col-md-12">
          <div class="p-l-8 head-sm opacity-sm">
            <span class="text-uppercase">{{
              'convertToProposal.pendingDetails.header' | translate
            }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Routing Card 1 start -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <button (click)="addDetails('customerDetails')"
            [ngClass]="{ 'svg-added': detailsCompleted['customerDetails'] }" class="btn detail-btn cvp-btn">
            <svg *ngIf="detailsCompleted['customerDetails']" class="tick-img pull-left svg-xs">
              <use xlink:href="#ICON_Tick_mark_w" />
            </svg>
            <span *ngIf="!detailsCompleted['customerDetails']" class="detail-label detail-value text-uppercase">
              {{ 'convertToProposal.customerDetails.label' | translate }}
            </span>
            <span *ngIf="detailsCompleted['customerDetails']" class="detail-label detail-value pl-3 text-uppercase">
              {{ 'convertToProposal.customerDetails.title' | translate }}
            </span>
            <svg class="arrow-img pull-right">
              <use xlink:href="#ICON_right" />
            </svg>
          </button>
        </div>
        <!-- Routing Card 1 end -->

        <!-- Routing Card 2 start -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <button (click)="addDetails('memberProposalDetails')"
            [ngClass]="{ 'svg-added': detailsCompleted['memberDetails'] }" class="btn detail-btn cvp-btn">
            <svg *ngIf="detailsCompleted['memberDetails']" class="tick-img pull-left svg-xs">
              <use xlink:href="#ICON_Tick_mark_w" />
            </svg>
            <span *ngIf="!detailsCompleted['memberDetails']" class="detail-label detail-value text-uppercase">
              {{ 'convertToProposal.memberDetails.label' | translate }}
            </span>
            <span *ngIf="detailsCompleted['memberDetails']" class="detail-label detail-value pl-3 text-uppercase">
              {{ 'convertToProposal.memberDetails.title' | translate }}
            </span>
            <svg class="arrow-img pull-right">
              <use xlink:href="#ICON_right" />
            </svg>
          </button>
        </div>
        <!-- Routing Card 2 end -->

        <!-- Routing Card 3 start -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <button (click)="addDetails('nomineeDetails')" [ngClass]="{ 'svg-added': detailsCompleted['nomineeDetails'] }"
            class="btn detail-btn cvp-btn">
            <svg *ngIf="detailsCompleted['nomineeDetails']" class="tick-img pull-left svg-xs">
              <use xlink:href="#ICON_Tick_mark_w" />
            </svg>
            <span *ngIf="!detailsCompleted['nomineeDetails']" class="detail-label detail-value text-uppercase">
              {{ 'convertToProposal.nomineeDetails.label' | translate }}
            </span>
            <span *ngIf="detailsCompleted['nomineeDetails']" class="detail-label detail-value pl-3 text-uppercase">
              {{ 'convertToProposal.nomineeDetails.title' | translate }}
            </span>
            <svg class="arrow-img pull-right">
              <use xlink:href="#ICON_right" />
            </svg>
          </button>
        </div>
        <!-- Routing Card 3 end -->

        <!-- Routing Card 4 start -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <button (click)="addDetails('additionalPolicyDetails')" [ngClass]="{
              'svg-added': detailsCompleted['additionalPolicyDetails']
            }" class="btn detail-btn cvp-btn">
            <svg *ngIf="detailsCompleted['additionalPolicyDetails']" class="tick-img pull-left svg-xs">
              <use xlink:href="#ICON_Tick_mark_w" />
            </svg>
            <span *ngIf="!detailsCompleted['additionalPolicyDetails']" class="detail-label detail-value text-uppercase">
              {{
                'convertToProposal.additionalPolicyDetails.label' | translate
              }}
            </span>
            <span *ngIf="detailsCompleted['additionalPolicyDetails']"
              class="detail-label detail-value pl-3 text-uppercase">
              {{
                'convertToProposal.additionalPolicyDetails.title' | translate
              }}
            </span>
            <svg class="arrow-img pull-right">
              <use xlink:href="#ICON_right" />
            </svg>
          </button>
        </div>
        <!-- Routing Card 4 end -->

        <!-- Routing Card 5 start -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <button (click)="addDetails('additionalDetails')"
            [ngClass]="{ 'svg-added': detailsCompleted['additionalDetails'] }" class="btn detail-btn cvp-btn">
            <svg *ngIf="detailsCompleted['additionalDetails']" class="tick-img pull-left svg-xs">
              <use xlink:href="#ICON_Tick_mark_w" />
            </svg>
            <span *ngIf="!detailsCompleted['additionalDetails']" class="detail-label detail-value text-uppercase">
              {{ 'convertToProposal.additionalDetails.label' | translate }}
            </span>
            <span *ngIf="detailsCompleted['additionalDetails']" class="detail-label detail-value pl-3 text-uppercase">
              {{ 'convertToProposal.additionalDetails.title' | translate }}
            </span>
            <svg class="arrow-img pull-right">
              <use xlink:href="#ICON_right" />
            </svg>
          </button>
        </div>
        <!-- Routing Card 5 end -->

        <!-- Routing Card 6 start -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <button (click)="addDetails('documentUpload')" [ngClass]="{ 'svg-added': detailsCompleted['documentUpload'] }"
            class="btn detail-btn cvp-btn">
            <svg *ngIf="detailsCompleted['documentUpload']" class="tick-img pull-left svg-xs">
              <use xlink:href="#ICON_Tick_mark_w" />
            </svg>
            <span *ngIf="!detailsCompleted['documentUpload']" class="detail-label detail-value text-uppercase">
              {{ 'convertToProposal.documentUpload.label' | translate }}
            </span>
            <span *ngIf="detailsCompleted['documentUpload']" class="detail-label detail-value pl-3 text-uppercase">
              {{ 'convertToProposal.documentUpload.title' | translate }}
            </span>
            <svg class="arrow-img pull-right">
              <use xlink:href="#ICON_right" />
            </svg>
          </button>
        </div>
        <!-- Routing Card 6 end -->
      </div>

      <!-- Declaration checkboxes start -->
      <div class="row card-top-spacing">
        <div class="col-md-12">
          <div class="check-default">
            <input type="checkbox" class="checkbox" id="disclaimer1" />
            <label for="disclaimer1" class="theme-value font-poppins-medium">{{
              'declarationTemplate.personDeclarationTemplate.title' | translate
            }}</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="check-default pt-0">
            <button (click)="declareQuote(declaration_template, 'person')"
              class="btn link-btn pl-0 pt-0 no-shadow-link-btn">
              {{ 'convertToProposal.readMoreBtn' | translate }}
            </button>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <div class="check-default">
            <input type="checkbox" class="checkbox" id="disclaimer2" />
            <label for="disclaimer2" class="theme-value font-poppins-medium">{{
              'convertToProposal.disclaimer2' | translate
            }}</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="check-default pt-0">
            <button class="btn link-btn pl-0 pt-0 no-shadow-link-btn"
              (click)="declareQuote(declaration_template, 'agent')">
              {{ 'convertToProposal.readMoreBtn' | translate }}
            </button>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <div class="check-default">
            <input type="checkbox" class="checkbox" id="disclaimer3" />
            <label for="disclaimer3" class="theme-value font-poppins-medium">{{
              'commonBtn.greenBtn' | translate
            }}</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="check-default pt-0">
            <button class="btn link-btn pl-0 pt-0 no-shadow-link-btn"
              (click)="declareQuote(declaration_template, 'go_green')">
              {{ 'convertToProposal.readMoreBtn' | translate }}
            </button>
          </div>
        </div>
      </div>
      <!-- Declaration checkboxes end -->
    </div>
    <!-- Route cards end -->

    <div class="btn-block btn-top-spacing">
      <button (click)="route()" class="btn primary-btn theme-lg-btn">
        {{ 'commonBtn.review' | translate }}
      </button>
    </div>
  </form>
  <!-- Form end -->
</div>

<!-- Declaration template start -->
<ng-template #declaration_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-xl success-info pb-modal">
      <div class="modal-header">
        <div class="close-icon" (click)="declarationModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body succes-container preview-details declaration-template">
        <div class="flex-box-100">
          <div class="fw-100">
            <div class="head-sm pull-left text-uppercase">
              {{ 'declarationTemplate.header' | translate }}
            </div>
          </div>
          <ng-container *ngIf="docType == 'agent'">
            <div class="fw-100 declaration-head">
              <div class="theme-value m-b-sm">
                {{ 'convertToProposal.disclaimer2' | translate }}
              </div>
            </div>
            <div class="pull-left">
              <span
                class="agentDeclaration-span theme-label">{{ 'declarationTemplate.agentDeclaration.value' | translate }}
              </span>
            </div>
            <div class="pull-left pt-4">
              <span class="agentDeclaration-span theme-label">
                {{
                  'declarationTemplate.agentDeclaration.licenses.label'
                    | translate
                }}
              </span>
            </div>
            <div class="pull-left pt-4">
              <span class="agentDeclaration-span theme-label">
                {{
                  'declarationTemplate.agentDeclaration.place.label' | translate
                }}
              </span>
              <span class="agentDeclaration-span theme-label pl-3">
                {{
                  'declarationTemplate.agentDeclaration.date.label' | translate
                }}
              </span>
            </div>

            <!-- <ol class="rq-list">
                        <li class="declaration-li">
                            I, (Full Name) in my capacity as an Insurance Advisor / Specified Person of the Corporate Agent /Authorized employee of the Broker / Relationship Officer, do hereby declare that I have explained all the contents of this Proposal Form, including the nature of the questions contained in this Proposal Form to the Proposer including statement(s), information and response(s) submitted by him/her in this Proposal Form to questions contained herein or any details sought herein will form the basis of the Contract of Insurance between the Company and the Proposer, if this Proposal is accepted by the Company for issuance of the Policy. I have further explained that if any untrue statement(s)/ information/ response(s) is/are contained in this Proposal Form/ including addendum(s), affidavits, statements, submissions, furnished/to be furnished, the Company shall have the right to vary the benefits which may be payable and further more if there has been a non-disclosure of any material fact, the policy issued to his/her favour pursuant to this Proposal may be treated by the Company as null and void and all premiums paid under the Policy may be forfieted to the Company.                  
                        </li>
                    </ol> -->
          </ng-container>
          <ng-container *ngIf="docType == 'go_green'">
            <div class="fw-100 declaration-head">
              <div class="theme-value m-b-sm">
                {{ 'commonBtn.greenBtn' | translate }}
              </div>
            </div>
            <div class="pull-left">
              <span class="agentDeclaration-span theme-label">{{ 'convertToProposal.agent.text' | translate }}
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="docType == 'person'">
            <div class="fw-100">
              <div class="theme-value m-b-sm pull-left">
                {{
                  'declarationTemplate.personDeclarationTemplate.title'
                    | translate
                }}
              </div>
            </div>
            <ol class="rq-list">
              <li class="theme-label">
                {{
                  'declarationTemplate.personDeclarationTemplate.declarationLi1'
                    | translate
                }}
              </li>
              <li class="theme-label p-h-xs">
                {{
                  'declarationTemplate.personDeclarationTemplate.declarationLi2'
                    | translate
                }}
              </li>
              <li class="theme-label">
                {{
                  'declarationTemplate.personDeclarationTemplate.declarationLi3'
                    | translate
                }}
              </li>
              <li class="theme-label p-h-xs">
                {{
                  'declarationTemplate.personDeclarationTemplate.declarationLi4'
                    | translate
                }}
              </li>
              <li class="theme-label">
                {{
                  'declarationTemplate.personDeclarationTemplate.declarationLi5'
                    | translate
                }}
              </li>
              <li class="theme-label p-h-xs">
                {{
                  'declarationTemplate.personDeclarationTemplate.declarationLi6'
                    | translate
                }}
              </li>
            </ol>
            <div class="row">
              <div class="col color-asqi">
                {{ 'declarationTemplate.nameOfProposer.label' | translate }}:
                <span class="">Rajesh Arora</span>
              </div>
              <div class="col color-asqi d-flex justify-content-end">
                {{ 'convertToProposal.date.label' | translate }}:<span class="pl-1">DD/MM/YYY</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Declaration template end -->

<!-- Premium breakup modal start -->
<ng-template #premium_breakup_modal_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-sm success-info">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <span class="text-uppercase">{{
            'premiumBreakupModal.title' | translate
          }}</span>
        </h4>
        <div class="close-icon" (click)="premiumBreakupModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body succes-container premium-breakup">
        <div class="row brdr-top modal-spacing">
          <div class="col-md-12">
            <label class="head-sm">{{
              'premiumBreakupModal.basicCovers.label' | translate
            }}</label>
          </div>
          <div class="col-md-12">
            <table aria-hidden="true" class="fw-100 premium-detials-table">
              <tbody>
                <tr>
                  <td>
                    <span class="head-sm pl-4">{{
                      'memberDetails.relationship.self' | translate
                    }}</span>
                  </td>
                  <td class="theme-value"></td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.basePremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.adPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <!-- Spouse -->
                <tr>
                  <td>
                    <span class="head-sm pl-4">{{
                      'memberDetails.relationship.spouse' | translate
                    }}</span>
                  </td>
                  <td class="theme-value"></td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.basePremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.adPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <!-- Child 1 -->
                <tr>
                  <td>
                    <span class="head-sm pl-4">{{
                        'memberDetails.relationship.child' | translate
                      }}
                      1</span>
                  </td>
                  <td class="theme-value"></td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.basePremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.adPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <!-- Child 2 -->
                <tr>
                  <td>
                    <span class="head-sm pl-4">{{
                        'memberDetails.relationship.child' | translate
                      }}
                      2</span>
                  </td>
                  <td class="theme-value"></td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.basePremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.adPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>

                <tr class="brdr-top">
                  <td>
                    <span class="head-sm pt-3">{{
                      'premiumBreakupModal.netPremium.label' | translate
                    }}</span>
                  </td>
                  <td class="pt-3">
                    <span class="theme-value"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.SGST.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm">+ <i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.CGST.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm">+ <i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.KFC.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm">+ <i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <tr>
                  <td class="pb-15">
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.discount.label' | translate
                    }}</span>
                  </td>
                  <td class="pb-15">
                    <span class="head-sm">- <i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="brdr-top">
                  <td>
                    <span class="theme-value total-premium-font">{{
                      'premiumBreakupModal.totalPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="theme-value total-premium-font"><i class="fa fa-inr"></i>5400</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- <div class="row">
                  <div class="col-md-12 d-flex justify-content-center mt-5">
                      <button type="button" (click)="premiumBreakupModalRef.hide()"
                          class="btn primary-btn theme-sm-btn mr-0">{{
                      'commonBtn.done' | translate }}</button>
                  </div>
              </div> -->
      </div>
    </div>
  </div>
</ng-template>
<!-- Premium breakup modal end -->