<div class="theme-container review-proposal">
  <div class="page-title w-100">
    <div class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">REVIEW PROPOSAL</h3>
  </div>
  <div class="review-details block">
    <div class="theme-card full p-m">
      <div class="card-content">
        <div class="w-100">
          <div class="head-md pull-left">Medi Care</div>
          <div class="pull-right">
            <svg class="svg-xs">
              <use xlink:href="#ICON_Download" />
            </svg>
          </div>
        </div>
        <div class="theme-label">(Quote ID)</div>
        <div class="disp-flex preview-structure p-t-md">
          <div class="w-100">
            <div class="w-100">
              <div class="head-sm pull-left m-b-none">CUSTOMER DETAILS</div>
              <div class="pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </div>
            </div>
          </div>
          <div class="flex-box-100">
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Full Name</span>
                </td>
                <td><span class="theme-value">Rajesh</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Email</span></td>
                <td><span class="theme-value">Rajesh@gmail.com</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Phone Number</span></td>
                <td><span class="theme-value">+91 9889767545</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Date Of Birth</span></td>
                <td><span class="theme-value">25/11/19991</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Gender</span></td>
                <td><span class="theme-value">Male</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Occupation</span></td>
                <td><span class="theme-value">Self Employed</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Annual Income</span></td>
                <td><span class="theme-value">₹500,000/-</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="head-sm">PLAN DETAILS</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Plan Type</span>
                </td>
                <td><span class="theme-value">Comprehensive</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Accomadation</span></td>
                <td><span class="theme-value">Shared</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100 m-t-md">
            <div class="w-100">
              <div class="head-sm">INSURANCE DETAILS</div>
              <table aria-hidden="true" class="w-100">
                <tr>
                  <td class="fixed-width">
                    <span class="theme-label">Total Sum Insured</span>
                  </td>
                  <td><span class="theme-value">₹2,00,000</span></td>
                </tr>
              </table>
            </div>
            <div class="w-100 m-t-sm">
              <div class="head-sm">MEMBER'S DATE OF BIRTH</div>
              <table aria-hidden="true" class="w-100">
                <tr>
                  <td class="fixed-width">
                    <span class="theme-label">Self</span>
                  </td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Spouse</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Son 1</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Son 2</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
              </table>
            </div>
            <div class="w-100 m-t-sm">
              <div class="head-sm">MEMBER'S PREVIOUS POLICY END DATE</div>
              <table aria-hidden="true" class="w-100">
                <tr>
                  <td class="fixed-width">
                    <span class="theme-label">Self</span>
                  </td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Spouse</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Son 1</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Son 2</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
              </table>
            </div>
            <div class="w-100 m-t-sm">
              <div class="head-sm">PREMIUM AMOUNT</div>
              <table aria-hidden="true" class="w-100">
                <tr>
                  <td class="fixed-width">
                    <span class="theme-label">Total Premium</span>
                  </td>
                  <td><span class="theme-value">₹10,000/Month</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Tensure</span></td>
                  <td><span class="theme-value">3Years</span></td>
                </tr>
              </table>
            </div>
            <div class="w-100 m-t-sm">
              <button type="button" class="link-btn p-0">
                View Premium Breakup
              </button>
            </div>
          </div>
          <div class="w-100 m-t-md">
            <div class="w-100">
              <div class="w-100 head-sm pull-left">BENEFITS</div>
              <div class="pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </div>
            </div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">Restore Benefits</span>
            </div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">Daycare Procedure</span>
            </div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">Cumulative Bonus</span>
            </div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">Consumable Benefits</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review-details block">
    <div class="theme-card full p-m">
      <div class="card-content">
        <div class="disp-flex preview-structure">
          <div class="w-100">
            <div class="w-100">
              <div class="head-sm pull-left">MEMBERS DETAILS</div>
              <div class="pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </div>
            </div>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SPOUSE</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Full Name</span>
                </td>
                <td><span class="theme-value">Rajesh</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Gender</span></td>
                <td><span class="theme-value">Mail</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SON 1</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Full Name</span>
                </td>
                <td><span class="theme-value">Rajesh</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Gender</span></td>
                <td><span class="theme-value">Mail</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100 p-t-md">
            <div class="card-head">SON 2</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Full Name</span>
                </td>
                <td><span class="theme-value">Rajesh</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Gender</span></td>
                <td><span class="theme-value">Mail</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review-details block">
    <div class="theme-card full p-m">
      <div class="card-content">
        <div class="disp-flex preview-structure">
          <div class="w-100">
            <div class="w-100">
              <div class="head-sm pull-left">BMI DETAILS</div>
              <div class="pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </div>
            </div>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SELF</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Height</span>
                </td>
                <td><span class="theme-value">5 Ft 5 Inch</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Weight</span>
                </td>
                <td><span class="theme-value">60 Kgs</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">BMI</span>
                </td>
                <td><span class="theme-value">20 BMI</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SPOUSE</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Height</span>
                </td>
                <td><span class="theme-value">5 Ft 5 Inch</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Weight</span>
                </td>
                <td><span class="theme-value">60 Kgs</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">BMI</span>
                </td>
                <td><span class="theme-value">20 BMI</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100 p-t-md">
            <div class="card-head">SON 1</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Height</span>
                </td>
                <td><span class="theme-value">5 Ft 5 Inch</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Weight</span>
                </td>
                <td><span class="theme-value">60 Kgs</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">BMI</span>
                </td>
                <td><span class="theme-value">20 BMI</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100 p-t-md">
            <div class="card-head">SON 2</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Height</span>
                </td>
                <td><span class="theme-value">5 Ft 5 Inch</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Weight</span>
                </td>
                <td><span class="theme-value">60 Kgs</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">BMI</span>
                </td>
                <td><span class="theme-value">20 BMI</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review-details block">
    <div class="theme-card full p-m">
      <div class="card-content">
        <div class="disp-flex preview-structure">
          <div class="w-100">
            <div class="w-100">
              <div class="head-sm pull-left">MEDICAL DETAILS</div>
              <div class="pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </div>
            </div>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SPOUSE</div>
            <div class="w-100">
              <div class="theme-label">
                Q1.Any other illness/disease/injury/disability in the post other
                than for childbirthj flu or for minor injuries that have
                completly healed?
              </div>
              <div class="theme-value m-t-sm m-b-sm">Yes</div>
            </div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Insured Name</span>
                </td>
                <td><span class="theme-value">Rajesh</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Diagnosis As Per Doc</span>
                </td>
                <td><span class="theme-value">Lorem Ipsum</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Treatment Details</span>
                </td>
                <td><span class="theme-value">Lorem Ipsum</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Diagnosis Date</span>
                </td>
                <td><span class="theme-value">14/5/1991</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Date Of Last Consulation</span>
                </td>
                <td><span class="theme-value">14/5/1991</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Doctor/Hospital Name</span>
                </td>
                <td><span class="theme-value">Navjeevan Hospital</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label"
                    >Doctor/Hospital STD Code With Phone Number</span
                  >
                </td>
                <td><span class="theme-value">1516518</span></td>
              </tr>
            </table>
            <div class="w-100 m-t-md">
              <div class="theme-label">
                Q5.Has any application for life, Health or critical illness
                insurance ever been declined, postponed, loaded are been made
                subject to any special conditions by any insurance company?
              </div>
              <div class="theme-value m-t-sm m-b-sm">Yes</div>
            </div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Insured Name</span>
                </td>
                <td><span class="theme-value">Rajesh</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Diagnosis As Per Doc</span>
                </td>
                <td><span class="theme-value">Lorem Ipsum</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Treatment Details</span>
                </td>
                <td><span class="theme-value">Lorem Ipsum</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Diagnosis Date</span>
                </td>
                <td><span class="theme-value">14/5/1991</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Date Of Last Consulation</span>
                </td>
                <td><span class="theme-value">14/5/1991</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Doctor/Hospital Name</span>
                </td>
                <td><span class="theme-value">Navjeevan Hospital</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label"
                    >Doctor/Hospital STD Code With Phone Number</span
                  >
                </td>
                <td><span class="theme-value">1516518</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SON 1</div>
            <div class="w-100">
              <div class="theme-label">
                Q1.Any other illness/disease/injury/disability in the post other
                than for childbirthj flu or for minor injuries that have
                completly healed?
              </div>
              <div class="theme-value m-t-sm m-b-sm">Yes</div>
            </div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Insured Name</span>
                </td>
                <td><span class="theme-value">Rajesh</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Diagnosis As Per Doc</span>
                </td>
                <td><span class="theme-value">Lorem Ipsum</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Treatment Details</span>
                </td>
                <td><span class="theme-value">Lorem Ipsum</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Diagnosis Date</span>
                </td>
                <td><span class="theme-value">14/5/1991</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Date Of Last Consulation</span>
                </td>
                <td><span class="theme-value">14/5/1991</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Doctor/Hospital Name</span>
                </td>
                <td><span class="theme-value">Navjeevan Hospital</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label"
                    >Doctor/Hospital STD Code With Phone Number</span
                  >
                </td>
                <td><span class="theme-value">1516518</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review-details block">
    <div class="theme-card full p-m">
      <div class="card-content">
        <div class="disp-flex preview-structure">
          <div class="w-100">
            <div class="w-100">
              <div class="head-sm pull-left">LIFESTYLE DETAILS</div>
              <div class="pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </div>
            </div>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SELF</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Substance Abuse</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Alcohol</span>
                </td>
                <td><span class="theme-value">60 ML/Daily</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Smoking</span>
                </td>
                <td><span class="theme-value">6/Per Day</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Pan Masala</span>
                </td>
                <td><span class="theme-value">10 Gms/Daily</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SPOUSE</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Substance Abuse</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Alcohol</span>
                </td>
                <td><span class="theme-value">60 ML/Daily</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Smoking</span>
                </td>
                <td><span class="theme-value">6/Per Day</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Pan Masala</span>
                </td>
                <td><span class="theme-value">10 Gms/Daily</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100 p-t-md">
            <div class="card-head">SON 1</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Substance Abuse</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Alcohol</span>
                </td>
                <td><span class="theme-value">60 ML/Daily</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Smoking</span>
                </td>
                <td><span class="theme-value">6/Per Day</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Pan Masala</span>
                </td>
                <td><span class="theme-value">10 Gms/Daily</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100 p-t-md">
            <div class="card-head">SON 2</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Substance Abuse</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Alcohol</span>
                </td>
                <td><span class="theme-value">60 ML/Daily</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Smoking</span>
                </td>
                <td><span class="theme-value">6/Per Day</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Pan Masala</span>
                </td>
                <td><span class="theme-value">10 Gms/Daily</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review-details block">
    <div class="theme-card full p-m">
      <div class="card-content">
        <div class="disp-flex preview-structure">
          <div class="w-100">
            <div class="w-100">
              <div class="head-sm pull-left">ADDITIONAL DISCOUNT DETAILS</div>
              <div class="pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </div>
            </div>
          </div>
          <div class="w-100">
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">BAND 1</span>
                </td>
                <td><span class="theme-value">10%</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review-details block">
    <div class="theme-card full p-m">
      <div class="card-content">
        <div class="disp-flex preview-structure">
          <div class="w-100">
            <div class="w-100">
              <div class="head-sm pull-left">PREVIOUS POLICY DETAILS</div>
              <div class="pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </div>
            </div>
          </div>
          <div class="flex-box-100">
            <div class="card-head">YEAR 2019</div>
            <div class="card-head">SELF</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy StartDate</span>
                </td>
                <td><span class="theme-value">23/11/19</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy EndDate</span>
                </td>
                <td><span class="theme-value">23/11/20</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Previous Policy Number</span>
                </td>
                <td><span class="theme-value">00000 0000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Any Previous Claims</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Claim Amount</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Sun Insured</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Cumulative Bonus</span>
                </td>
                <td><span class="theme-value">Xxxx</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SPOUSE</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy StartDate</span>
                </td>
                <td><span class="theme-value">23/11/19</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy EndDate</span>
                </td>
                <td><span class="theme-value">23/11/20</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Previous Policy Number</span>
                </td>
                <td><span class="theme-value">00000 0000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Any Previous Claims</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Claim Amount</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Sun Insured</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Cumulative Bonus</span>
                </td>
                <td><span class="theme-value">Xxxx</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100 p-t-md">
            <div class="card-head">SON 1</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy StartDate</span>
                </td>
                <td><span class="theme-value">23/11/19</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy EndDate</span>
                </td>
                <td><span class="theme-value">23/11/20</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Previous Policy Number</span>
                </td>
                <td><span class="theme-value">00000 0000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Any Previous Claims</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Claim Amount</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Sun Insured</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Cumulative Bonus</span>
                </td>
                <td><span class="theme-value">Xxxx</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100 p-t-md">
            <div class="card-head">SON 2</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy StartDate</span>
                </td>
                <td><span class="theme-value">23/11/19</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy EndDate</span>
                </td>
                <td><span class="theme-value">23/11/20</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Previous Policy Number</span>
                </td>
                <td><span class="theme-value">00000 0000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Any Previous Claims</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Claim Amount</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Sun Insured</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Cumulative Bonus</span>
                </td>
                <td><span class="theme-value">Xxxx</span></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="disp-flex previous-structure">
          <div class="flex-box-100">
            <div class="card-head">YEAR 2019</div>
            <div class="card-head">SELF</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy StartDate</span>
                </td>
                <td><span class="theme-value">23/11/19</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy EndDate</span>
                </td>
                <td><span class="theme-value">23/11/20</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Previous Policy Number</span>
                </td>
                <td><span class="theme-value">00000 0000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Any Previous Claims</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Claim Amount</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Sun Insured</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Cumulative Bonus</span>
                </td>
                <td><span class="theme-value">Xxxx</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SPOUSE</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy StartDate</span>
                </td>
                <td><span class="theme-value">23/11/19</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy EndDate</span>
                </td>
                <td><span class="theme-value">23/11/20</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Previous Policy Number</span>
                </td>
                <td><span class="theme-value">00000 0000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Any Previous Claims</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Claim Amount</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Sun Insured</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Cumulative Bonus</span>
                </td>
                <td><span class="theme-value">Xxxx</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="card-head">SON 1</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy StartDate</span>
                </td>
                <td><span class="theme-value">23/11/19</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy EndDate</span>
                </td>
                <td><span class="theme-value">23/11/20</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Previous Policy Number</span>
                </td>
                <td><span class="theme-value">00000 0000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Any Previous Claims</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Claim Amount</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Sun Insured</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Cumulative Bonus</span>
                </td>
                <td><span class="theme-value">Xxxx</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100 p-t-md">
            <div class="card-head">SON 2</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy StartDate</span>
                </td>
                <td><span class="theme-value">23/11/19</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Policy EndDate</span>
                </td>
                <td><span class="theme-value">23/11/20</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Previous Policy Number</span>
                </td>
                <td><span class="theme-value">00000 0000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Any Previous Claims</span>
                </td>
                <td><span class="theme-value">Yes</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Claim Amount</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Sun Insured</span>
                </td>
                <td><span class="theme-value">₹ 5,00,000</span></td>
              </tr>
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Cumulative Bonus</span>
                </td>
                <td><span class="theme-value">Xxxx</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100">
    <div class="check-default">
      <input type="checkbox" class="checkbox" id="customer" />
      <label for="customer">I have read and accept the T&C </label>
    </div>
  </div>
  <div class="btn-block">
    <button type="button" class="btn primary-btn" disabled>Make Payment</button>
  </div>
</div>
