<div class="theme-container">
  <!-- Page header start -->
  <div class="page-title">
    <div class="nav-btn" (click)="back()">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg text-left heading text-uppercase pull-left">
      {{ 'uwProposalListing.title' | translate }}
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm" (click)="global.gobackallapp()">{{
        'commonText.applicationBreadcrumb' | translate
      }}</span>
      <span class="head-sm" (click)="global.gobackallappPersonalAccident()">{{
        'commonText.personalAccident' | translate
      }}</span>
      <span class="head-sm">{{ 'underWriterProposal.title' | translate }}</span>
    </div>
  </div>
  <!-- Page header end -->

  <div class="preview-details theme-form mt-mobile">
    <div class="review-details">
      <div class="theme-card w-100 p-0">
        <div class="card-content">
          <div class="flex-box-100 pb-0">
            <div class="head-sm alert-msg text-capitalize">
              <svg class="svg-xs">
                <use xlink:href="#ICON_Alert" /></svg
              ><span class="pl-10">{{
                'previewQuote.alert.msg' | translate
              }}</span>
            </div>
            <div class="theme-label">
              {{ 'previewQuote.alert.subtext' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="theme-card w-100 p-0 card-top-spacing">
        <div class="card-content pb-0">
          <div class="pull-right">
            <div class="info-icon">
              <svg class="svg-xs">
                <use xlink:href="#ICON_Edit" />
              </svg>
            </div>
            <div class="info-icon">
              <svg class="svg-xs">
                <use xlink:href="#ICON_Download" />
              </svg>
            </div>
          </div>
          <div class="head-md pull-left">
            <span>{{ 'ssb' | translate }}</span>
            <div class="theme-label">
              <span>(Quote Id)</span>
            </div>
          </div>

          <div class="disp-flex preview-structure pt-20" id="review_struct">
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{ 'customerDetails.title' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.fullName.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Rajesh Arora</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.emailId.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">test@abc.in</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.phoneNumber.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">9874563210</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.occupation.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Salaried</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.pincode.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">123401</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.gstinNo.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">XXXXXXXX</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.annualIncome.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">XXXXXXXXXXX</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.proposerInsued.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Yes</div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{ 'previewProposal.planDetails.subtitle' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.planDetails.productVariant.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.planDetails.planType.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.planDetails.riskType.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.planDetails.membersCovered.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.planDetails.affiliationType.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{
                      'previewProposal.insuranceDetails.subtitle' | translate
                    }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.policyTenure.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.policyStartDate.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.policyEndDate.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.totalSumInsured.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.premiumAmount.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.insuranceDetails.riderOpted.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{ 'previewProposal.memberDetails.subtitle' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="head-sm subtitle">
                    {{ 'previewProposal.memberDetails.self.label' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.customerDetails.fullName.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.gender.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.dateOfBirth.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.dateOfBirth.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.relationship.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.riskClass.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.riderOpted.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-20px">
                  <label class="theme-label">
                    {{
                      'previewProposal.memberDetails.historyQues.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{
                      'previewProposal.additionalPolicyDetails.subtitle'
                        | translate
                    }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.customerPanNumber.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.policyNumber.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.NameOfTheInsuredPerson.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.insurerName.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.sumInsured.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.claimLodged.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.policyStartDate.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalPolicyDetails.policyEndDate.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{ 'previewProposal.nomineeDeatils.subtitle' | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.nomineeName.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.dateOfBirth.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.gender.label' | translate
                    }}
                  </label>
                  <div class="theme-value">Self</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.relationshipWithInsured.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">4</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.nomineeAddress.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.nomineeDeatils.precentageShare.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Tata Employee</div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <label class="head-sm subtitle">
                    {{
                      'previewProposal.additionalDetails.subtitle' | translate
                    }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalDetails.panNumber.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Protect</div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <label class="theme-label">
                    {{
                      'previewProposal.additionalDetails.customerGstinNo.label'
                        | translate
                    }}
                  </label>
                  <div class="theme-value">Individual</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme-card w-100 p-0 card-top-spacing">
        <div class="card-content pb-0">
          <div class="head-sm pull-left">
            <span>{{
              'underWriterProposal.underWriterHistory.title' | translate
            }}</span>
          </div>
          <div class="disp-flex preview-structure" id="review_struct">
            <div class="row">
              <div class="col-md-12">
                <label class="head-sm alert-msg" >
                  {{
                    'underWriterProposal.underWriterHistory.caseUnderwriter.label'
                      | translate
                  }}
                </label>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 text-uppercase">
                      Agent
                      <span class="theme-label pl-2">12/12/2021</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 theme-value mb-20px">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut abore et dolore magna
                      aliqua. Quam adipiscing vitae proin sagittis nisl rhoncus
                      mattis rhoncus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 text-uppercase">
                      Underwriter
                      <span class="theme-label pl-2">12/12/2021</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 theme-value mb-20px">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut abore et dolore magna
                      aliqua. Quam adipiscing vitae proin sagittis nisl rhoncus
                      mattis rhoncus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-box-100">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 text-uppercase">
                      CS Representatives
                      <span class="theme-label pl-2">12/12/2021</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <label class="theme-label">
                        {{
                          'underWriterProposal.csRepresentative.documentName.label'
                            | translate
                        }}
                      </label>
                      <div class="theme-value">
                        <button class="link link-btn p-0">
                          Document2020.pdf
                        </button>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-8 col-xl-9">
                      <label class="theme-label">
                        {{
                          'underWriterProposal.csRepresentative.remark.label'
                            | translate
                        }}
                      </label>
                      <div class="theme-value">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut abore et dolore
                        magna aliqua. Quam adipiscing vitae proin sagittis nisl
                        rhoncus mattis rhoncus.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
