<div class="theme-container">
  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      {{ 'viewBulkUploadStatus.title' | translate }}
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm"
        >{{ 'commonText.applicationBreadcrumb' | translate }}
      </span>
      <span class="head-sm">
        {{ 'viewBulkUploadStatus.title' | translate }}</span
      >
    </div>
  </div>
  <!-- Page header end -->
  <form [formGroup]="viewBulkUploadStatusForm" class="theme-form mt-mobile">
    <div class="row">
      <div class="col-lg-6 col-md-9 form-field mb-0">
        <label for="" class="head-sm">{{
          'viewBulkUploadStatus.searchBatchID.label' | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          formControlName="searchBatchID"
          name="searchBatchID"
          id="searchBatchID"
          placeholder="{{
            'viewBulkUploadStatus.searchBatchID.placeholder' | translate
          }}"
          autocomplete="off"
          [(ngModel)]="searchText"
        />
      </div>
      <div class="col-md-3 col-lg-2 d-flex-acenter">
        <button
          type="button"
          (click)="search()"
          class="btn primary-btn search-btn theme-sm-btn sm m-0 d-none d-md-block"
        >
          <span>
            <svg class="search-si-icon search-fillWhite">
              <use xlink:href="#ICON_Search" />
            </svg>
          </span>
          {{ 'commonBtn.search' | translate }}
        </button>
      </div>
    </div>
    <div class="row brdr-top pt-4 preview-details label-lg-row">
      <div class="col-md-6 col-lg-3">
        <label class="theme-label">{{
          'viewBulkUploadStatus.batchID.label' | translate
        }}</label>
      </div>
      <div class="col-md-6 col-lg-3">
        <label class="theme-label">{{
          'viewBulkUploadStatus.dateAndTimeOfUpload.label' | translate
        }}</label>
      </div>
      <div class="col-md-6 col-lg-3">
        <label class="theme-label">{{
          'viewBulkUploadStatus.statusOfUpload.label' | translate
        }}</label>
      </div>
      <div class="col-md-6 col-lg-3">
        <label class="theme-label">{{
          'viewBulkUploadStatus.logReport.label' | translate
        }}</label>
      </div>
    </div>

    <div
      *ngFor="
        let item of bulkUploadStatus
          | paginate: { itemsPerPage: 9, currentPage: page };
        let i = index
      "
      [ngClass]="{ 'card-top-spacing': i > 0 }"
      class="theme-card w-100 p-0 preview-details"
    >
      <div class="card-content block-card-content">
        <div class="row block-card-details">
          <div class="col-md-6 col-lg-3">
            <label class="theme-label d-xl-none">{{
              'viewBulkUploadStatus.batchID.label' | translate
            }}</label>
            <span class="head-sm">{{ item?.batchId }}</span>
          </div>
          <div class="col-md-6 col-lg-3">
            <label class="theme-label d-xl-none">{{
              'viewBulkUploadStatus.dateAndTimeOfUpload.label' | translate
            }}</label>
            <span class="theme-value">{{ item?.creationTime }}</span>
          </div>
          <div class="col-md-6 col-lg-3">
            <label class="theme-label d-xl-none">{{
              'viewBulkUploadStatus.statusOfUpload.label' | translate
            }}</label>
            <span class="theme-value">{{ item?.status }}</span>
          </div>
          <div class="col-md-6 col-lg-3">
            <label class="theme-label d-xl-none">{{
              'viewBulkUploadStatus.logReport.label' | translate
            }}</label>
            <span
              ><button
                (click)="downloadBulkUploadReport(item.batchId)"
                type="button"
                class="btn link-btn pl-0"
              >
                {{ 'viewBulkUploadStatus.downloadLogReport.btn' | translate }}
              </button></span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="pull-right pagination-entries mt-5">
      <pagination-controls
        class="my-pagination"
        (pageChange)="page = $event"
        [directionLinks]="true"
        maxSize="9"
        responsive="true"
        previousLabel="Prev"
      >
      </pagination-controls>
    </div>

    <div class="btn-block primary bg-blue btn-top-spacing d-block d-sm-none">
      <button
        type="button"
        class="btn primary-btn mob-text-btn theme-lg-btn active"
      >
        <span
          ><svg class="search-si-icon">
            <use xlink:href="#ICON_Search" />
          </svg>
          {{ 'commonBtn.search' | translate }}
        </span>
      </button>
    </div>
  </form>
</div>
