<div class="theme-container">
  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      {{ 'bulkUpload.title' | translate }}
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm"
        >{{ 'commonText.applicationBreadcrumb' | translate }}
      </span>
      <span class="head-sm"> {{ 'bulkUpload.title' | translate }}</span>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Form Start -->
  <form [formGroup]="bulkUploadForm" class="theme-form mt-mobile">
    <div class="theme-card w-100 p-0">
      <div class="card-content">
        <div class="row">
          <div class="col-md-12 pb-2">
            <label class="head-sm subtitle subtitle-pl pull-left">{{
              'bulkUpload.bulkUpload.label' | translate
            }}</label>
            <span class="pull-right">
              <a
                href="./../../../../assets/document/bulk_upload_sample.csv"
                type="button"
                class="btn link-btn"
              >
                <svg class="svg-xs mini-svg m-0">
                  <use xlink:href="#ICON_Download" />
                </svg>
                {{ 'commonBtn.downloadFormat' | translate }}
              </a>
              <span class="theme-label"> | </span>
              <button
                (click)="routeToViewBulkUploadStatus()"
                type="button"
                class="btn link-btn"
              >
                {{ 'commonBtn.viewBulkUploadStatus' | translate }}
              </button>
            </span>
          </div>
          <div
            [ngClass]="{ complete: bulkUploadForm.get('documentName').value }"
            class="form-field col-md-6 col-lg-4 col-xl-3"
          >
            <label class="head-sm text-uppercase">{{
              'bulkUpload.uploadDocument.label' | translate
            }}</label>
            <div formGroupName="documentName" class="custom-file">
              <input
                type="file"
                accept="application/pdf,.xls,.xlsx"
                (change)="onFileChange($event)"
                class="custom-file-input"
                id="customFile"
              />
              <label
                *ngIf="!bulkUploadForm.get('documentName').value"
                class="custom-file-label form-control"
                for="customFile"
                ><svg class="icon-uploadFile m-r-sm">
                  <use xlink:href="#ICON_FileUpload" />
                </svg>
                Upload file</label
              >
              <label
                *ngIf="bulkUploadForm.get('documentName').value"
                class="custom-file-label form-control file-label-selected"
                for="customFile"
                ><span class="text-truncate">{{
                  bulkUploadForm.get('documentName').value
                }}</span>
                <span
                  ><button
                    (click)="removeDocFile()"
                    class="btn font-sm link-btn text-uppercase"
                  >
                    Remove
                  </button></span
                >
              </label>
              <span class="error-msg file-err-msg">{{
                getErrorMessage(bulkUploadForm.get('documentName'))
              }}</span>
            </div>
          </div>
          <div class="col-md-12">
            <span class="file-upload-note subtitle-pl"
              >Formats allowed are XLS, XLSX, PDF | Size 5MB</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="btn-block primary bg-blue btn-top-spacing">
      <button
        (click)="openUploadModal(upload_template)"
        type="button"
        class="btn primary-btn mob-text-btn theme-lg-btn active"
      >
        {{ 'commonBtn.upload' | translate }}
      </button>
    </div>
  </form>
  <!-- Form End -->
</div>

<!-- Upload Modal Template -->
<ng-template #upload_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-sm success-info pb-modal">
      <div class="modal-header">
        <div class="close-icon" (click)="uploadModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body succes-container">
        <div class="row">
          <div class="text-center col-md-12">
            <div>
              <svg class="icon-blue">
                <use xlink:href="#ICON_Sent_successfully" />
              </svg>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-center">
            <div class="row pt-3">
              <div class="col-md-12 d-flex-jcenter">
                <label class="theme-update-value"
                  >The Information Has Been Successfully Uploaded</label
                >
              </div>
              <!-- <div class="col-md-12 text-center d-flex-jcenter">
                  <label class="theme-label">Upload ID:</label>
                  <span class="pl-3 theme-value">ABC12345</span>
                </div> -->
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <div class="row">
              <div class="col-6 col-md-6 d-flex justify-content-center">
                <button
                  type="button"
                  (click)="uploadModalRef.hide()"
                  class="btn primary-btn mr-0 modal-btn theme-sm-btn"
                >
                  {{ 'commonBtn.done' | translate }}
                </button>
              </div>
              <div class="col-6 col-md-6 d-flex justify-content-center">
                <button
                  type="button"
                  class="btn primary-btn mr-0 modal-btn theme-sm-btn"
                >
                  {{ 'commonBtn.logReport' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
