<div class="theme-container detail-list-container quote-listing-page" #target (click)="closeDropMenu()">
  <!-- Page header start -->
  <div class="page-title">
    <div class="nav-btn" (click)="back()">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg text-left heading text-uppercase pull-left">
      {{ 'uwProposalListing.title' | translate }}
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm" (click)="global.gobackallapp()">{{
        'commonText.applicationBreadcrumb' | translate
      }}</span>
      <span class="head-sm" (click)="global.gobackallappPersonalAccident()">{{
        'commonText.personalAccident' | translate
      }}</span>
      <span class="head-sm">{{ 'uwProposalListing.title' | translate }}</span>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Form start -->
  <div class="row">
    <div class="col-md-12 mt-mobile">
      <div class="row">
        <div class="col-9 col-sm-10 col-md-6 col-lg-8 form-field mb-0">
          <label for="quotenumber" class="head-sm text-uppercase">{{
            'uwProposalListing.search.label' | translate
          }}</label>
          <span class="info-icon premium-tooltip premium-info-icon">
            <span class="tooltiptext">
              Date (DD/MM/YYYY), name, mobile number, quote number</span>
            <svg>
              <use xlink:href="#ICON_tool_tip" />
            </svg>
          </span>
          <input class="form-control mob-placeholder-align" id="search" placeholder="Search" name="search"
            aria-label="Input group" type="text" />
          <label class="search-in-input input-search-icon ql-search-icon">
            <svg class="search-si-icon">
              <use xlink:href="#ICON_Search_Blue" />
            </svg>
          </label>
        </div>
        <div class="col-3 col-sm-2 col-md-6 col-lg-4 pt-3 d-flex align-items-center filter-container">
          <span class="btn quotelist-btn icon-filter" (click)="openFilterModel(sortfilter_template, target)">
            <svg class="svg-xs">
              <use xlink:href="#ICON_Filter" />
            </svg>
          </span>
        </div>
        <div class="col-md-12 search-options" *ngIf="mobileOptionsDropdown">
          <ng-select placeholder="Select" class="ng-select-options" (change)="getpolicies($event)">
            <ng-option value="PROPOSAL_CONVERTED">Proposal Converted</ng-option>
            <ng-option value="REFERED_TO_UW"> Refered to UW</ng-option>
            <ng-option value="REJECTED_TO_REFUND_INITIATED">
              Rejected to Refund Initiated</ng-option>
            <ng-option value="ADD_INFO_DISCREPANCY">Add info Discrepancy</ng-option>
            <ng-option value="REJECTED_REFUNDED">Rejeced - Refunded</ng-option>
          </ng-select>
        </div>
        <div class="col-md-12 search-options" *ngIf="!mobileOptionsDropdown">
          <span>
            <button (click)="getpolicies('PROPOSAL_CONVERTED')" type="button" class="btn quotelist-btn">
              {{ 'uwProposalListing.proposalConverted.label' | translate }}
            </button>
          </span>
          <span>
            <button (click)="getpolicies('REFERED_TO_UW')" type="button" class="btn quotelist-btn">
              {{ 'uwProposalListing.referedToUW.label' | translate }}
            </button>
          </span>
          <span>
            <button (click)="getpolicies('REJECTED_TO_REFUND_INITIATED')" type="button" class="btn quotelist-btn">
              {{
                'uwProposalListing.rejectedToRefundInitiated.label' | translate
              }}
            </button>
          </span>
          <span>
            <button (click)="getpolicies('ADD_INFO_DISCREPANCY')" type="button" class="btn quotelist-btn">
              {{ 'uwProposalListing.addinfoDiscrepency.label' | translate }}
            </button>
          </span>
          <span>
            <button (click)="getpolicies('ACCEPTED')" type="button" class="btn quotelist-btn">
              {{ 'uwProposalListing.accepted.label' | translate }}
            </button>
          </span>
          <span>
            <button (click)="getpolicies('REJECTED_REFUNDED')" type="button" class="btn quotelist-btn">
              {{ 'uwProposalListing.rejectedRefunded.label' | translate }}
            </button>
          </span>
        </div>
      </div>
      <form class="theme-form m-t-md">
        <div class="row" *ngIf="getQuoteList.length">
          <div class="col-12 mb-20">
            <div class="pull-left">
              <form>
                <div class="form-field items-per-page-field">
                  <label class="head-sm pl-0">Items Per Page</label>
                  <ng-select class="pull-right items-per-page d-none" [ngClass]="{ 'd-med-table': listItem }"
                    name="items-per-page" placeholder="Select" [(ngModel)]="itemsPerPageList" [searchable]="false"
                    (change)="itemsPerPageList = $event">
                    <ng-option value="30">30</ng-option>
                    <ng-option value="60">60</ng-option>
                    <ng-option value="90">90</ng-option>
                  </ng-select>
                  <ng-select class="pull-right items-per-page" [ngClass]="{
                      'd-med-block': gridItem,
                      'd-med-none': !gridItem
                    }" name="items-per-page" placeholder="Select" [(ngModel)]="itemsPerPageGrid" [searchable]="false"
                    (change)="itemsPerPageGrid = $event">
                    <ng-option value="12">12</ng-option>
                    <ng-option value="24">24</ng-option>
                    <ng-option value="36">36</ng-option>
                  </ng-select>
                </div>
              </form>
            </div>
            <div class="head-sm label-indent">
              <button type="button"
                class="btn pull-right quotelist-btn p-3 grid-filter d-none d-med-block grid-list-filter">
                <svg class="svg-size grid-list-button" [ngClass]="{ 'icons-active': gridItem }" (click)="grid()">
                  <use xlink:href="#ICON_Grid" />
                </svg>
                <svg class="svg-size svg-three-dots">
                  <use xlink:href="#ICON_Three_Dots" />
                </svg>
                <svg class="svg-size grid-list-button" [ngClass]="{ 'icons-active': listItem }" (click)="list()">
                  <use xlink:href="#ICON_List" />
                </svg>
              </button>
              <button (click)="loadData()" type="button" class="btn quotelist-btn icon-filter pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Download" />
                </svg>
              </button>
              <!--LTA muruga 23/10/2020-->
            </div>
          </div>
          <div class="col-12">
            <div class="premium-card-container quote-list-card"
              [ngClass]="{ 'd-med-block': gridItem, 'd-med-none': !gridItem }">
              <div class="row">
                <div class="col-md-6 mb-4" *ngFor="
                    let data of getQuoteList
                      | paginate
                        : {
                            id: 'pagination1',
                            itemsPerPage: itemsPerPageGrid,
                            currentPage: page
                          }
                  ">
                  <div class="theme-radio premium-card m-0 w-100">
                    <label class="premium-lbl mb-0" for="premier1">
                      <div class="premium-container" (click)="gotoReview(data.quote_status)">
                        <div class="premium-header">
                          <div class="premium-type w-100">
                            <div class="pull-left p-r-sm">
                              <span class="bg-icon">
                                <svg>
                                  <use xlink:href="#ICON_Self" />
                                </svg>
                              </span>
                            </div>
                            <div class="pull-left pt-1 min-height-50px w-left-container">
                              <div class="theme-label text-uppercase">
                                {{ 'uwProposalListing.ssb.label' | translate }}
                              </div>
                              <div class="theme-value min-height-35px">
                                {{ data.insured_name }}
                              </div>
                            </div>
                            <span class="svg-wrapper pull-right">
                              <svg class="svg-size theme-light-label mt-1" (click)="
                                  closeDropMenu();
                                  data.enabled = true;
                                  onEventStopPropogation($event)
                                ">
                                <use xlink:href="#menu" />
                              </svg>
                            </span>
                            <div class="search-actions-container">
                              <div class="overlay" *ngIf="data.enabled" (click)="
                                  data.enabled = false;
                                  onEventStopPropogation($event)
                                "></div>
                              <div *ngIf="data.enabled" class="actions-popup-container">
                                <form class="theme-form search-actions-popup">
                                  <div class="p-0 theme-card">
                                    <div class="card-content">
                                      <div class="d-flex align-items-center search-actions">
                                        <div class="search-actions-span">
                                          <button class="btn quotelist-btn" (click)="$event.stopPropagation()">
                                            <svg class="svg-size">
                                              <use xlink:href="#ICON_Download" />
                                            </svg>
                                          </button>
                                          <span class="text-left">{{
                                            'commonBtn.download' | translate
                                          }}</span>
                                        </div>
                                        <div class="search-actions-span">
                                          <button class="btn quotelist-btn" (click)="$event.stopPropagation()">
                                            <svg class="svg-size">
                                              <use xlink:href="#ICON_Share" />
                                            </svg>
                                          </button>
                                          <span class="text-center">{{
                                            'commonBtn.share' | translate
                                          }}</span>
                                        </div>
                                        <div class="search-actions-span">
                                          <button class="btn quotelist-btn" (click)="$event.stopPropagation()">
                                            <svg class="svg-size">
                                              <use xlink:href="#ICON_clone" />
                                            </svg>
                                          </button>
                                          <span class="text-center">{{
                                            'commonBtn.clone' | translate
                                          }}</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="pull-right nstp-status-container">
                              <div class="background-status">
                                {{ data.quote_status }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="premium-body pb-0">
                          <div class="row">
                            <div class="col-12 col-md-6 col-lg-8 preview-details d-flex align-items-center">
                              <div class="search-quote-label justify-content-start">
                                <span class="date-icon"><svg class="svg-sm svg-yesterday-grid">
                                    <use xlink:href="#ICON_document" /></svg></span>

                                <span class="theme-label">
                                  26/11/2009
                                  <!-- {{data.quote_date
                                                                    |
                                                                    date:
                                                                    'dd/MM/yyyy'}}  -->|
                                  {{ data.quote_id }}
                                </span>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 premium-section mt-3 mt-md-0">
                              <!-- <div class="premium-text mob-search-quote"> -->
                              <div class="premium-amt">
                                {{
                                  'uwProposalListing.premium.label' | translate
                                }}
                              </div>
                              <div class="premium-per-month pb-0">
                                <ng-container *ngIf="
                                    data.instalment && data.instalment == 'Yes';
                                    else not_instalment
                                  ">
                                  {{
                                    data.quote_status == 'UW REFERRAL'
                                      ? 'UW'
                                      : (data.premium_value | inrcurrency)
                                  }}
                                </ng-container>
                                <ng-template #not_instalment>
                                  {{
                                    data.quote_status == 'UW REFERRAL'
                                      ? 'UW'
                                      : (data.quote.data.payable_prem
                                        | inrcurrency)
                                  }}
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <table aria-hidden="true" class="grid w-100 as-master-table list-table-margin d-none"
              [ngClass]="{ 'd-med-table': listItem }">
              <tbody>
                <tr class="table-row-card mt-5 uw-table-tr" *ngFor="
                    let data of getQuoteList
                      | paginate
                        : {
                            id: 'pagination2',
                            itemsPerPage: itemsPerPageList,
                            currentPage: page
                          }
                  " (click)="gotoReview(data.quote_status)">
                  <td class="td-padding">
                    <div class="d-flex align-items-center table-data-container">
                      <div class="quote-search-value">
                        <span class="bg-icon">
                          <svg>
                            <use xlink:href="#ICON_Self" />
                          </svg>
                        </span>
                      </div>
                    </div>
                  </td>

                  <td class="td-padding">
                    <div class="table-data-container">
                      <div class="theme-value quote-search-value">
                        {{ data.insured_name }}
                      </div>
                    </div>
                  </td>

                  <td class="td-padding">
                    <div class="table-data-container px-3 border-dotted-left">
                      <div class="color-asqi quote-search-value">
                        <span class="head-sm">{{ data.quote_id }}</span>
                      </div>
                      <div class="date-container">
                        <svg class="svg-sm svg-yesterday-list">
                          <use xlink:href="#ICON_document" />
                        </svg>
                        <span class="theme-label quote-search-value">
                          26/11/2009
                          <!-- {{data.quote_date
                                                    |
                                                    date:
                                                    'dd/MM/yyyy'}} -->
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="td-padding">
                    <div class="table-data-container premium-border">
                      <div class="theme-label quote-search-value">Premium</div>
                      <div class="premium-amount quote-search-value theme-value total-premium-font">
                        <ng-container *ngIf="
                            data.instalment && data.instalment == 'Yes';
                            else not_instalment
                          ">
                          {{
                            data.quote_status == 'UW REFERRAL'
                              ? 'UW'
                              : (data.premium_value | inrcurrency)
                          }}
                        </ng-container>
                        <ng-template #not_instalment>
                          {{
                            data.quote_status == 'UW REFERRAL'
                              ? 'UW'
                              : (data.quote.data.payable_prem | inrcurrency)
                          }}
                        </ng-template>
                      </div>
                    </div>
                  </td>

                  <td class="td-padding">
                    <div class="table-data-container d-flex justify-content-end">
                      <div class="background-status">
                        {{ data.quote_status }}
                      </div>
                    </div>
                  </td>
                  <td class="text-right"></td>
                  <td class="td-padding">
                    <div class="table-data-container">
                      <div class="search-actions-container">
                        <div class="overlay" *ngIf="data.enabled" (click)="
                            data.enabled = false; onEventStopPropogation($event)
                          "></div>
                        <div *ngIf="data.enabled" class="tile-actions-popup-container">
                          <form class="theme-form search-actions-popup">
                            <div class="p-0 theme-card">
                              <div class="card-content">
                                <div class="d-flex align-items-center search-actions">
                                  <div class="search-actions-span">
                                    <button class="btn quotelist-btn" (click)="$event.stopPropagation()">
                                      <svg class="svg-size">
                                        <use xlink:href="#ICON_Download" />
                                      </svg>
                                    </button>
                                    <span class="text-left">Download</span>
                                  </div>
                                  <div class="search-actions-span">
                                    <button class="btn quotelist-btn" (click)="$event.stopPropagation()">
                                      <svg class="svg-size">
                                        <use xlink:href="#ICON_Share" />
                                      </svg>
                                    </button>
                                    <span class="text-center">Share</span>
                                  </div>
                                  <div class="search-actions-span">
                                    <button class="btn quotelist-btn" (click)="$event.stopPropagation()">
                                      <svg class="svg-size">
                                        <use xlink:href="#ICON_clone" />
                                      </svg>
                                    </button>
                                    <span class="text-center">Clone</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <svg class="svg-size theme-light-label" (click)="
                            closeDropMenu();
                            data.enabled = true;
                            onEventStopPropogation($event)
                          ">
                          <use xlink:href="#menu" />
                        </svg>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
      <div class="fw-100 pagination-margin">
        <div class="pull-left head-sm">
          <div class="count-txt m-b-md">
            {{ 'uwProposalListing.totalResults.label' | translate }}
            {{ getQuoteList.length }}
          </div>
        </div>
        <div class="pull-right pagination-entries" [ngClass]="{ 'd-med-block': gridItem, 'd-med-none': !gridItem }"
          *ngIf="getQuoteList.length">
          <!--pagination pull-right-->
          <pagination-controls id="pagination1" class="my-pagination" responsive="true" (pageChange)="page = $event">
          </pagination-controls>
        </div>
        <div class="pull-right pagination-entries d-none" [ngClass]="{ 'd-med-table': listItem }"
          *ngIf="getQuoteList.length">
          <!--pagination pull-right-->
          <pagination-controls id="pagination2" class="my-pagination" responsive="true" (pageChange)="page = $event">
          </pagination-controls>
        </div>
      </div>
      <!-- <div class="fw-100" *ngIf="loading || !commonstr">
                <div class="w-100 d-flex justify-content-center head-sm">
                    <div class="fa-3x">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>

            </div> -->
    </div>
  </div>
  <!-- Form end -->
</div>

<!-- Sort And Filter Template Section Start -->
<ng-template #sortfilter_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-md">
      <div class="modal-header">
        <label class="modal-title pl-2">{{
          'quoteListing.sortAndFilter.title' | translate
        }}</label>
        <div class="close-icon" (click)="filter_ModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body sort-filter-modal">
        <form class="theme-form" name="form" [formGroup]="sortFilterForm">
          <div class="block">
            <div class="row">
              <div class="col-md-12 brdr-bottom">
                <div class="justify-content-between sort-date">
                  <div class="mx-2 mb-3 sort-item form-group theme-radio radio-btn">
                    <input type="radio" name="sort" id="ascending" [value]="'date_asc'" formControlName="sort" />
                    <label for="ascending" class="radio-height sort-filter-label m-l-none">
                      <div>
                        <svg class="svg-md">
                          <use xlink:href="#ICON_CalenderUp" />
                        </svg>
                      </div>
                      <span class="lbl" for="radio"></span>
                      <div class="lbl radio-content p-t-sm">
                        {{ 'quoteListing.sortAndFilter.date' | translate
                        }}<br />{{
                          'quoteListing.sortAndFilter.ascending' | translate
                        }}
                      </div>
                    </label>
                  </div>
                  <div class="mx-2 mb-3 sort-item form-group theme-radio radio-btn">
                    <input type="radio" id="descending" name="sort" [value]="'date_dsc'" formControlName="sort" />
                    <label for="descending" class="radio-height sort-filter-label m-l-none">
                      <div>
                        <svg class="svg-md">
                          <use xlink:href="#ICON_CalenderDown" />
                        </svg>
                      </div>
                      <span class="lbl" for="radio"></span>
                      <div class="lbl radio-content p-t-sm">
                        {{ 'quoteListing.sortAndFilter.date' | translate
                        }}<br />{{
                          'quoteListing.sortAndFilter.descending' | translate
                        }}
                      </div>
                    </label>
                  </div>
                  <div class="mx-2 mb-3 sort-item form-group theme-radio radio-btn">
                    <input type="radio" name="sort" id="priceLow" [value]="'price_low'" formControlName="sort" />
                    <label for="priceLow" class="radio-height sort-filter-label m-l-none">
                      <div>
                        <svg class="svg-md">
                          <use xlink:href="#ICON_CalenderUp" />
                        </svg>
                      </div>
                      <span class="lbl" for="radio"></span>
                      <div class="lbl radio-content p-t-sm">
                        {{ 'quoteListing.sortAndFilter.price' | translate }}
                        <br />{{
                          'quoteListing.sortAndFilter.low_high' | translate
                        }}
                      </div>
                    </label>
                  </div>
                  <div class="mx-2 mb-3 sort-item form-group theme-radio radio-btn">
                    <input type="radio" name="sort" id="priceHigh" [value]="'price_high'" formControlName="sort" />
                    <label for="priceHigh" class="radio-height sort-filter-label m-l-none">
                      <div>
                        <svg class="svg-md">
                          <use xlink:href="#ICON_CalenderUp" />
                        </svg>
                      </div>
                      <span class="lbl" for="radio"></span>
                      <div class="lbl radio-content p-t-sm">
                        {{ 'quoteListing.sortAndFilter.price' | translate }}
                        <br />{{
                          'quoteListing.sortAndFilter.high_low' | translate
                        }}
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-catagory">
            <div class="row mb-15">
              <div class="col-md-12">
                <label class="head-sm text-uppercase pl-0">{{
                    'sortAndFilter.productCat.label' | translate
                  }}</label>
              </div>
              <div class="col-md-12 prod-category-wrapper">
                <div class="theme-radio round prod-height select-prod">
                  <input type="radio" id="accidentShield" name="select_product" [value]="'Accident Shield'"
                    formControlName="select_product" />
                  <label for="accidentShield" class="mr-0">
                    <svg class="icon-center">
                      <use xlink:href="#ICON_AccidentShield" />
                    </svg>
                    <span class="lbl" for="radio"></span>
                  </label>
                  <div class="lbl prod-name">{{
                    'sortAndFilter.accidentshield.label' | translate
                  }}</div>
                </div>
                <div class="theme-radio round prod-height select-prod">
                  <input type="radio" id="secureFuturePlan" name="select_product" [value]="'Secure Future Plan'"
                    formControlName="select_product" />
                  <label for="secureFuturePlan" class="mr-0">
                    <svg class="icon-center">
                      <use xlink:href="#ICON_Secure_future_plan" />
                    </svg>
                    <span class="lbl" for="radio"></span>
                  </label>
                  <div class="lbl prod-name">{{
                    'sortAndFilter.secureFuturePlan.label' | translate
                  }}</div>
                </div>
                <div class="theme-radio round prod-height select-prod">
                  <input type="radio" id="saralSurakshaBima" name="select_product" [value]="'Saral Suraksha Bima'"
                    formControlName="select_product" />
                  <label for="saralSurakshaBima" class="mr-0">
                    <svg class="icon-center">
                      <use xlink:href="#ICON_Saral_suraksha_Bima" />
                    </svg>
                    <span class="lbl" for="radio"></span>
                  </label>
                  <div class="lbl prod-name">{{
                    'ssb' | translate
                  }}</div>
                </div>
                <div class="error-msg">
                  <span *ngIf="
                      sortFilterForm.controls.select_product.errors?.required
                    ">
                    {{
                    'sortAndFilter.invalidProdCategory' | translate
                  }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="nominee-detail">
            <div class="theme-card full has-form">
              <div class="row">
                <div [ngClass]="{
                    complete: sortFilterForm?.controls?.startDate?.value
                  }" class="form-field col-md-6">
                  <label class="head-sm">{{
                    'quoteListing.sortAndFilter.startDate' | translate
                  }}</label>
                  <input type="text" class="form-control" name="startDate" placeholder="DD/MM/YYYY"
                    formControlName="startDate" (keyup.enter)="formatLikeExcel('startDate')"
                    (focusout)="formatLikeExcel('startDate')" (keypress)="isNumberKey($event)" (keyup)="
                      formatLikeExcel('startDate'); validateDate('START_DATE')
                    "
                    onkeyup="this.value=this.value.replace(/^(\d\d)(\d)$/g,'$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g,'$1/$2').replace(/[^\d\/]/g,'')" />
                  <span class="error-msg" *ngIf="!isStartDateValid">{{
                      'quoteListing.sortAndFilter.invalidStartDate' | translate
                    }}
                  </span>
                </div>

                <div [ngClass]="{
                    complete: sortFilterForm?.controls?.endDate?.value
                  }" class="form-field col-md-6">
                  <label class="head-sm">{{
                    'quoteListing.sortAndFilter.endDate' | translate
                  }}</label>
                  <input type="text" class="form-control" name="endDate" formControlName="endDate"
                    (keyup.enter)="formatLikeExcel('endDate')" (focusout)="formatLikeExcel('endDate')"
                    (keypress)="isNumberKey($event)" (keyup)="
                      formatLikeExcel('endDate'); validateDate('END_DATE')
                    " placeholder="DD/MM/YYYY"
                    onkeyup="this.value=this.value.replace(/^(\d\d)(\d)$/g,'$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g,'$1/$2').replace(/[^\d\/]/g,'')" />
                  <span class="error-msg" *ngIf="!isEndDateValid">{{
                      'quoteListing.sortAndFilter.invalidEndDate' | translate
                    }}
                  </span>
                </div>
                <div [ngClass]="{
                    complete:
                      sortFilterForm?.controls?.proposalStatus?.value?.length
                  }" class="form-field col-md-6">
                  <label class="head-sm"><span>{{
                      'quoteListing.sortAndFilter.proposalStatus' | translate
                    }}</span>
                    <span *ngIf="
                        sortFilterForm?.controls?.proposalStatus?.value
                          ?.length > 0
                      ">
                      ({{
                        sortFilterForm?.controls?.proposalStatus?.value?.length
                      }})</span></label>

                  <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings2" [data]="dropdownList"
                    [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                    class="dd-multi-select ngSelectOption 1 open-above" formControlName="proposalStatus">
                  </ng-multiselect-dropdown>
                </div>
                <div [ngClass]="{
                    complete: sortFilterForm?.controls?.tenure?.value?.length
                  }" class="form-field col-md-6">
                  <label class="head-sm">{{
                    'quoteListing.sortAndFilter.tenure' | translate
                  }}</label>

                  <ng-select placeholder="Select" class="ng-select-options" (change)="getTenure($event)"
                    formControlName="tenure">
                    <ng-option value="1">1 {{ 'quoteListing.sortAndFilter.years' | translate }}
                    </ng-option>
                    <ng-option value="2">2 {{ 'quoteListing.sortAndFilter.years' | translate }}
                    </ng-option>
                    <ng-option value="3">3 {{ 'quoteListing.sortAndFilter.years' | translate }}
                    </ng-option>
                  </ng-select>
                </div>
                <div [ngClass]="{
                    complete:
                      sortFilterForm?.controls?.sumInsuredValueFrom?.value
                  }" class="form-field col-md-6 custom-rupee-control">
                  <label class="head-sm">{{
                    'quoteListing.sortAndFilter.sumInsuredValueFrom' | translate
                  }}</label>
                  <div class="input-group mb-20">
                    <div class="input-group-prepend rupee-refer-btn">
                      <span class="input-group-text svg-md"><i class="fa fa-inr" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control rupee-referal-input" formControlName="sumInsuredValueFrom"
                      placeholder="{{
                      'quoteListing.sortAndFilter.sumInsuredValueFrom.placeholder' | translate
                    }}" name="sumInsuredValueFrom" id="sumInsuredValueFrom" autocomplete="off"
                      (keypress)="isNumberKey($event)" />
                  </div>
                  <span class="error-msg" *ngIf="
                      sortFilterForm?.controls?.sumInsuredValueFrom?.errors
                        ?.required
                    ">{{
                      'quoteListing.sortAndFilter.sumInsuredValueFromRequired'
                        | translate
                    }}
                  </span>
                </div>
                <div [ngClass]="{
                    complete: sortFilterForm?.controls?.sumInsuredValueTo?.value
                  }" class="form-field col-md-6 custom-rupee-control">
                  <label class="head-sm">{{
                    'quoteListing.sortAndFilter.sumInsuredValueTo' | translate
                  }}</label>
                  <div class="input-group mb-20">
                    <div class="input-group-prepend rupee-refer-btn">
                      <span class="input-group-text svg-md"><i class="fa fa-inr" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control rupee-referal-input" formControlName="sumInsuredValueTo"
                      name="sumInsuredValueTo" id="sumInsuredValueTo" autocomplete="off"
                      (keypress)="isNumberKey($event)" placeholder="{{
                        'quoteListing.sortAndFilter.sumInsuredValueTo.placeholder' | translate
                      }}" />
                  </div>
                  <span class="error-msg" *ngIf="
                      sortFilterForm?.controls?.sumInsuredValueTo?.errors
                        ?.required
                    ">{{
                      'quoteListing.sortAndFilter.sumInsuredValueToRequired'
                        | translate
                    }}
                  </span>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <button type="submit" class="btn primary-btn modal-btn theme-sm-btn mr-30"
                        (click)="applyFilter()">
                        {{
                          'quoteListing.sortAndFilter.applyFilter' | translate
                        }}
                      </button>
                      <button type="button" class="btn primary-btn mr-0 modal-btn theme-sm-btn" (click)="clearFilter()">
                        {{ 'quoteListing.sortAndFilter.clear' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
<!-- Sort And Filter Template Section End -->