<app-left-menu></app-left-menu>
<app-header></app-header>

<div class="center-container product-inner-page w-100" #scrollContainer>
  <router-outlet
    *ngIf="scriptLoader.loaded"
    (activate)="onActivate($event, scrollContainer)"
  ></router-outlet>
</div>

<app-svg-icons></app-svg-icons>
