@import "../../../sass/variable"
@import "../../../sass/mixins"
//@import "../../../common.sass"
.application-container
 .app-tbl
  display: table
  position: relative
  padding-right: 30px
  .table-row.theme-card
    display: table-row
    float: none
  .table-cell.card-content
    display: table-cell
    vertical-align: top
    width: 325px
    float: inherit
  .table-cell.card-content.left-card
   // width: 250px  
  .table-cell.card-content.right-card
    width: calc(100% - 200px) 
  .name-block
    margin-bottom: 15px  
    cursor: pointer
    &.active
        .theme-light-value-small
            color: $clr-primary
            opacity: 1
        .nav-btn
            background: $clr-primary
            label		    
                background: $clr-primary 0% 0% no-repeat padding-box
    &:hover
        .theme-light-value-small
            color: $clr-primary
            opacity: 1
        .nav-btn
            background: $clr-primary
            label		    
                background: $clr-primary 0% 0% no-repeat padding-box
        svg
            fill: #fff
    .nav-btn
        height: 53px
        width: 53px
        background: #E3E4EB 0% 0% no-repeat padding-box
        box-shadow: -3px -3px 6px #FFFFFF
        border-radius: 50px
        opacity: 1		
 .form-group .input-group
  width: Calc(100% - 220px)	
 .form-group .input-btn
  position: relative
  top: 25px
 .input-right
  width: 220px
 .filter
  width: 50px
  float: left
  position: relative
  top: 25px
  .info-icon
   height: 35px
   width: 35px
.application-container .app-tbl .name-block .nav-btn label
  background: #E3E4EB
  box-shadow: inset 2px 0px 3px #0000000d, 1px 1px 3px #e3e4eb
  opacity: 1
  height: 43px
  height: 43px
  width: 43px
  border-radius: 50%
.application-container .app-tbl .fixed-menu.theme-card .table-cell.card-content
  width: 385px
.application-container .app-tbl .close-menu.fixed-menu.theme-card .table-cell.card-content
  width: 180px
  svg
    top: 4px
    left: 6px
    transform: rotate(270deg)
.filter-group
   width: 100%
   max-width: 480px
.app-name-details.fw-100 
   max-width: 520px   
.application-container .app-tbl .name-block .theme-light-value-small   
 font-size: 18px
 color: $clr-primary
 opacity: 0.5
 padding-top: 6px
 font-family: $pop-med
.application-container .form-group .input-group .input-group-append 
   position: absolute
   right: 10px
   display: inline-block
   width: 20px
   z-index: 8
   top: 34px
.app-box 
   float: left
   .app-box-card
      margin-bottom: 20px $imp
      width: 140px
      height: 140px
      float: left
      box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 6px #BFC3CF
      border-radius: 10px
      background: #EEEFF2
      padding: 5px
      .app-box-card-inner
            padding: 10px
            border-radius: 10px
            background: #E6E7EC
            height: 130px
            width: 100%
            position: relative
            &.active
                  background: #3153A3
      .card-icon	
            padding: 14px
            height: 50px
            width: 50px
            border: solid 2px #ddd
            border-radius: 50%
            box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 6px #BFC3CF
            font-size: 11px
            color: #fff
            position: relative
            .rounded
                  padding: 8px
                  height: 40px
                  width: 40px
                  position: absolute
                  right: 2px
                  top: 4px
                  border-radius: 50%
                  box-shadow: inset 0px 0px 6px #FFFFFF, inset 3px 3px 6px #BFC3CF
                  font-size: 11px
                  background: #C2C7D5
                  color: #fff	
                  svg
                     fill: #fff
                     height: 20px
                     width: 20px
      .car-dtl
            position: absolute
            bottom: 5px
            font-size: 15px
            font-weight: 600
            color: $clr-primary
.search-load-btn.primary-btn
   background: linear-gradient(to left, #18478B, #283A61)
   color: #fff $imp
   margin-top: 25px
   margin-left: 10px
   span
      color: #ccc $imp
      font-size: 9px
.brbm
   border-bottom: 1px dotted #337ab7
.multicard-selection .theme-radio
   min-height: 140px
.right-card .btn.sm 
   min-width: 100px $imp
   width: auto $imp
   padding: 8px
.app-box .app-box-card-inner.active .car-dtl
   color: #fff
.app-box .app-box-card-inner.active .card-icon
   box-shadow: 1px 1px 6px #3153a3, 1px 1px 6px #183077
   border: solid 2px #3153a3
   .rounded
      background: #758CC4
      box-shadow: inset 0px 0px 6px #4580ec, inset 3px 3px 6px #BFC3CF

//FILTER SASS(sivas ui team)
.quotelist-btn 
    color: $clr-primary
    opacity: 1
    background: #EAEBEF
    box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 6px #BFC3CF
    border-radius: 10px
    border: none
    font-size: 12px
    margin-right: 10px
    margin-bottom: 10px
    min-width: 40px 
    min-height: 30px 
.search-completed
    background: linear-gradient(to left, #18478B, #283A61) $imp
    box-shadow: none $imp
    color: #FFF $imp	  
.app-block-dtl
 float: left
 width: 20%
 padding-right: 25px 
 padding-bottom: 25px 
 font-weight: 600
 color: $clr-primary
 font-size: 14px
 .app-block-dtl-inner
  float: left
  width: 100%
  padding: 15px
  text-align: center 
.card-btn
   width: 80px
   padding: 4px 5px
   height: 20px
   font-size: 9px
   text-align: left
   border-radius: 10px
   margin-top: 10px
   position: relative
   bottom: 5px
   color: $clr-primary
   .svg-xs
      width: 12px
      height: 12px
.card-inset-box
   width: 100%
   max-width: 300px
   float: left
   padding: 15px
   box-shadow: inset -3px -3px 6px #FFFFFF, inset 3px 3px 6px #BFC3CF
   border-radius: 5px
   .theme-light-value-small
      font-size: 10px
.name-block 
 padding: 5px 0px
.fixed-menu.theme-card
 max-width: 370px
 position: fixed
 height: 100%
 left: 140px
 top: 88px
 z-index: 2
 .right-field
  width: 40px
  display: table-cell
  border-radius: 0px 8px 8px 0px
 .app-name-details.fw-100
   padding: 30px
   height: 100%
   border-right: dotted 1px #C9CDD7
   padding-top: 80px
.fixed-menu.theme-card .card-content
  //display: table
  padding: 0px
  height: 100%
.fixed-menu.theme-card .left-card .app-name-details
  width: Calc(100% - 56px)
  overflow-y: auto
.right-field-inner
  transform: rotate(-90deg)
  position: absolute
  top: 50%
  color: #9DA4B9
  cursor: pointer
  right: -56px
  font-size: 18px
  svg
    width: 20px
    height: 20px
    position: relative
    top: 7px
    left: 6px
    transform: rotate(-270deg)
    fill: $clr-primary
.close-menu.fixed-menu.theme-card
 left: 15px
.close-menu .right-field-inner
 position: relative
.close-menu.fixed-menu.theme-card .left-card .app-name-details
 display: none 
.multicard-selection .theme-radio.round
 margin-right: 30px
@media only screen and (max-width: 1380px)
   .app-block-dtl
      width: 25%	 
@media only screen and (max-width: 1280px)
   .app-block-dtl
      width: 33.3%
@media only screen and (max-width: 1000px)
   .app-block-dtl
      width: 25%
@media only screen and (max-width: 925px)
   .app-block-dtl
      width: 33.3%
@media only screen and (max-width: 600px)
   .app-block-dtl
      width: 50%
@media only screen and (max-width: 320px)
   .app-block-dtl
      width: 100%
.renewal-lbl
 font-size: 20px
 font-weight: 600 
.pending-lbl
 font-size: 12px
 color: #7A86A2
 opacity: 0.8
.theme-card  .card-content .multicard-selection .form-field
 margin-right: 0px $imp
.svg-md.refresh-icon
 width: 70px
 height: 70px
 top: -15px
 svg
  height: 40px
  width: 40px
  top: -15px
  margin-left: 20px
.detail-list-container .form-group .input-group
 width: Calc(100% - 50px)
.filter-group
 width: 100%
 min-width: 400px
.filter
 width: 50px
 float: left
 position: relative
 top: 25px
 .info-icon
      height: 35px
      width: 35px 
.radio-height .theme-radio
 min-height: 130px $imp	
 margin-right: 30px 
 margin-bottom: 5px
@media (max-width: 1366px) 
 .form-group.input-field
  width: 50%
  
  
@media (max-width: 480px) 
  .primary-btn
   &:hover, &.active
    box-shadow: -3px -3px 6px #ffffff6b, 3px 3px 6px #202f5f
    border-radius: 20px
    color: #fff
    min-width: 120px
    background: #3657a6
    border: none
  .form-group.input-field
    width: 100%
  .theme-check label
    height: 50px
    width: 50px
@media (max-width: 550px) 
 .theme-form .field-two .form-field
  width: 100%$imp
  
//MY TRANSACTION
.ren-text
 font-weight: 600
 margin-top: 7px
.fw-100.box-menu-block 
    padding: 5px 0px
    border-bottom: dotted 1px #B0B7C5
.fw-100.box-menu-block:last-child
    border-bottom: none
.theme-card .box-content .card-content
    padding-bottom: 0px
.box-content
    position: relative
    width: 33.3%
    padding-right: 30px
    padding-bottom: 30px
    .box-top-circle
        position: absolute
        background: #eff0f3
        right: 15px
        color: $clr-primary
        top: -15px
        padding: 8px 10px
        font-size: 12px
        width: 35px
        height: 35px
        border-radius: 15px
        box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 6px #BFC3CF
        -webkit-box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 6px #BFC3CF
		
.refresh-btn
 display: $n
.application-container .app-tbl .name-block .svg-xs
 fill: #858da0
.application-container .app-tbl .name-block.active .svg-xs
 fill: #ffffff 
@media only screen and (max-width: 1600px)
    .ren-text
        margin-top: 12px
    .fixed-menu.theme-card
        max-width: 320px
        position: fixed
        height: 100%
        left: 95px
        top: 57px
    .fixed-menu.theme-card .left-card .app-name-details
        width: calc(100% - 42px)
    .fixed-menu.theme-card .app-name-details.fw-100
        padding: 20px
        padding-top: 60px
    .application-container .app-tbl .name-block .theme-light-value-small
        padding-top: 0px
        font-size: 14px
    .application-container .app-tbl .name-block .nav-btn label
        height: 28px
        width: 28px 
    .application-container .app-tbl .name-block .svg-xs
        height: 20px
        width: 20px
        fill: #858da0
    .application-container .app-tbl .name-block.active .svg-xs
        fill: #ffffff
    .application-container .app-tbl .name-block .nav-btn
        height: 38px
        width: 38px
        margin-right: 10px
    .right-field-inner
        font-size: 12px
        right: -34px	
    .close-menu .right-field-inner
        right: -42px
    .close-menu.fixed-menu.theme-card
        left: 0px	
    .right-field-inner svg
        top: 8px
    .svg-md.refresh-icon
        width: 40px
        height: 40px
        top: -5px	
    .svg-md.refresh-icon .svg-sm
        height: 30px
        width: 30px
        top: 0px
        position: relative
        left: 2px
    .renewal-lbl
        font-size: 14px
        margin-top: 4px
    .pending-lbl
        font-size: 10px
    .application-container .app-tbl .fixed-menu.theme-card .table-cell.card-content
        width: 285px
    .renewal-block
        margin-top: 20px
    .application-container .app-tbl .close-menu.fixed-menu.theme-card .table-cell.card-content
        width: 130px
@media only screen and (max-width: 1080px)
    .box-content
        width: 50%
@media only screen and (max-width: 1000px)
    .box-content
        width: 33.3%
    .fixed-menu.theme-card 
        display: none
    .application-container 
        padding: 15px
        padding-top: 100px

@media only screen and (max-width: 800px)
    .box-content
        width: 50%
@media only screen and (max-width: 480px)
    .box-content
        width: 100%
        padding-right: 0px
        .box-top-circle
            right: -12px
    .renewal-block
        display: $n 
    .fw-70
        width: 100%
    .radio-height .theme-radio
        margin-right: 20px $imp
    .refresh-btn	
        display: $b 
        padding: 15px
        text-align: center
        background: transparent linear-gradient(292deg, #E5E6EB 0%, #EFF0F3 100%) 0% 0% no-repeat padding-box
        border-radius: 20px $imp
        -webkit-border-radius: 33px $imp
        -moz-border-radius: 20px $imp
        box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 6px #BFC3CF
        margin-bottom: 20px
        height: 60px	 		  
    .multicard-selection .theme-radio.round
        margin-right: 20px
	  
	  
	  
