<!-- <app-left-menu></app-left-menu>
<app-header></app-header> -->
<div class="theme-container application-container p-l-160 p-t-100 m-b-none">
  <div class="fw-100 app-tbl">
    <div class="theme-container aig-combined m-b-none">
      <div class="page-title fw-100">
        <div class="nav-btn" (click)="globals.gobackallappPersonalAccident()">
          <svg>
            <use xlink:href="#ICON_Arrow" />
          </svg>
        </div>
        <div
          class="head-lg pull-left heading"
          (click)="globals.gobackallappPersonalAccident()"
        >
          PERSONAL ACCIDENT
        </div>

        <div class="pull-right breadcrum">
          <span class="head-sm" (click)="globals.gobackallapp()"
            >All Products /
          </span>
          <span
            class="head-sm"
            (click)="globals.gobackallappPersonalAccident()"
          >
            Personal Accident /
          </span>
          <span class="head-sm">All Each Application</span>
        </div>
      </div>
      <form class="theme-form">
        <div class="nominee-detail block">
          <div class="theme-card full has-form">
            <div class="card-content p-b-0">
              <div class="fw-100 brdr-bottom">
                <div class="fw-70">
                  <div class="pull-left detail-list-container">
                    <div class="form-field m-b-none">
                      <div
                        class="head-sm label-left"
                        (click)="confirmatinModal(confirmation_template)"
                      >
                        GET INSTANT QUOTE
                      </div>
                      <div class="fw-100">
                        <div class="fw-100">
                          <div class="multicard-selection">
                            <form class="theme-form">
                              <div
                                class="theme-radio outset round"
                                (click)="callProducer()"
                                *ngIf="
                                  role?.length > 0 && role != 'underwriter'
                                "
                              >
                                <input
                                  type="radio"
                                  id="gcs"
                                  name="select_plan"
                                />
                                <label for="gcs" class="man">
                                  <div class="icon-center">
                                    <img
                                      class="svg-lg"
                                      src="assets/images/Group 13150.svg"
                                      alt="group.png"
                                    />
                                  </div>
                                  <span class="lbl" for="radio"></span>
                                </label>
                                <div class="lbl">Quote</div>
                              </div>
                              <div
                                class="theme-radio outset round"
                                (click)="callMaster()"
                                *ngIf="role == 'underwriter'"
                              >
                                <input
                                  type="radio"
                                  id="gcs"
                                  name="select_plan"
                                />
                                <label for="gcs" class="man">
                                  <div class="icon-center">
                                    <img
                                      class="svg-lg"
                                      src="assets/images/master_Policy.svg"
                                      alt="group.png"
                                    />
                                  </div>
                                  <span class="lbl" for="radio"></span>
                                </label>
                                <div class="lbl">Product Configuration</div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="fw-100 m-t-md"
                *ngIf="role?.length > 0 && role != 'underwriter'"
              >
                <div class="form-field m-b-none">
                  <div class="head-sm label-left m-b-md">FEATURES</div>
                  <div class="fw-100">
                    <div class="fw-100">
                      <div class="multicard-selection">
                        <form class="theme-form">
                          <div class="form-field m-r-md radio-height">
                            <div
                              class="theme-radio outset"
                              (click)="callQuote()"
                              *ngIf="role?.length > 0 && role != 'underwriter'"
                            >
                              <input
                                type="radio"
                                id="Quote"
                                name="select_plan"
                              />
                              <label for="Quote" class="man">
                                <div class="icon-center">
                                  <img
                                    class="svg-lg"
                                    src="assets/images/Group 13179.svg"
                                    alt="group.png"
                                  />
                                </div>
                                <span class="lbl" for="radio"></span>
                              </label>
                              <div class="lbl">Quote</div>
                            </div>
                            <div
                              class="theme-radio outset"
                              (click)="callProposal()"
                              *ngIf="role?.length > 0 && role != 'underwriter'"
                            >
                              <input
                                type="radio"
                                id="Proposal"
                                name="select_plan"
                              />
                              <label for="Proposal" class="man">
                                <div class="icon-center">
                                  <img
                                    class="svg-lg"
                                    src="assets/images/Group 13150.svg"
                                    alt="group.png"
                                  />
                                </div>
                                <span class="lbl" for="radio"></span>
                              </label>
                              <div class="lbl">Proposal</div>
                            </div>
                            <!-- <div
                              class="theme-radio outset"
                              (click)="callPlanList()"
                              *ngIf="role == 'underwriter'"
                            >
                              <input
                                type="radio"
                                id="Policy"
                                name="select_plan"
                              />
                              <label for="Policy" class="man">
                                <div class="icon-center">
                                  <img
                                    class="svg-lg"
                                    src="assets/images/Group 13126.svg"
                                    alt="group.png"
                                  />
                                </div>
                                <span class="lbl" for="radio"></span>
                              </label>
                              <div class="lbl">Plan</div>
                            </div> -->
                            <!-- <div
                              class="theme-radio outset"
                              (click)="callProducerList()"
                              *ngIf="role == 'underwriter'"
                            >
                              <input
                                type="radio"
                                id="Claim"
                                name="select_plan"
                              />
                              <label for="Claim" class="man">
                                <div class="icon-center">
                                  <img
                                    class="svg-lg"
                                    src="assets/images/noun_Claims_1628829.svg"
                                    alt="group.png"
                                  />
                                </div>
                                <span class="lbl" for="radio"></span>
                              </label>
                              <div class="lbl">
                                Producer Code Master Policy Map
                              </div>
                            </div> -->
                            <!-- <div
                              class="theme-radio outset"
                              (click)="callBulkUpload()"
                              *ngIf="
                                role == 'Producer' || role == 'sub Producer'
                              "
                            >
                              <input
                                type="radio"
                                id="Endorsement"
                                name="select_plan"
                              />
                              <label for="Endorsement" class="man">
                                <div class="icon-center">
                                  <img
                                    class="svg-lg"
                                    src="assets/images/noun_receipt_915857.svg"
                                    alt="group.png"
                                  />
                                </div>
                                <span class="lbl" for="radio"></span>
                              </label>
                              <div class="lbl">Bulk Upload Status</div>
                            </div> -->
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #confirmation_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-sm">
      <div class="modal-header">
        <h4 class="modal-title pull-left">CONFIRMATION</h4>
        <div class="close-icon" (click)="modalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body">
        <div class="fw-100 head-sm">ARE YOU SURE TO REMOVE?</div>
        <div class="text-center p-sm double-btn m-t-md fw-100">
          <button
            type="button"
            class="btn primary-btn primary theme-sm-btn m-r-sm m-b-sm"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn primary-btn primary theme-sm-btn m-b-sm"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
