<div class="theme-container preview-quote">
  <div class="page-title w-100">
    <div class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">PREVIEW QUOTE</h3>
  </div>
  <div class="preview-details block">
    <div class="theme-card full p-m">
      <div class="card-content">
        <div class="head-md">Medi Care</div>
        <div class="theme-label">(Quote ID)</div>
        <div class="disp-flex preview-structure">
          <div class="flex-box-100">
            <div class="w-100">
              <div class="head-sm pull-left">CUSTOMER DETAILS</div>
              <div class="pull-right">
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </div>
            </div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Full Name</span>
                </td>
                <td><span class="theme-value">Rajesh</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Email</span></td>
                <td><span class="theme-value">Rajesh@gmail.com</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Phone Number</span></td>
                <td><span class="theme-value">+91 9889767545</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="head-sm">PLAN DETAILS</div>
            <table aria-hidden="true" class="w-100">
              <tr>
                <td class="fixed-width">
                  <span class="theme-label">Plan Type</span>
                </td>
                <td><span class="theme-value">Comprehensive</span></td>
              </tr>
              <tr>
                <td><span class="theme-label">Accomadation Type</span></td>
                <td><span class="theme-value">Shared</span></td>
              </tr>
            </table>
          </div>
          <div class="flex-box-100">
            <div class="w-100">
              <div class="head-sm">INSURANCE DETAILS</div>
              <table aria-hidden="true" class="w-100">
                <tr>
                  <td class="fixed-width">
                    <span class="theme-label">Total Sum Insured</span>
                  </td>
                  <td><span class="theme-value">₹2,00,000</span></td>
                </tr>
              </table>
            </div>
            <div class="w-100 m-t-sm">
              <div class="head-sm">MEMBER'S DATE OF BIRTH</div>
              <table aria-hidden="true" class="w-100">
                <tr>
                  <td class="fixed-width">
                    <span class="theme-label">Self</span>
                  </td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Spouse</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Son 1</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Son 2</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
              </table>
            </div>
            <div class="w-100 m-t-sm">
              <div class="head-sm">MEMBER'S PREVIOUS POLICY END DATE</div>
              <table aria-hidden="true" class="w-100">
                <tr>
                  <td class="fixed-width">
                    <span class="theme-label">Self</span>
                  </td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Spouse</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Son 1</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Son 2</span></td>
                  <td><span class="theme-value">20/07/1987</span></td>
                </tr>
              </table>
            </div>
            <div class="w-100 m-t-sm">
              <div class="head-sm">TOTAL PREMIUM</div>
              <table aria-hidden="true" class="w-100">
                <tr>
                  <td class="fixed-width">
                    <span class="theme-label">Premium Amount</span>
                  </td>
                  <td><span class="theme-value">₹10,000/Month</span></td>
                </tr>
                <tr>
                  <td><span class="theme-label">Tensure</span></td>
                  <td><span class="theme-value">3Years</span></td>
                </tr>
              </table>
            </div>
            <div class="w-100 m-t-sm">
              <button type="button" class="link-btn p-0">
                View Premium Breakup
              </button>
            </div>
          </div>
          <div class="flex-box-100 m-t-md">
            <div class="head-sm">BENEFITS</div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">Restore Benefits</span>
            </div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">Cumulative Bonus</span>
            </div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">In Patient treatment</span>
            </div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">Daycare Procedure</span>
            </div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">Consumable Benefits</span>
            </div>
            <div class="w-100 m-b-xs">
              <span>
                <svg class="svg-xxs">
                  <use xlink:href="#ICON_Tick_mark" />
                </svg>
              </span>
              <span class="theme-value p-l-xs">Tax Benefits-80D</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-block">
    <button type="button" class="btn primary-btn primary" disabled>
      Convert To Proposal
    </button>
  </div>
</div>
