<div class="theme-container">
  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      {{ 'additionalPolicyDetails.title' | translate
      }}<span class="p-l-md head-date">04/06</span>
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm" (click)="global.gobackallapp()">{{ 'commonText.applicationBreadcrumb' | translate }}
      </span>
      <span class="head-sm" (click)="global.gobackallappPersonalAccident()">{{
        'commonText.personalAccident' | translate
      }}</span>
      <span class="head-sm">
        {{ 'additionalPolicyDetails.title' | translate }}
      </span>
    </div>
    <div class="pull-right">
      <button (click)="routeBackToProposal()" type="button" class="link-btn mob-pt-10">
        {{ 'commonBtn.goBackToProposal' | translate }}
      </button>
    </div>
  </div>
  <!-- Page header end -->

  <form [formGroup]="additionalPolicyDetailsForm" class="theme-form mt-mobile">
    <div formArrayName="policyArr" *ngFor="
        let policy of additionalPolicyDetailsForm.get('policyArr')['controls'];
        let i = index
      ">
      <div [formGroupName]="i" class="theme-card w-100 p-0" [ngClass]="{ 'card-top-spacing': i > 0 }">
        <div class="card-content input-card-content pb-0">
          <div class="row">
            <button *ngIf="i > 0" (click)="removePolicyArrBtn(i)" class="close-icon mr-1">
              <svg>
                <use xlink:href="#ICON_Cross" />
              </svg>
            </button>
            <!-- <div *ngIf="i>0" class="col-md-12">
                            <button (click)="removePolicyArrBtn(i)" type="button"
                                class="btn link-btn pull-right">{{ 'commonBtn.delete' | translate }}</button>
                        </div> -->
            <div [ngClass]="{ complete: policy.get('policyStartDate').value }"
              class="col-md-6 col-lg-4 col-xl-3 form-field">
              <label for="{{ 'policyStartDate' + i }}" class="head-sm">{{
                'additionalPolicyDetails.policyStartDate.label' | translate
              }}</label>
              <input type="text" class="form-control" formControlName="policyStartDate"
                name="{{ 'policyStartDate' + i }}" id="{{ 'policyStartDate' + i }}" (keypress)="isNumberKey($event)"
                (keyup.enter)="formatLikeExcel(policy, 'policyStartDate')"
                (focusout)="formatLikeExcel(policy, 'policyStartDate')" placeholder="DD/MM/YYYY" autocomplete="off" />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{ complete: policy.get('previousPolicyDate').value }"
              class="col-md-6 col-lg-4 col-xl-3 form-field">
              <label for="{{ 'previousPolicyDate' + i }}" class="head-sm">{{
                'additionalPolicyDetails.previousPolicyDate.label' | translate
              }}</label>
              <input type="text" class="form-control" formControlName="previousPolicyDate"
                name="{{ 'previousPolicyDate' + i }}" id="{{ 'previousPolicyDate' + i }}"
                (keypress)="isNumberKey($event)" (keyup.enter)="formatLikeExcel(policy, 'previousPolicyDate')"
                (focusout)="formatLikeExcel(policy, 'previousPolicyDate')" placeholder="DD/MM/YYYY"
                autocomplete="off" />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{ complete: policy.get('previousPolicyNumber').value }"
              class="col-md-6 col-lg-4 col-xl-3 form-field">
              <label for="{{ 'previousPolicyNumber' + i }}" class="head-sm">{{
                'additionalPolicyDetails.previousPolicyNumber.label' | translate
              }}</label>
              <input type="text" class="form-control" formControlName="previousPolicyNumber"
                name="{{ 'previousPolicyNumber' + i }}" id="{{ 'previousPolicyNumber' + i }}"
                (keypress)="isNumberKey($event)" placeholder="{{
                  'additionalPolicyDetails.previousPolicyNumber.placeholder'
                    | translate
                }}" autocomplete="off" />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{ complete: policy.get('insurer').value }" class="col-md-6 col-lg-4 col-xl-3 form-field">
              <label for="{{ 'insurer' + i }}" class="head-sm">{{
                'additionalPolicyDetails.insurer.label' | translate
              }}</label>
              <input type="text" class="form-control" formControlName="insurer" name="{{ 'insurer' + i }}"
                id="{{ 'insurer' + i }}" placeholder="{{
                  'additionalPolicyDetails.insurer.placeholder' | translate
                }}" autocomplete="off" />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{
                complete: policy.get('nameOfTheInsuredPerson').value
              }" class="col-md-6 col-lg-4 col-xl-3 form-field">
              <label for="{{ 'nameOfTheInsuredPerson' + i }}" class="head-sm">{{
                'additionalPolicyDetails.nameOfTheInsuredPerson.label'
                  | translate
              }}</label>
              <ng-select [items]="dropDownArr" [searchable]="false" formControlName="nameOfTheInsuredPerson"
                id="{{ 'nameOfTheInsuredPerson' + i }}" placeholder="{{ 'commonText.select.placeholder' | translate }}"
                autocomplete="off">
              </ng-select>
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{ complete: policy.get('sumInsured').value }"
              class="col-md-6 col-lg-4 col-xl-3 custom-rupee-control form-field">
              <label for="{{ 'sumInsured' + i }}" class="head-sm">{{
                'additionalPolicyDetails.sumInsured.label' | translate
              }}</label>
              <div class="input-group mb-20">
                <div class="input-group-prepend rupee-refer-btn">
                  <span class="input-group-text svg-md"><i class="fa fa-inr" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control rupee-referal-input" formControlName="sumInsured"
                  name="{{ 'sumInsured' + i }}" id="{{ 'sumInsured' + i }}" (keypress)="isNumberKey($event)"
                  placeholder="{{
                    'additionalPolicyDetails.sumInsured.placeholder' | translate
                  }}" autocomplete="off" />
              </div>
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{
                complete: policy.get('claimsLodgedInPreceedingYears').value
              }" class="col-md-6 col-lg-4 col-xl-3 form-field">
              <label for="{{ 'claimsLodgedInPreceedingYears' + i }}" class="head-sm">{{
                  'additionalPolicyDetails.claimsLodgedInPreceedingYears.label'
                    | translate
                }}</label>
              <input type="text" class="form-control" formControlName="claimsLodgedInPreceedingYears"
                name="{{ 'claimsLodgedInPreceedingYears' + i }}" id="{{ 'claimsLodgedInPreceedingYears' + i }}"
                placeholder="{{
                  'additionalPolicyDetails.claimsLodgedInPreceedingYears.placeholder'
                    | translate
                }}" autocomplete="off" />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
          </div>
          <div class="row mb-20">
            <div class="col-md-10">
              <label class="med-ques">{{
                'additionalPolicyDetails.historyQues.label' | translate
              }}</label>
            </div>
            <div class="col-md-2 d-flex-jcenter">
              <div class="toggle-btn mob-toggle-btn">
                <input type="checkbox" formControlName="historyResp" id="{{ 'historyResp' + i }}" class="switch" />
                <span class="s-checkbox"></span>
                <label for="{{ 'historyResp' + i }}" class="lbl-off">{{
                  'checkbox.no.value' | translate
                }}</label>
                <label for="{{ 'historyResp' + i }}" class="lbl-on">{{
                  'checkbox.yes.value' | translate
                }}</label>
              </div>
            </div>
          </div>
          <div class="row custom-margin">
            <div [ngClass]="{
                complete: policy.get('rejectedProposalDetails').value
              }" class="col-md-12">
              <label for="rejectedProposalDetails" class="head-sm required-field">{{
                  'additionalPolicyDetails.rejectedProposalDetails.label'
                    | translate
                }}</label>
              <textarea class="form-control" formControlName="rejectedProposalDetails" name="rejectedProposalDetails"
                id="rejectedProposalDetails" cols="30" rows="5" placeholder="{{
                  'additionalPolicyDetails.rejectedProposalDetails.placeholder'
                    | translate
                }}" autocomplete="off"></textarea>
              <span class="error-msg textarea-err-msg-xl">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Nominee Button -->
    <div class="row">
      <div class="col-md-12 card-top-spacing">
        <button (click)="addPolicyArrBtn()" type="button" class="btn link-btn no-shadow-link-btn">
          {{ 'additionalPolicyDetails.addPolicyBtn' | translate }}
        </button>
      </div>
    </div>

    <!-- Save Next Buttons -->
    <div class="btn-block btn-top-spacing">
      <button type="button" class="btn primary-btn theme-sm-btn mob-text-btn mob-first-btn">
        {{ 'commonBtn.save' | translate }}
      </button>
      <button [class.highlighted]="additionalPolicyDetailsForm.status == 'VALID'" (click)="route()" type="button"
        class="btn theme-sm-btn primary-btn mob-btn">
        {{ 'commonBtn.next' | translate }}
      </button>
    </div>
  </form>
</div>