<div class="theme-container" #target>
  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">View All Ticket</h3>
    <div class="pull-right breadcrum">
      <span class="head-sm">Help / </span>
      <span class="head-sm">View All Ticket</span>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Form start -->
  <form class="theme-form mt-mobile mb-3">
    <div class="theme-card w-100 p-0">
      <div class="card-content py-3">
        <table
          mat-table
          [dataSource]="
            dataTicketList
              | paginate
                : {
                    itemsPerPage: size,
                    currentPage: page,
                    totalItems: TICKET_DATA.length
                  }
          "
          class="preview-details"
          multiTemplateDataRows
        >
          <ng-container matColumnDef="ticketnumber">
            <th mat-header-cell *matHeaderCellDef>
              <span class="theme-label pl-3">Ticket Number </span>
            </th>
            <td mat-cell *matCellDef="let element" class="border-none">
              <span class="theme-value py-4 pl-3"
                >{{ element.ticketnumber }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="applicationModule">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="d-none d-sm-table-cell"
            >
              <span class="theme-label pl-3">Application Module </span>
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="border-none d-none d-sm-table-cell"
            >
              <span class="theme-value py-4 pl-3">{{
                element.applicationModule
              }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>
              <span class="theme-label pl-3">Status</span>
            </th>
            <td mat-cell *matCellDef="let element" class="border-none">
              <span
                class="theme-value py-4 pl-3"
                [ngClass]="{ 'status-resolved': element.isResolved }"
                >{{ element.status }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="d-none d-lg-table-cell"
            >
              <span class="theme-label pl-3">Created Date</span>
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="border-none d-none d-lg-table-cell"
            >
              <span class="theme-value py-4 pl-3"
                >{{ element.createdDate }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="lastActionDate">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="d-none d-lg-table-cell"
            >
              <span class="theme-label pl-3">Last Action Date</span>
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="border-none d-none d-lg-table-cell"
            >
              <span class="theme-value py-4 pl-3"
                >{{ element.lastActionDate }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="assignedTo">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="d-none d-md-table-cell"
            >
              <span class="theme-label pl-3">Assigned To</span>
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="border-none d-none d-md-table-cell"
            >
              <span class="theme-value py-4 pl-3">{{
                element.assignedTo
              }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <span class="theme-label">Action</span>
            </th>
            <td mat-cell *matCellDef="let element" class="border-none pt-10px">
              <button
                (click)="
                  collapseAll(element); element.isExpanded = !element.isExpanded
                "
                class="btn quotelist-btn m-0"
              >
                <svg
                  *ngIf="element.isExpanded"
                  style="height: 12px; width: 12px"
                >
                  <use xlink:href="#ICON_Cross" />
                </svg>
                <svg
                  *ngIf="!element.isExpanded"
                  style="height: 20px; width: 20px"
                >
                  <use xlink:href="#ICON_Eye" />
                </svg>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="headerList.length"
              class="border-none"
            >
              <div
                class="row expandable-row-detail m-0"
                [ngClass]="{ 'background-expanded': element.isExpanded }"
                [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
              >
                <mat-list class="w-100 pl-3">
                  <div class="row">
                    <div
                      class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 d-md-none"
                    >
                      <div class="theme-label">Application Module</div>
                      <div class="theme-value">
                        {{ element.applicationModule }}
                      </div>
                    </div>
                    <div
                      class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 d-lg-none"
                    >
                      <div class="theme-label">Created Date</div>
                      <div class="theme-value">{{ element.createdDate }}</div>
                    </div>
                    <div
                      class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 d-lg-none"
                    >
                      <div class="theme-label">Last Action Date</div>
                      <div class="theme-value">
                        {{ element.lastActionDate }}
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                      <div class="theme-label">Request Type</div>
                      <div class="theme-value">{{ element.requestType }}</div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                      <div class="theme-label">Application</div>
                      <div class="theme-value">{{ element.application }}</div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                      <div class="theme-label">Producer Code</div>
                      <div class="theme-value">{{ element.producerCode }}</div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                      <div class="theme-label">Type of Defect</div>
                      <div class="theme-value">{{ element.typeOfDefect }}</div>
                    </div>
                    <div
                      class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 d-md-none"
                    >
                      <div class="theme-label">Assigned To</div>
                      <div class="theme-value">{{ element.assignedTo }}</div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                      <div class="theme-label">Attachment</div>
                      <div class="theme-value">{{ element.attachment }}</div>
                    </div>
                    <div class="col-12 col-lg-9 p-3">
                      <div class="theme-label">Remarks</div>
                      <div class="theme-value">{{ element.remarks }}</div>
                    </div>
                  </div>
                </mat-list>
              </div>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="headerList"
            class="border-as-bottom"
          ></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: headerList"
            class="border-as-bottom"
            [ngClass]="{
              collapsed: !element.isExpanded,
              'background-expanded': element.isExpanded
            }"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="expandable-row"
          ></tr>
        </table>
      </div>
    </div>
  </form>
  <div class="pull-right pagination-entries m-t-lg">
    <pagination-controls
      class="paginator-align"
      (pageChange)="page = $event; paginate(page)"
      [directionLinks]="true"
      maxSize="5"
      responsive="true"
    >
    </pagination-controls>
  </div>
  <!-- Form end -->
</div>
