<div class="theme-container quote-info">
  <!-- Page header start -->
  <div class="page-title">
    <div class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      {{ 'quoteInformation.title' | translate }}
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm" (click)="global.gobackallapp()">{{ 'commonText.applicationBreadcrumb' | translate }}
      </span>
      <span class="head-sm" (click)="global.gobackallappPersonalAccident()">{{
        'commonText.personalAccident' | translate
      }}</span>
      <span class="head-sm"> {{ 'quoteInformation.title' | translate }}</span>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Form Start -->
  <form [formGroup]="quoteInformationForm" class="theme-form mt-mobile">
    <div class="theme-card w-100 p-0">
      <div class="card-content input-card-content">
        <div class="row">
          <div [ngClass]="{
              complete: quoteInformationForm.get('cityPincode').value
            }" class="col-md-6 col-lg-4 col-xl-3 form-field">
            <label for="cityPincode" class="head-sm">{{
              'quoteInformation.cityPincode.label' | translate
            }}</label>
            <input type="text" class="form-control" formControlName="cityPincode" name="cityPincode" id="cityPincode"
              maxlength="6" placeholder="{{
                'quoteInformation.cityPincode.placeholder' | translate
              }}" autocomplete="off" onpaste="return false;" (keypress)="isNumberKey($event)" />
            <span class="hint error-hint-msg error-msg text-uppercase">Gurgaon, Haryana, India</span>
            <span class="error-msg">
              {{ 'commonText.requiredError' | translate }}
            </span>
          </div>
          <div [ngClass]="{
              complete: quoteInformationForm.get('occupation').value
            }" class="col-md-6 col-lg-4 col-xl-3 form-field">
            <label for="occupation" class="head-sm">{{
              'quoteInformation.occupation.label' | translate
            }}</label>
            <ng-select [items]="dropDownArr" [searchable]="false" formControlName="occupation" id="occupation"
              placeholder="{{ 'commonText.select.placeholder' | translate }}" autocomplete="off">
            </ng-select>
            <span class="error-msg">
              {{ 'commonText.requiredError' | translate }}
            </span>
          </div>
          <div [ngClass]="{
              complete: quoteInformationForm.get('annualIncome').value
            }" class="col-md-6 col-lg-4 col-xl-3 form-field custom-rupee-control">
            <label for="annualIncome" class="head-sm">{{
              'quoteInformation.annualIncome.label' | translate
            }}</label>
            <div class="input-group mb-20">
              <div class="input-group-prepend rupee-refer-btn">
                <span class="input-group-text svg-md"><i class="fa fa-inr" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control rupee-referal-input" formControlName="annualIncome"
                name="annualIncome" id="annualIncome" placeholder="{{
                  'quoteInformation.annualIncome.placeholder' | translate
                }}" autocomplete="off" (keypress)="isNumberKey($event)" />
            </div>
            <span class="error-msg">
              {{ 'commonText.requiredError' | translate }}
            </span>
          </div>
          <div [ngClass]="{
              complete: quoteInformationForm.get('gstinNumber').value
            }" class="col-md-6 col-lg-4 col-xl-3 form-field">
            <label for="gstinNumber" class="head-sm">{{
              'quoteInformation.gstinNumber.label' | translate
            }}</label>
            <input type="text" class="form-control" formControlName="gstinNumber" name="gstinNumber" id="gstinNumber"
              placeholder="{{
                'quoteInformation.gstinNumber.placeholder' | translate
              }}" autocomplete="off" onpaste="return false;" (keypress)="isNumberKey($event)" />
            <span class="error-msg">
              {{ 'commonText.requiredError' | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Proceed Button -->
    <div class="btn-block btn-top-spacing">
      <button [class.highlighted]="quoteInformationForm.status == 'VALID'" type="button" (click)="route()"
        class="btn primary-btn theme-lg-btn">
        {{ 'commonBtn.proceed' | translate }}
      </button>
    </div>
  </form>
  <!-- Form Start -->
</div>