<div class="theme-container">
  <!-- Page header start -->
  <div class="page-title">
    <div class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      {{ selectedPageTitle | translate }}
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm"
        >{{ 'commonText.applicationBreadcrumb' | translate }}
      </span>
      <span class="head-sm"> {{ selectedBreadCrum | translate }}</span>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Nav -->
  <div class="row mt-2">
    <div class="col-lg-12">
      <div class="topnav-master">
        <a
          [ngClass]="{ active: uwReferralRuleSelected }"
          (click)="topNavChanged('uwReferralRules')"
          class="col-sm-4 col-lg-4 col-xl-4 text-uppercase"
          >{{ 'masterInformation.underwriterRefferalRules.nav' | translate }}</a
        >
        <a
          [ngClass]="{ active: sumInsuredLimit }"
          (click)="topNavChanged('sumInsuredLimit')"
          class="col-sm-4 col-lg-4 col-xl-4 text-uppercase"
          >{{ 'masterInformation.sumInsured.nav' | translate }}</a
        >
        <a
          [ngClass]="{ active: riskClass }"
          (click)="topNavChanged('riskClass')"
          class="col-sm-4 col-lg-4 col-xl-4 text-uppercase"
          >{{ 'masterInformation.riskClass.nav' | translate }}</a
        >
      </div>
    </div>
  </div>

  <!-- Form -->
  <ng-container *ngIf="uwReferralRuleSelected">
    <form [formGroup]="masterInformationForm" class="theme-form mt-5">
      <div formGroupName="underwriterRRGroup" class="theme-card w-100 p-0">
        <div class="card-content input-card-content">
          <div formGroupName="ageLimitForSelfAndSpouse" class="row">
            <div class="col-md-12 pb-2">
              <label class="head-sm subtitle subtitle-pl">{{
                'masterInformation.ageLimitForSelfAndSpouse.subtitle'
                  | translate
              }}</label>
            </div>
            <div
              [ngClass]="{
                complete:
                  masterInformationForm
                    .get('underwriterRRGroup')
                    .get('ageLimitForSelfAndSpouse')
                    .get('maximumAge').value &&
                  masterInformationForm
                    .get('underwriterRRGroup')
                    .get('ageLimitForSelfAndSpouse')
                    .get('maximumAgeType').value
              }"
              class="form-field col-md-6 col-lg-4 col-xl-3"
            >
              <div class="head-sm">
                <label>{{
                  'masterInformation.maximumAgeForSelfAndSpouse.label'
                    | translate
                }}</label>
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="number"
                  class="form-control"
                  formControlName="maximumAge"
                  name="maximumAgeForSelfAndSpouse"
                  id="maximumAgeForSelfAndSpouse"
                  placeholder="{{ 'commonText.input.placeholder' | translate }}"
                  autocomplete="off"
                  onKeyPress="if(this.value.length==5) return false;"
                />
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="radio"
                  id="maxSelfSpouseMonths"
                  value="Months"
                  formControlName="maximumAgeType"
                />
                <label for="maxSelfSpouseMonths"
                  ><span>{{
                    'masterInformation.months.label' | translate
                  }}</span></label
                >
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="radio"
                  id="maxSelfSpouseYears"
                  value="Years"
                  formControlName="maximumAgeType"
                />
                <label for="maxSelfSpouseYears"
                  ><span>{{
                    'masterInformation.years.label' | translate
                  }}</span></label
                >
              </div>
              <span class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      .get('underwriterRRGroup')
                      .get('ageLimitForSelfAndSpouse')
                      .get('maximumAgeType')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete:
                  masterInformationForm
                    .get('underwriterRRGroup')
                    .get('ageLimitForSelfAndSpouse')
                    .get('minimumAge').value &&
                  masterInformationForm
                    .get('underwriterRRGroup')
                    .get('ageLimitForSelfAndSpouse')
                    .get('minimumAgeType').value
              }"
              class="form-field col-md-6 col-lg-4 col-xl-3"
            >
              <div class="head-sm">
                <label>{{
                  'masterInformation.minimumAgeForSelfAndSpouse.label'
                    | translate
                }}</label>
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="number"
                  class="form-control"
                  formControlName="minimumAge"
                  name="minimumAgeForSelfAndSpouse"
                  id="minimumAgeForSelfAndSpouse"
                  placeholder="{{ 'commonText.input.placeholder' | translate }}"
                  autocomplete="off"
                  onKeyPress="if(this.value.length==5) return false;"
                />
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="radio"
                  id="minSelfSpouseMonths"
                  value="Months"
                  formControlName="minimumAgeType"
                />
                <label for="minSelfSpouseMonths"
                  ><span>{{
                    'masterInformation.months.label' | translate
                  }}</span></label
                >
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="radio"
                  id="minSelfSpouseYears"
                  value="Years"
                  formControlName="minimumAgeType"
                />
                <label for="minSelfSpouseYears"
                  ><span>{{
                    'masterInformation.years.label' | translate
                  }}</span></label
                >
              </div>
              <span class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      .get('underwriterRRGroup')
                      .get('ageLimitForSelfAndSpouse')
                      .get('minimumAgeType')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('underwriterRRGroup')
                  .get('ageLimitForSelfAndSpouse')
                  .get('offLimitConfiguration').value
              }"
              class="form-field col-md-6 col-lg-4"
            >
              <div class="head-sm">
                <label>{{
                  'masterInformation.offLimitConfiguration.label' | translate
                }}</label>
              </div>
              <div
                *ngFor="let offLimit of offLimitArr; index as i"
                class="form-group theme-radio radio-btn master-info-olc"
              >
                <input
                  type="radio"
                  id="{{ offLimit + ' Self' }}"
                  value="{{ offLimit }}"
                  formControlName="offLimitConfiguration"
                />
                <label for="{{ offLimit + ' Self' }}"
                  ><span>{{ offLimit | translate }}</span></label
                >
              </div>
              <span class="error-msg d-block m-md-n2 radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      .get('underwriterRRGroup')
                      .get('ageLimitForSelfAndSpouse')
                      .get('offLimitConfiguration')
                  )
                }}
              </span>
            </div>
          </div>
          <div
            formGroupName="ageLimitForDependentChild"
            class="row brdr-top pt-4"
          >
            <div class="col-md-12 pb-2">
              <label class="head-sm subtitle subtitle-pl">{{
                'masterInformation.ageLimitForChild.subtitle' | translate
              }}</label>
            </div>
            <div
              [ngClass]="{
                complete:
                  masterInformationForm
                    .get('underwriterRRGroup')
                    .get('ageLimitForDependentChild')
                    .get('maximumAge').value &&
                  masterInformationForm
                    .get('underwriterRRGroup')
                    .get('ageLimitForDependentChild')
                    .get('maximumAgeType').value
              }"
              class="form-field col-md-6 col-lg-4 col-xl-3"
            >
              <div class="head-sm">
                <label>{{
                  'masterInformation.maximumAgeOfChild.label' | translate
                }}</label>
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="number"
                  class="form-control"
                  formControlName="maximumAge"
                  name="maximumAgeOfChild"
                  id="maximumAgeOfChild"
                  placeholder="{{ 'commonText.input.placeholder' | translate }}"
                  autocomplete="off"
                  onKeyPress="if(this.value.length==5) return false;"
                />
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="radio"
                  id="maxChildMonths"
                  value="Months"
                  formControlName="maximumAgeType"
                />
                <label for="maxChildMonths"
                  ><span>{{
                    'masterInformation.months.label' | translate
                  }}</span></label
                >
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="radio"
                  id="maxChildYears"
                  value="Years"
                  formControlName="maximumAgeType"
                />
                <label for="maxChildYears"
                  ><span>{{
                    'masterInformation.years.label' | translate
                  }}</span></label
                >
              </div>
              <span class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      .get('underwriterRRGroup')
                      .get('ageLimitForDependentChild')
                      .get('maximumAgeType')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete:
                  masterInformationForm
                    .get('underwriterRRGroup')
                    .get('ageLimitForDependentChild')
                    .get('minimumAge').value &&
                  masterInformationForm
                    .get('underwriterRRGroup')
                    .get('ageLimitForDependentChild')
                    .get('minimumAgeType').value
              }"
              class="form-field col-md-6 col-lg-4 col-xl-3"
            >
              <div class="head-sm">
                <label>{{
                  'masterInformation.minimumAgeOfChild.label' | translate
                }}</label>
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="number"
                  class="form-control"
                  formControlName="minimumAge"
                  name="minimumAgeOfChild"
                  id="minimumAgeOfChild"
                  placeholder="{{ 'commonText.input.placeholder' | translate }}"
                  autocomplete="off"
                  onKeyPress="if(this.value.length==5) return false;"
                />
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="radio"
                  id="minChildMonths"
                  value="Months"
                  formControlName="minimumAgeType"
                />
                <label for="minChildMonths"
                  ><span>{{
                    'masterInformation.months.label' | translate
                  }}</span></label
                >
              </div>
              <div class="form-group theme-radio radio-btn">
                <input
                  type="radio"
                  id="minChildYears"
                  value="Years"
                  formControlName="minimumAgeType"
                />
                <label for="minChildYears"
                  ><span>{{
                    'masterInformation.years.label' | translate
                  }}</span></label
                >
              </div>
              <span class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      .get('underwriterRRGroup')
                      .get('ageLimitForDependentChild')
                      .get('minimumAgeType')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('underwriterRRGroup')
                  .get('ageLimitForDependentChild')
                  .get('offLimitConfiguration').value
              }"
              class="form-field col-md-6 col-lg-4"
            >
              <div class="head-sm">
                <label>{{
                  'masterInformation.offLimitConfiguration.label' | translate
                }}</label>
              </div>
              <!-- <div class="form-group theme-radio radio-btn master-info-olc">
                                <input type="radio" id="sendToUW_child" value="Send To UW" formControlName="offLimitConfiguration"/>
                                <label for="sendToUW_child">
                                    <span>{{'masterInformation.offLimitConfiguration.option_1'| translate}}</span>
                                </label>
                            </div> -->
              <div
                *ngFor="let offLimit of offLimitArr; index as i"
                class="form-group theme-radio radio-btn master-info-olc"
              >
                <input
                  type="radio"
                  id="{{ offLimit + ' Child' }}"
                  value="{{ offLimit }}"
                  formControlName="offLimitConfiguration"
                />
                <label for="{{ offLimit + ' Child' }}"
                  ><span>{{ offLimit | translate }}</span></label
                >
              </div>
              <span class="error-msg d-block m-md-n2 radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      .get('underwriterRRGroup')
                      .get('ageLimitForDependentChild')
                      .get('offLimitConfiguration')
                  )
                }}
              </span>
            </div>
          </div>
          <div formGroupName="maximumBaseSiLimit" class="row brdr-top pt-4">
            <div class="col-md-12 pb-2">
              <label class="head-sm subtitle subtitle-pl">{{
                'masterInformation.maximumBaseSILimit.subtitle' | translate
              }}</label>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('underwriterRRGroup')
                  .get('maximumBaseSiLimit')
                  .get('maxLimit').value
              }"
              class="col-md-6 col-lg-4 col-xl-3 custom-rupee-control form-field"
            >
              <label for="maxLimit" class="head-sm">{{
                'masterInformation.maximumBaseSILimit.label' | translate
              }}</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend rupee-refer-btn">
                  <span class="input-group-text svg-md"
                    ><i class="fa fa-inr" aria-hidden="true"></i
                  ></span>
                </div>
                <input
                  type="number"
                  class="form-control rupee-referal-input"
                  formControlName="maxLimit"
                  name="maxLimit"
                  id="maxLimit"
                  (keypress)="isNumberKey($event)"
                  placeholder="{{ 'commonText.input.placeholder' | translate }}"
                  autocomplete="off"
                  onKeyPress="if(this.value.length==10) return false;"
                />
              </div>
              <span class="error-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      .get('underwriterRRGroup')
                      .get('maximumBaseSiLimit')
                      .get('maxLimit')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('underwriterRRGroup')
                  .get('maximumBaseSiLimit')
                  .get('offLimitConfiguration').value
              }"
              class="form-field col-md-6 col-lg-4"
            >
              <div class="head-sm">
                <label>{{
                  'masterInformation.offLimitConfiguration.label' | translate
                }}</label>
              </div>
              <div
                *ngFor="let offLimit of offLimitArr; index as i"
                class="form-group theme-radio radio-btn master-info-olc"
              >
                <input
                  type="radio"
                  id="{{ offLimit + ' mbl' }}"
                  value="{{ offLimit }}"
                  formControlName="offLimitConfiguration"
                />
                <label for="{{ offLimit + ' mbl' }}"
                  ><span>{{ offLimit | translate }}</span></label
                >
              </div>
              <!-- <div class="form-group theme-radio radio-btn master-info-olc">
                  <input
                    type="radio"
                    id="sendToUW_mbl"
                    value="Send To UW"
                    formControlName="offLimitConfiguration"
                  />
                  <label for="sendToUW_mbl"
                    ><span>{{
                      'masterInformation.offLimitConfiguration.option_1'
                        | translate
                    }}</span></label
                  >
                </div>
                <div class="form-group theme-radio radio-btn master-info-olc">
                  <input
                    type="radio"
                    id="restrictUser_mbl"
                    value="Restrict User"
                    formControlName="offLimitConfiguration"
                  />
                  <label for="restrictUser_mbl"
                    ><span>{{
                      'masterInformation.offLimitConfiguration.option_2'
                        | translate
                    }}</span></label
                  >
                </div>
                <div class="form-group theme-radio radio-btn master-info-olc">
                  <input
                    type="radio"
                    id="none_mbl"
                    value="None"
                    formControlName="offLimitConfiguration"
                  />
                  <label for="none_mbl"
                    ><span>{{
                      'masterInformation.offLimitConfiguration.option_3'
                        | translate
                    }}</span></label
                  >
                </div> -->
              <span class="error-msg d-block m-md-n2 radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      .get('underwriterRRGroup')
                      .get('maximumBaseSiLimit')
                      .get('offLimitConfiguration')
                  )
                }}
              </span>
            </div>
          </div>
          <div formGroupName="medicalHistory" class="row brdr-top pt-4">
            <div class="col-md-12 pb-2">
              <label class="head-sm subtitle subtitle-pl">{{
                'masterInformation.medicalHistory.subtitle' | translate
              }}</label>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('underwriterRRGroup')
                  .get('medicalHistory')
                  .get('offLimitConfiguration').value
              }"
              class="form-field col-md-6 col-lg-4"
            >
              <div class="head-sm">
                <label>{{
                  'masterInformation.offLimitConfiguration.label' | translate
                }}</label>
              </div>
              <div
                *ngFor="let offLimit of offLimitArr; index as i"
                class="form-group theme-radio radio-btn master-info-olc"
              >
                <input
                  type="radio"
                  id="{{ offLimit + ' mh' }}"
                  value="{{ offLimit }}"
                  formControlName="offLimitConfiguration"
                />
                <label for="{{ offLimit + ' mh' }}"
                  ><span>{{ offLimit | translate }}</span></label
                >
              </div>
              <!-- <div class="form-group theme-radio radio-btn master-info-olc">
                  <input
                    type="radio"
                    id="restrictUser_mh"
                    value="Restrict User"
                    formControlName="offLimitConfiguration"
                  />
                  <label for="restrictUser_mh"
                    ><span>{{
                      'masterInformation.offLimitConfiguration.option_2'
                        | translate
                    }}</span></label
                  >
                </div>
                <div class="form-group theme-radio radio-btn master-info-olc">
                  <input
                    type="radio"
                    id="none_mh"
                    value="None"
                    formControlName="offLimitConfiguration"
                  />
                  <label for="none_mh"
                    ><span>{{
                      'masterInformation.offLimitConfiguration.option_3'
                        | translate
                    }}</span></label
                  >
                </div> -->
              <span class="error-msg d-block m-md-n2 radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      .get('underwriterRRGroup')
                      .get('medicalHistory')
                      .get('offLimitConfiguration')
                  )
                }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Update Button -->
      <div class="btn-block primary bg-blue btn-top-spacing">
        <button
          (click)="uwConfigUpdate(update_template)"
          type="button"
          class="btn primary-btn mob-text-btn theme-lg-btn active"
        >
          {{ 'commonBtn.update' | translate }}
        </button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="sumInsuredLimit">
    <form [formGroup]="masterInformationForm" class="theme-form mt-5">
      <div class="row pb-3">
        <div class="col-lg-4 col-md-6">
          <input
            type="text"
            class="form-control"
            name="searchText"
            id="searchText"
            placeholder="{{
              'masterInformation.siLimitSearch.placeholder' | translate
            }}"
            autocomplete="off"
          />
        </div>
        <div class="col-lg-3 col-md-6 d-none d-md-block">
          <div class="row">
            <div class="col-md-4 d-flex-jcenter">
              <button
                (click)="openSortFilterModal(sort_filter_template)"
                type="button"
                class="btn quotelist-btn icon-filter m-0 filter-btn"
              >
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Filter" />
                </svg>
              </button>
            </div>
            <div class="col-md-8">
              <button
                type="button"
                class="btn primary-btn search-btn theme-sm-btn sm m-0"
              >
                <span class="pr-10">
                  <svg class="search-si-icon search-fillWhite">
                    <use xlink:href="#ICON_Search" />
                  </svg>
                </span>
                {{ 'commonBtn.search' | translate }}
              </button>
            </div>
            <!-- <div class="col-lg-5">
                              <ng-select [items]="dropDownArr" [searchable]="false" id="addItem"
                                  placeholder="{{'masterInformation.addSILimit.placeholder' | translate}}"
                                  autocomplete="off">
                              </ng-select>
                          </div> -->
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="row">
            <div class="col-lg-5 col-md-6">
              <ng-select
                [items]="dropDownArr"
                [searchable]="false"
                id="addItem"
                placeholder="{{
                  'masterInformation.addSILimit.placeholder' | translate
                }}"
                bindLabel="type"
                bindValue="id"
                (change)="dropdownChange(sumInsured_limit_template)"
                formControlName="addItem"
                autocomplete="off"
              >
              </ng-select>
            </div>
            <div class="col-lg-7 col-md-6">
              <button
                (click)="openSortFilterModal(sort_filter_template)"
                type="button"
                class="btn quotelist-btn icon-filter m-0 filter-btn float-left d-block d-sm-none"
              >
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Filter" />
                </svg>
              </button>
              <div class="d-flex-acenter float-right">
                <span class="color-asqi"
                  ><label class="pr-2 subtitle"
                    >{{
                      'masterInformation.defaultSiLimit.label' | translate
                    }}:</label
                  ><span class="theme-value pr-2">{{
                    masterInformationForm.get('sumInsuredLimit').value
                  }}</span></span
                >
                <button
                  (click)="openSetSILimitModal(edit_limit_template)"
                  class="btn quotelist-btn ml-3 mr-0 mb-0"
                >
                  <svg class="svg-xs">
                    <use xlink:href="#ICON_Edit" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="d-flex-acenter float-right">
                          <span class="color-asqi"><label class="pr-2 subtitle">Default SI Limit:</label><span
                                  class="theme-value pr-2">50,00,000</span></span>
                          <button class="btn quotelist-btn ml-3 mr-0">
                              <svg class="svg-xs">
                                  <use xlink:href="#ICON_Edit" />
                              </svg></button>
                      </div> -->
        </div>
        <div class="col-md-12 pt-3 pt-md-0">
          <button
            (click)="downloadMasterData()"
            type="button"
            class="btn link-btn"
          >
            <svg class="svg-xs mini-svg m-0">
              <use xlink:href="#ICON_Download" />
            </svg>
            {{ 'commonBtn.downloadMasterData' | translate }}
          </button>
        </div>
      </div>
      <div class="row brdr-top pt-4 preview-details label-lg-row">
        <div class="col-md-6 col-lg-1">
          <label class="theme-label">{{
            'commonBtn.search' | translate
          }}</label>
        </div>
        <div class="col-md-6 col-lg-2">
          <label class="theme-label">{{
            'masterInformation.producerCodes.label' | translate
          }}</label>
        </div>
        <div class="col-md-6 col-lg-2">
          <label class="theme-label">{{
            'masterInformation.locationCodes.label' | translate
          }}</label>
        </div>
        <div class="col-md-6 col-lg-1">
          <label class="theme-label">{{
            'masterInformation.applicableOnChildProducers.label' | translate
          }}</label>
        </div>
        <div class="col-md-6 col-lg-1">
          <label class="theme-label">{{
            'masterInformation.siLimit.label' | translate
          }}</label>
        </div>
        <div class="col-md-6 col-lg-1">
          <label class="theme-label">{{
            'masterInformation.minAgeForSelf.label' | translate
          }}</label>
        </div>
        <div class="col-md-6 col-lg-1">
          <label class="theme-label">{{
            'masterInformation.maxAgeForSelf.label' | translate
          }}</label>
        </div>
        <div class="col-md-6 col-lg-1">
          <label class="theme-label">{{
            'masterInformation.effectiveStartDate.label' | translate
          }}</label>
        </div>
        <div class="col-md-6 col-lg-1">
          <label class="theme-label">{{
            'masterInformation.effectiveEndDate.label' | translate
          }}</label>
        </div>
        <div class="col-md-6 col-lg-1"></div>
      </div>

      <div
        *ngFor="
          let item of ageSiLimitData
            | paginate: { itemsPerPage: 9, currentPage: page };
          let i = index
        "
        [ngClass]="{ 'card-top-spacing': i > 0 }"
        class="theme-card w-100 p-0 preview-details"
      >
        <div class="card-content block-card-content">
          <div class="row block-card-details">
            <div class="col-md-12 d-xl-none mb-0">
              <label class="head-sm d-inline">{{
                'masterInformation.siLimit.label' | translate
              }}</label>
              <button
                class="btn quotelist-btn pull-right m-0"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <svg height="16" width="16">
                  <use xlink:href="#ICON_Three_dots" />
                </svg>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-right action-dropdown-menu"
                aria-labelledby="dropdownMenuButton"
              >
                <li>
                  <a
                    (click)="
                      openSumInsuredLimitModal(
                        sumInsured_limit_template,
                        'edit',
                        item
                      )
                    "
                    class="dropdown-item"
                    ><svg class="svg-xs">
                      <use xlink:href="#ICON_Edit" />
                    </svg>
                    <span class="pl-2">{{
                      'commonBtn.edit' | translate
                    }}</span></a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-1">
              <label class="theme-label d-xl-none">{{
                'masterInformation.channel.label' | translate
              }}</label>
              <span class="head-sm">{{ item?.channel }}</span>
            </div>
            <div class="col-md-6 col-lg-2">
              <label class="theme-label d-xl-none">{{
                'masterInformation.producerCodes.label' | translate
              }}</label>
              <span class="theme-value">{{ item?.producer_code[0] }}</span
              ><span *ngIf="item?.producer_code?.length > 1" class="theme-value"
                >,</span
              >
              <span
                *ngIf="item?.producer_code?.length > 1"
                (click)="openProducerCodesModal(producer_codes_template, item)"
                class="theme-value d-block"
                ><u class="cursor-pointer"
                  >+
                  {{ item?.producer_code?.length - 1 }}
                  More</u
                ></span
              >
            </div>
            <div class="col-md-6 col-lg-2">
              <label class="theme-label d-xl-none">{{
                'masterInformation.locationCodes.label' | translate
              }}</label>
              <span class="theme-value">{{ item?.location[0] }}</span
              ><span *ngIf="item?.location?.length > 1" class="theme-value"
                >,</span
              >
              <span
                *ngIf="item?.location?.length > 1"
                (click)="openLocationCodesModal(location_codes_template, item)"
                class="theme-value d-block"
                ><u class="cursor-pointer"
                  >+
                  {{ item?.location?.length - 1 }}
                  More</u
                ></span
              >
            </div>
            <div class="col-md-6 col-lg-1">
              <label class="theme-label d-xl-none">{{
                'masterInformation.applicableOnChildProducers.label' | translate
              }}</label>
              <span class="theme-value">{{ item?.child_producer }}</span>
            </div>
            <div class="col-md-6 col-lg-1">
              <label class="theme-label d-xl-none">{{
                'masterInformation.siLimit.label' | translate
              }}</label>
              <span class="theme-value">{{ item?.producer_silimit }}/-</span>
            </div>
            <div class="col-md-6 col-lg-1">
              <label class="theme-label d-xl-none">{{
                'masterInformation.minAgeForSelf.label' | translate
              }}</label>
              <span class="theme-value">{{ item?.min_age_Adult }}</span>
            </div>
            <div class="col-md-6 col-lg-1">
              <label class="theme-label d-xl-none">{{
                'masterInformation.maxAgeForSelf.label' | translate
              }}</label>
              <span class="theme-value">{{ item?.max_age_Adult }}</span>
            </div>
            <div class="col-md-6 col-lg-1">
              <label class="theme-label d-xl-none">{{
                'masterInformation.effectiveStartDate.label' | translate
              }}</label>
              <span class="theme-value">{{ item?.effective_start_date }}</span>
            </div>
            <div class="col-md-6 col-lg-1">
              <label class="theme-label d-xl-none">{{
                'masterInformation.effectiveEndDate.label' | translate
              }}</label>
              <span class="theme-value">{{ item?.effective_end_date }}</span>
            </div>
            <div class="col-md-6 col-lg-1 button-lg-block">
              <!-- <span class="button-tooltip"> -->
              <!-- <span class="tooltiptext">Ammend</span> -->
              <button
                (click)="
                  openSumInsuredLimitModal(
                    sumInsured_limit_template,
                    'edit',
                    item
                  )
                "
                type="button"
                class="btn quotelist-btn m-0"
              >
                <svg class="svg-xs">
                  <use xlink:href="#ICON_Edit" />
                </svg>
              </button>
              <!-- </span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="pull-right pagination-entries mt-5">
        <pagination-controls
          class="my-pagination"
          (pageChange)="page = $event"
          [directionLinks]="true"
          maxSize="9"
          responsive="true"
          previousLabel="Prev"
        >
        </pagination-controls>
      </div>

      <div class="btn-block primary bg-blue m-t-lg d-block d-sm-none">
        <button
          type="button"
          class="btn primary-btn mob-text-btn theme-lg-btn active"
        >
          <span
            ><svg class="search-si-icon">
              <use xlink:href="#ICON_Search" />
            </svg>
            {{ 'commonBtn.search' | translate }}</span
          >
        </button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="riskClass">
    <form [formGroup]="masterInformationForm" class="theme-form mt-5">
      <div class="theme-card w-100 p-0">
        <div class="card-content pb-20">
          <div class="row" formGroupName="riskClass">
            <div class="col-12 flex-box-100">
              <div class="head-sm">SELF</div>
              <div class="check-default">
                <input
                  type="checkbox"
                  formControlName="riskClass1"
                  class="checkbox"
                  id="riskClass1"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClass1"
                  >{{ riskClassArr[0] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClass2"
                  class="checkbox"
                  id="riskClass2"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClass2"
                  >{{ riskClassArr[1] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClass3"
                  class="checkbox"
                  id="riskClass3"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClass3"
                  >{{ riskClassArr[2] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClass4"
                  class="checkbox"
                  id="riskClass4"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClass4"
                  >{{ riskClassArr[3] }}</label
                >
              </div>
              <div class="ml-lg-4 pb-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClass5"
                  class="checkbox"
                  id="riskClass5"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClass5"
                  >{{ riskClassArr[4] }}</label
                >
              </div>
            </div>
            <div class="col-12 pt-20 flex-box-100">
              <div class="head-sm">SPOUSE</div>
              <div class="check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassSpouse1"
                  class="checkbox"
                  id="riskClassSpouse1"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassSpouse1"
                  >{{ riskClassArr[0] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassSpouse2"
                  class="checkbox"
                  id="riskClassSpouse2"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassSpouse2"
                  >{{ riskClassArr[1] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassSpouse3"
                  class="checkbox"
                  id="riskClassSpouse3"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassSpouse3"
                  >{{ riskClassArr[2] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassSpouse4"
                  class="checkbox"
                  id="riskClassSpouse4"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassSpouse4"
                  >{{ riskClassArr[3] }}</label
                >
              </div>
              <div class="ml-lg-4 pb-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassSpoue5"
                  class="checkbox"
                  id="riskClassSpoue5"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassSpoue5"
                  >{{ riskClassArr[4] }}</label
                >
              </div>
            </div>
            <div class="col-12 pt-20 flex-box-100">
              <div class="head-sm">DEPENDENT CHILD</div>
              <div class="pb-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassChild1"
                  class="checkbox"
                  id="riskClassChild1"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassChild1"
                  >{{ riskClassArr[0] }}</label
                >
              </div>
            </div>
            <div class="col-12 pt-20 flex-box-100">
              <div class="head-sm">PARENTS AND PARENT-IN-LAWS</div>
              <div class="check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassInlaw1"
                  class="checkbox"
                  id="riskClassInlaw1"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassInlaw1"
                  >{{ riskClassArr[0] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassInlaw2"
                  class="checkbox"
                  id="riskClassInlaw2"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassInlaw2"
                  >{{ riskClassArr[1] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassInlaw3"
                  class="checkbox"
                  id="riskClassInlaw3"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassInlaw3"
                  >{{ riskClassArr[2] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassInlaw4"
                  class="checkbox"
                  id="riskClassInlaw4"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassInlaw4"
                  >{{ riskClassArr[3] }}</label
                >
              </div>
              <div class="ml-lg-4 check-default">
                <input
                  type="checkbox"
                  formControlName="riskClassInlaw5"
                  class="checkbox"
                  id="riskClassInlaw5"
                />
                <label
                  class="font-poppins-medium theme-value"
                  for="riskClassInlaw5"
                  >{{ riskClassArr[4] }}</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Update Button -->
      <div class="btn-block primary bg-blue btn-top-spacing">
        <button
          type="button"
          class="btn primary-btn mob-text-btn theme-lg-btn active"
        >
          {{ 'commonBtn.update' | translate }}
        </button>
      </div>
    </form>
  </ng-container>
</div>

<!-- Update Modal Template -->
<ng-template #update_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-sm success-info pb-modal">
      <div class="modal-header">
        <div class="close-icon" (click)="updateModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body succes-container">
        <div class="row">
          <div class="text-center col-md-12">
            <div>
              <svg class="icon-blue">
                <use xlink:href="#ICON_Sent_successfully" />
              </svg>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-center">
            <div class="row pt-3">
              <div class="col-md-12 d-flex-jcenter">
                <label class="theme-update-value">{{
                  'success_Detail.updatedSuccessfullly.title' | translate
                }}</label>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-5 d-flex-jcenter">
            <button
              (click)="updateModalRef.hide(); getAgeSumInsuredLimit()"
              type="button"
              class="btn primary-btn mr-0 modal-btn theme-sm-btn"
            >
              {{ 'commonBtn.done' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Edit SI Limit Modal Template -->
<ng-template #edit_limit_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-sm modal-form">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-uppercase">
          {{ 'masterInformation.siLimitModal.title' | translate }}
        </h4>
        <div class="close-icon" (click)="editSiLimitModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body has-form">
        <form [formGroup]="masterInformationForm" class="theme-form">
          <div class="row">
            <div
              [ngClass]="{
                complete: masterInformationForm.get('sumInsuredLimit').value
              }"
              class="form-field custom-rupee-control col-md-12"
            >
              <label for="sumInsuredLimit" class="head-sm">{{
                'masterInformation.siLimitModal.sumInsuredLimit.label'
                  | translate
              }}</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend rupee-refer-btn">
                  <span class="input-group-text svg-md"
                    ><i class="fa fa-inr" aria-hidden="true"></i
                  ></span>
                </div>
                <input
                  type="number"
                  class="form-control rupee-referal-input"
                  formControlName="sumInsuredLimit"
                  name="sumInsuredLimit"
                  id="sumInsuredLimit"
                  (keypress)="isNumberKey($event)"
                  placeholder="{{ 'commonText.input.placeholder' | translate }}"
                  autocomplete="off"
                />
              </div>
              <!-- <span class="error-msg">
                              {{'commonText.requiredError' | translate}}
                          </span> -->
              <span class="declartion-info theme-label subtitle-pl"
                >{{
                  'masterInformation.siLimitModal.currentLimit.label'
                    | translate
                }}
                :
                {{ masterInformationForm.get('sumInsuredLimit').value }}/-</span
              >
            </div>
            <div class="col-md-12 mt-3">
              <div class="row">
                <div class="col-6 col-md-6 d-flex justify-content-center">
                  <button
                    type="button"
                    class="btn primary-btn mr-0 modal-btn theme-sm-btn"
                  >
                    {{ 'commonBtn.clear' | translate }}
                  </button>
                </div>
                <div class="col-6 col-md-6 d-flex justify-content-center">
                  <button
                    type="button"
                    class="btn primary-btn mr-0 modal-btn theme-sm-btn active"
                  >
                    {{ 'commonBtn.update' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<!-- Sort & Filter Modal Template -->
<ng-template #sort_filter_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-md modal-form">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-uppercase">
          {{ 'masterInformation.sortAndFilterModal.title' | translate }}
        </h4>
        <div class="close-icon" (click)="sortFilterModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body has-form">
        <form [formGroup]="masterInformationForm" class="theme-form">
          <div formGroupName="sortAndFilter" class="row">
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('sortAndFilter')
                  .get('channel').value
              }"
              class="col-md-6 form-field"
            >
              <label for="channel" class="head-sm">{{
                'masterInformation.sortAndFilterModal.channel.label' | translate
              }}</label>
              <ng-multiselect-dropdown
                class="dd-multi-select"
                [placeholder]="'Select'"
                [settings]="dropdownSettings"
                [data]="channelDropdown"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                id="channel"
                formControlName="channel"
              >
              </ng-multiselect-dropdown>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('sortAndFilter')
                  .get('location').value
              }"
              class="col-md-6 form-field"
            >
              <label for="location" class="head-sm">{{
                'masterInformation.sortAndFilterModal.location.label'
                  | translate
              }}</label>
              <ng-multiselect-dropdown
                class="dd-multi-select"
                [placeholder]="'Select'"
                [settings]="dropdownSettings"
                [data]="locationDropdown"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                id="location"
                formControlName="location"
              >
              </ng-multiselect-dropdown>
            </div>
            <div class="col-md-12 mt-3">
              <div class="row">
                <div class="col-6 col-md-6 d-flex justify-content-center">
                  <button
                    type="button"
                    (click)="setAgeSiLimitArr(); sortFilterModalRef.hide()"
                    class="btn primary-btn mr-0 modal-btn theme-sm-btn active"
                  >
                    {{ 'commonBtn.applyFilter' | translate }}
                  </button>
                </div>
                <div class="col-6 col-md-6 d-flex justify-content-center">
                  <button
                    type="button"
                    (click)="clearFilter()"
                    class="btn primary-btn mr-0 modal-btn theme-sm-btn"
                  >
                    {{ 'commonBtn.clear' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<!-- Producer Codes Modal Template -->
<ng-template #producer_codes_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-sm">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-uppercase">
          {{ 'masterInformation.producerCodesModal.title' | translate }}
        </h4>
        <div class="close-icon" (click)="producerCodesModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body code-display">
        <div class="row">
          <div *ngFor="let item of dataArr" class="col-md-12 brdr-top py-3">
            <span class="theme-disp-value">{{ item }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Location Codes Modal Template -->
<ng-template #location_codes_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-sm">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-uppercase">
          {{ 'masterInformation.locationCodesModal.title' | translate }}
        </h4>
        <div class="close-icon" (click)="locationCodesModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body code-display">
        <div class="row">
          <div
            *ngFor="let location of locationArr"
            class="col-md-12 brdr-top py-3"
          >
            <span class="theme-disp-value">{{ location }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Add/ Edit Sum Insured Limit Modal Template  -->
<ng-template #sumInsured_limit_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-md modal-form">
      <div class="modal-header">
        <h4 *ngIf="addSILimit" class="modal-title pull-left text-uppercase">
          {{ 'masterInformation.sumInsuredModal.add.title' | translate }}
        </h4>
        <h4 *ngIf="editSILimit" class="modal-title pull-left text-uppercase">
          {{ 'masterInformation.sumInsuredModal.edit.title' | translate }}
        </h4>
        <div
          class="close-icon"
          (click)="sumInsuredLimitModalRef.hide(); formReset()"
        >
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body has-form">
        <form [formGroup]="masterInformationForm" class="theme-form">
          <div formGroupName="addSumInsuredLimit" class="row">
            <div class="col-md-6 form-field">
              <label for="addEditChannel" class="head-sm">{{
                'masterInformation.sumInsuredModal.channel.label' | translate
              }}</label>
              <ng-select
                [items]="channelDropdown"
                [searchable]="false"
                id="addEditChannel"
                formControlName="channel"
                placeholder="{{ 'commonText.select.placeholder' | translate }}"
                bindLabel="name"
                bindValue="name"
                autocomplete="off"
              >
              </ng-select>
              <span *ngIf="addSILimit" class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      ?.get('addSumInsuredLimit')
                      .get('channel')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('addSumInsuredLimit')
                  .get('producerCode').value
              }"
              class="col-md-6 form-field"
            >
              <label for="producerCode" class="head-sm">{{
                'masterInformation.sumInsuredModal.producerCode.label'
                  | translate
              }}</label>
              <ng-multiselect-dropdown
                class="dd-multi-select"
                [placeholder]="'Select'"
                [settings]="searchDropDownSettings"
                [data]="producerCodesDropdown"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                id="producerCode"
                formControlName="producerCode"
              >
              </ng-multiselect-dropdown>
              <span *ngIf="addSILimit" class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      ?.get('addSumInsuredLimit')
                      .get('producerCode')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('addSumInsuredLimit')
                  .get('location').value
              }"
              class="col-md-6 form-field"
            >
              <label for="addEditSIlocation" class="head-sm">{{
                'masterInformation.sumInsuredModal.location.label' | translate
              }}</label>
              <ng-multiselect-dropdown
                class="dd-multi-select"
                [placeholder]="'Select'"
                [settings]="searchDropDownSettings"
                [data]="locationDropdown"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                id="addEditSIlocation"
                formControlName="location"
              >
              </ng-multiselect-dropdown>
              <span *ngIf="addSILimit" class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      ?.get('addSumInsuredLimit')
                      .get('location')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('addSumInsuredLimit')
                  .get('applicableOnChildProducers').value
              }"
              class="col-md-6 form-field"
            >
              <label for="applicableOnChildProducers" class="head-sm">{{
                'masterInformation.sumInsuredModal.applicableOnChildProducers.label'
                  | translate
              }}</label>
              <ng-select
                [items]="boolDropdown"
                [searchable]="false"
                id="applicableOnChildProducers"
                formControlName="applicableOnChildProducers"
                placeholder="{{ 'commonText.select.placeholder' | translate }}"
                bindLabel="name"
                bindValue="id"
                autocomplete="off"
              >
              </ng-select>
              <span *ngIf="addSILimit" class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      ?.get('addSumInsuredLimit')
                      .get('applicableOnChildProducers')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('addSumInsuredLimit')
                  .get('effectiveStartDate').value
              }"
              class="col-md-6 form-field"
            >
              <label for="effectiveStartDate" class="head-sm">{{
                'masterInformation.sumInsuredModal.effectiveStartDate.label'
                  | translate
              }}</label>
              <input
                #effectiveStartDate
                type="text"
                class="form-control"
                formControlName="effectiveStartDate"
                name="effectiveStartDate"
                id="effectiveStartDate"
                (keypress)="
                  helper.numericKeypress($event); helper.isNumberKey($event)
                "
                (keyup.enter)="formatLikeExcel('effectiveStartDate')"
                (focusout)="formatLikeExcel('effectiveStartDate')"
                placeholder="DD/MM/YYYY"
                autocomplete="off"
              />
              <span *ngIf="addSILimit" class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      ?.get('addSumInsuredLimit')
                      .get('effectiveStartDate')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('addSumInsuredLimit')
                  .get('effectiveEndDate').value
              }"
              class="col-md-6 form-field"
            >
              <label for="effectiveEndDate" class="head-sm">{{
                'masterInformation.sumInsuredModal.effectiveEndDate.label'
                  | translate
              }}</label>
              <input
                #effectiveEndDate
                type="text"
                class="form-control"
                formControlName="effectiveEndDate"
                name="effectiveEndDate"
                id="effectiveEndDate"
                (keypress)="
                  helper.numericKeypress($event); helper.isNumberKey($event)
                "
                (keyup.enter)="formatLikeExcel('effectiveEndDate')"
                (focusout)="formatLikeExcel('effectiveEndDate')"
                placeholder="DD/MM/YYYY"
                autocomplete="off"
              />
              <span *ngIf="addSILimit" class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      ?.get('addSumInsuredLimit')
                      .get('effectiveEndDate')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('addSumInsuredLimit')
                  .get('minAgeForSelf').value
              }"
              class="col-md-6 form-field"
            >
              <label for="minAgeForSelf" class="head-sm">{{
                'masterInformation.sumInsuredModal.minAgeForSelf.label'
                  | translate
              }}</label>
              <input
                type="number"
                class="form-control"
                formControlName="minAgeForSelf"
                name="minAgeForSelf"
                id="minAgeForSelf"
                (keypress)="isNumberKey($event)"
                placeholder="{{
                  'masterInformation.sumInsuredModal.minAgeForSelf.placeholder'
                    | translate
                }}"
                autocomplete="off"
                (focusout)="minMaxAgeCompare()"
              />
              <span *ngIf="addSILimit" class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      ?.get('addSumInsuredLimit')
                      .get('minAgeForSelf')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('addSumInsuredLimit')
                  .get('maxAgeForSelf').value
              }"
              class="col-md-6 form-field"
            >
              <label for="maxAgeForSelf" class="head-sm">{{
                'masterInformation.sumInsuredModal.maxAgeForSelf.label'
                  | translate
              }}</label>
              <input
                type="number"
                class="form-control"
                formControlName="maxAgeForSelf"
                name="maxAgeForSelf"
                id="maxAgeForSelf"
                (keypress)="isNumberKey($event)"
                placeholder="{{
                  'masterInformation.sumInsuredModal.maxAgeForSelf.placeholder'
                    | translate
                }}"
                autocomplete="off"
                (focusout)="minMaxAgeCompare()"
              />
              <span *ngIf="addSILimit" class="error-msg d-block radio-err-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      ?.get('addSumInsuredLimit')
                      .get('maxAgeForSelf')
                  )
                }}
              </span>
            </div>
            <div
              [ngClass]="{
                complete: masterInformationForm
                  .get('addSumInsuredLimit')
                  .get('sumInsuredLimit').value
              }"
              class="col-md-6 custom-rupee-control form-field"
            >
              <label for="addEditsumInsuredLimit" class="head-sm">{{
                'masterInformation.sumInsuredModal.sumInsuredLimit.label'
                  | translate
              }}</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend rupee-refer-btn">
                  <span class="input-group-text svg-md"
                    ><i class="fa fa-inr" aria-hidden="true"></i
                  ></span>
                </div>
                <input
                  type="number"
                  class="form-control rupee-referal-input"
                  formControlName="sumInsuredLimit"
                  name="addEditsumInsuredLimit"
                  id="addEditsumInsuredLimit"
                  (keypress)="isNumberKey($event)"
                  placeholder="{{ 'commonText.input.placeholder' | translate }}"
                  autocomplete="off"
                />
              </div>
              <span *ngIf="addSILimit" class="error-msg">
                {{
                  getErrorMessage(
                    masterInformationForm
                      ?.get('addSumInsuredLimit')
                      .get('sumInsuredLimit')
                  )
                }}
              </span>
            </div>
            <div class="col-md-12 d-flex-jcenter">
              <button
                (click)="ageSumInsuredUpdate(update_template)"
                type="button"
                class="btn primary-btn theme-sm-btn mr-0 active"
              >
                {{ 'commonBtn.save' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
