@import 'sass/variable';
@import 'sass/mixins';
@import 'sass/fonts';
@import 'sass/placeholder';
@import '@ng-select/ng-select/themes/default.theme.css';

// *********COMMON**********//
label.subtitle {
  text-transform: uppercase;
}

.med-ques {
  color: $clr-primary;
  font-size: 18px;
  font-family: $pop-med;
}

.membercard-addrider {
  box-shadow: $outset;
  padding: 10px;
  border-radius: 7px;
}

.membercard-addrider label {
  color: $clr-primary;
  font-family: $pop-reg;
  font-size: 18px;
  margin: 0;
}

.addrider-close-btn {
  height: 30px;
  width: 30px;
  right: 2%;
}

.label-checked {
  pointer-events: auto !important;
}

.subtitle-pl {
  padding-left: 30px !important;
}

.premium-amt-value {
  color: $clr-primary;
  font-family: $pop-semi;
  font-size: 24px;
}

.d-flex-acenter {
  display: flex;
  align-items: center;
}

table.premium-detials-table {
  line-height: 10px;
}

.brdr-top {
  border-top: 1px dotted rgba(81, 96, 129, 0.5);
}

table.premium-detials-table tfoot span.theme-value {
  font-size: 16px !important;
}

table.premium-detials-table tbody span.theme-value {
  font-size: 15px !important;
}

.review-proposal label {
  margin-bottom: 0.2em;
}

.review-proposal span.theme-value {
  display: block;
}

.review-proposal label.theme-label {
  text-transform: initial;
}

.quotelist-btn {
  color: $clr-primary;
  opacity: 1;
  background: $btn-pri-bg;
  box-shadow: $outset;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 40px;
  padding: 10px;
}

.file-err-msg {
  display: inline-block;
  position: relative;
  bottom: -52px;
}

.file-label-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-uploadFile {
  width: 30px;
  height: 25px !important;
  fill: $primary-dark;
}

.custom-file-label::after {
  content: none !important;
}

.custom-file-input {
  display: none;
}

.subtitle-disclaimer {
  text-transform: initial !important;
}

.preview-details-row div {
  margin-bottom: 1.5rem;
}

.quotelist-btn:active,
.quotelist-btn:focus,
.quotelist-btn:hover {
  color: $clr-primary;
  box-shadow: $outset;
}

.member-icon {
  height: 35px;
  width: 35px;
  box-shadow: $outset;
}

.member-icon-fill {
  fill: $clr-primary;
}

.check-default label {
  font-family: $pop-med;
}

.end-date-pos {
  position: absolute;
}

.icon-yesterday {
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  transform: translate(10px, 10px);
}

.topnav-master {
  overflow: hidden;
}

.topnav-master a {
  float: left;
  display: block;
  color: $clr-asqi;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 5px solid $clr-asqi;
  font-weight: 600;
  cursor: pointer;
}

.topnav-master a:hover {
  border-bottom: 5px solid $primary-dark;
  color: $primary-dark;
}

.topnav-master a.active {
  border-bottom: 5px solid $primary-dark;
  color: $primary-dark;
}

.theme-radio.radio-btn input[type='number'] {
  width: 145px;
  min-width: 145px;
}

.filter-btn {
  min-width: 50px;
  height: 50px;
}

.search-btn {
  width: 100%;
  min-width: 100%;
}

.search-btn:hover .search-si-icon,
.search-btn:focus .search-si-icon {
  fill: $default;
}

.search-si-icon {
  fill: $primary-dark;
  height: 25px;
  width: 25px;
  transform: translate(-15px, -2px);
}

.search-btn:hover .search-si-icon,
.search-btn:focus .search-si-icon {
  fill: $default;
}

.primary-btn.active .search-si-icon {
  fill: $default;
}

.label-lg-row {
  padding: 10px 20px;
}

form .multiselect-item-checkbox input[type='checkbox'] + div:before {
  box-shadow: none !important;
  background: none !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  max-width: fit-content !important;
}

ng-multiselect-dropdown
  .multiselect-dropdown
  .dropdown-list
  .item1
  .filter-textbox
  input {
  background-color: transparent !important;
  border: none !important;
  box-shadow: inset -3px -3px 6px #ffffff, inset 3px 3px 6px #bfc3cf;
  -webkit-box-shadow: inset -3px -3px 6px #ffffff, inset 3px 3px 6px #bfc3cf;
  -moz-box-shadow: inset -3px -3px 6px #ffffff, inset 3px 3px 6px #bfc3cf;
  background-clip: padding-box;
  -webkit-appearance: none;
  border-radius: 33px !important;
  -webkit-border-radius: 33px !important;
  -moz-border-radius: 33px !important;
  font-size: 20px;
  color: #264a9f;
  font-family: Poppins-semiBold !important;
  opacity: 1 !important;
  height: 70px;
  background: transparent;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.multiselect-item-checkbox input[type='checkbox'] + div {
  color: $clr-primary !important;
  font-family: $pop-med;
}

ng-multiselect-dropdown .multiselect-dropdown .dropdown-btn {
  padding: 14px 30px !important;
}

.complete .multiselect-dropdown span.dropdown-btn .ng-star-inserted,
.complete .ng-select.ng-select-single .ng-select-container .ng-value-container,
.complete
  .ng-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-value {
  opacity: 1 !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  opacity: 1 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.theme-disp-value {
  color: $clr-primary;
  font-size: 18px;
  font-family: $pop-med;
}

.theme-update-value {
  color: $clr-primary;
  font-size: 24px;
  font-family: $pop-med;
}

.modal-body.code-display {
  height: auto;
  max-height: 400px;
  overflow-y: auto;
}

.file-upload-note {
  color: $clr-secondary;
  opacity: 0.7;
  font-size: 16px;
  font-family: $pop-med;
}

.block-card-content {
  padding: 20px 25px !important;
}

.block-card-details {
  display: flex;
  align-items: center;
}

.search-btn-grp {
  color: $clr-primary;
  opacity: 1;
  background: $btn-pri-bg;
  box-shadow: $outset;
  border-radius: 33px;
  border: none;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 40px;
  padding: 10px 15px;
}

.search-btn-grp:hover,
.search-btn-grp:focus,
.search-btn-grp:active {
  background: $btn-pri-active;
  color: $default;
  box-shadow: $outset;
}

.icon-par {
  height: 45px !important;
  width: 45px !important;
  transform: translate(-8px, -15px) !important;
  fill: $clr-primary;
}

.single-details-card {
  padding-top: 5px !important;
}

.uwTickCross-svg {
  background: $default;
  border-radius: 50px;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.uwYest-svg {
  background: $default;
  border-radius: 50px;
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.uw-btn {
  border-radius: 8px !important;
  cursor: alias !important;
  display: flex;
  align-items: center;
}

.scrollable-section-x {
  overflow-x: auto;
  white-space: nowrap;
}

.error-hint-msg {
  color: #264a9f $imp;
}

.status-label {
  color: #264a9f;
  opacity: 1;
}

.word-break-all {
  word-break: break-all;
}

.ml-sm {
  margin-top: 0.5rem;
}

.no-shadow-link-btn:focus {
  box-shadow: none;
}

.file-format-msg {
  margin-left: 30px;
}

.radio-error-msg {
  top: 110px;
}

.premium-info-icon {
  top: 5px;
}

.premium-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.premium-tooltip .tooltiptext {
  background-color: #283a61;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  width: 270px;
  bottom: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  word-break: break-word;
  pointer-events: none;
}

.declaration-template .rq-list li {
  list-style: auto $imp;
}

.declaration-template .theme-label {
  text-transform: inherit;
}

.mob-custom-toggle {
  padding-right: 45px;
}

.custom-margin {
  margin-bottom: 20px;
}

.textarea-err-msg-xl {
  top: 194px;
}

.input-search-icon {
  top: 15%;
  position: absolute;
}

.ql-search-icon {
  top: 60px !important;
  cursor: pointer;
}

.search-in-input {
  top: 3.25rem;
  right: 2.5rem;
  position: absolute;
}

.search-si-icon {
  height: 25px;
  width: 25px;
  position: absolute;
}

.items-per-page-field
  .ng-select.ng-select-single
  .ng-select-container.ng-has-value {
  margin-bottom: 0px $imp;
}

.alert-msg {
  color: #ff5858 $imp;
}

.prod-height {
  max-width: 101px $imp;
}

.prod-height label {
  margin-left: 20% $imp;
}

// .pb-15{
//     padding-bottom: 15px !important;
// }

.premium-detials-table tr td span {
  font-size: 15px $imp;
}

.modal-spacing {
  padding-top: 40px;
}

//**********MEDIA***********//

@media only screen and (min-width: 1920px) {
  .custom-file-label {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .input-search-icon {
    top: 55px !important;
    right: 60px;
  }

  .search-si-icon {
    height: 35px;
    width: 35px;
  }

  .button-tooltip .tooltiptext,
  .template-tooltip .tooltiptext {
    font-size: 14px;
  }

  .file-err-msg {
    bottom: -70px;
  }

  .file-upload-note {
    font-size: 18px;
  }

  .upload-note-block {
    padding-top: 2rem;
  }

  .textarea-err-msg {
    bottom: -35px;
  }

  .theme-radio {
    margin-right: 15px;
  }

  .check-default label {
    font-size: 18px;
  }

  .end-date-pos {
    bottom: -30px;
  }

  // .master-info-olc{
  //     margin-right: 0;
  // }

  .theme-radio.radio-btn input[type='number'] {
    width: 135px;
    min-width: 135px;
  }
}

@media only screen and (max-width: 1600px) {
  .modal-spacing {
    padding-top: 30px;
  }

  .textarea-err-msg-xl {
    top: inherit;
  }

  .ql-search-icon {
    top: 44px $imp;
  }

  .custom-margin {
    margin-bottom: 15px;
  }

  .mob-custom-toggle {
    padding-right: 15px;
  }

  .radio-error-msg {
    top: 85px;
  }

  .file-format-msg {
    margin-left: 20px;
  }

  .theme-check input[type='checkbox']:checked + label ~ .lbl {
    font-size: 14px;
  }

  .med-ques,
  .membercard-addrider label {
    font-size: 14px;
  }

  .subtitle-pl {
    padding-left: 20px !important;
  }

  .premium-amt-value {
    font-size: 22px;
  }

  .bottom-error-pos-lg {
    bottom: 15px;
  }

  .master-info-olc {
    margin-right: 15px;
  }

  .button-lg-block {
    display: block;
  }

  .declartion-info.theme-label {
    font-size: 13px !important;
  }

  .theme-disp-value {
    font-size: 14px;
  }

  ng-multiselect-dropdown
    .multiselect-dropdown
    .dropdown-list
    .item1
    .filter-textbox
    input {
    height: 45px;
    font-size: 14px;
  }

  .theme-update-value {
    font-size: 18px;
  }

  .file-upload-note {
    color: $clr-secondary;
    opacity: 0.7;
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .d-med-table {
    display: table $imp;
  }
  .d-med-block {
    display: block $imp;
  }
  .d-med-none {
    display: none $imp;
  }
}

@media screen and (max-width: 1024px) {
  .bottom-error-pos-md {
    bottom: 15px;
  }

  .bottom-error-pos-lg {
    bottom: -5px;
  }

  .label-lg-row {
    display: none;
  }

  .block-card-details label {
    display: block;
  }

  .block-card-details div {
    margin-bottom: 1.5rem;
  }

  .block-card-content {
    padding-bottom: 0 !important;
  }

  .button-lg-block {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .premium-detials-table tr td span {
    font-size: 12px $imp;
  }

  .bottom-error-pos-md {
    bottom: 25px;
  }

  .theme-radio.radio-btn input[type='number'] {
    width: 135px;
    min-width: 135px;
  }

  .theme-radio.radio-btn input[type='number'] {
    width: 135px;
    min-width: 135px;
  }
  .check-default {
    width: 100%;
  }
  .member-proposal-details .mob-toggle-btn {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .mob-custom-toggle {
    text-align: right;
  }

  .theme-form .theme-card .card-content.input-card-content,
  .theme-form .theme-card .card-content.preview-card-content {
    padding-bottom: 0;
  }

  .d-flex-jcenter {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 1600px) {
  .prod-height {
    max-width: 98px $imp;
  }  
}
@media (min-width: 768px) and (max-width: 1023px) {
  .radio-error-msg {
    top: 95px $imp;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .mob-first-btn {
    margin-bottom: 0px $imp;
  }

  .radio-error-msg {
    top: 187px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .sort-filter-modal .theme-radio.radio-btn {
    width: auto $imp;
  }
  .custom-margin {
    margin-bottom: 5px;
  }

  .ql-search-icon {
    top: 44px !important;
  }

  .mt-mobile {
    margin-top: 2rem;
  }

  .ml-link-btn {
    margin-top: 0px;
  }

  .link-btn {
    font-size: 13px !important;
  }

  .modal-btn {
    width: 100% !important;
    min-width: fit-content !important;
  }

  .dropdown-share-icon {
    transform: scale(2);
  }

  .upload-file-mt {
    margin-top: 2rem;
  }

  .bottom-error-pos-md {
    bottom: 0px;
  }

  .theme-radio.radio-btn input[type='number'] {
    min-width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 370px) {
  .mob-pt-10 {
    padding-top: 10px;
  }

  .prod-height {
    max-width: 75px $imp;
  }
  .max-width-90px {
    max-width: 90px;
  }
  .member-icon {
    margin-bottom: 30px;
  }
}
