<div class="theme-container" #target>
  <div class="page-title">
    <div class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">HELP</h3>
    <div class="pull-right breadcrum">
      <span class="head-sm">Application / </span>
      <span class="head-sm">Help</span>
    </div>
  </div>
  <form class="theme-form">
    <div class="row">
      <div class="col-md-12">
        <div class="p-l-8 head-sm color-asqi">GET IN TOUCH</div>
      </div>
    </div>
    <div class="dotted-border"></div>
    <!-- <div class="row">
            <div class="col">
             
                <div clas="col">
                    <div class="theme-card w-100  p-t-md p-r-0">
                        <div class="card-content">
                        </div>
                    </div>
                </div>
                <div clas="col">
                    <div class="theme-card w-100  p-t-md p-r-0">
                        <div class="card-content">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">
                <div clas="col">
                    <div class="theme-card w-100  p-t-md p-r-0">
                        <div class="card-content">
                        </div>
                    </div>
                </div>
                <div clas="col">
                    <div class="theme-card w-100  p-t-md p-r-0">
                        <div class="card-content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="theme-card w-100  p-t-md p-r-0">
                    <div class="card-content">
                    </div>
                </div>
            </div>

        </div>  -->
    <!-- <div class="theme-card w-100  p-t-md p-r-0">
                <div class="card-content">
                </div>
            </div> -->

    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-md-6">
            <div class="theme-card w-100 p-t-md p-r-0">
              <div class="card-content">
                <div class="row">
                  <div class="col">
                    <span class="theme-value">General FAQ'S</span>
                    <label class="theme-label"
                      >Frequently Asked Questions</label
                    >
                  </div>
                  <div class="pull-right">
                    <button class="btn quotelist-btn">
                      <svg class="svg-xs">
                        <use xlink:href="#ICON_tool_tip" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="theme-card w-100 p-t-md p-r-0">
              <div class="card-content">
                <div class="row">
                  <div class="col">
                    <span class="theme-value">IT Call Log</span>
                    <label class="col p-l-none theme-label"
                      >Create A New Ticket</label
                    >
                  </div>
                  <div class="pull-right">
                    <button class="btn quotelist-btn">
                      <svg class="svg-xs">
                        <use xlink:href="#ICON_tool_tip" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="theme-card w-100 p-t-md p-r-0">
              <div class="card-content">
                <div class="row">
                  <div class="col">
                    <span class="theme-value">Blog</span>
                    <label class="theme-label col p-l-none"
                      >Visit Our Blog</label
                    >
                  </div>
                  <div class="pull-right">
                    <button class="btn quotelist-btn">
                      <svg class="svg-xs">
                        <use xlink:href="#ICON_tool_tip" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="theme-card w-100 p-t-md p-r-0">
              <div class="card-content">
                <!-- <div class="row">
                                    <div class="col-10">
                                        <span class="theme-value">Request Support</span>
                                        <label class="text-nowrap theme-label font-sm-13">Complain Regarding
                                            Lob/Applications</label>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn quotelist-btn">
                                            <svg class="svg-xs">
                                                <use xlink:href="#ICON_tool_tip" />
                                            </svg>
                                        </button>
                                    </div>
                                </div> -->

                <div class="row">
                  <div class="col">
                    <span class="theme-value">Request Support</span>
                    <label class="col p-l-none theme-label"
                      >Complain Regarding Lob/Application</label
                    >
                  </div>
                  <div class="pull-right">
                    <button class="btn quotelist-btn">
                      <svg class="svg-xs">
                        <use xlink:href="#ICON_tool_tip" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="theme-card w-100 p-t-md p-r-0">
          <div class="card-content">
            <div class="row">
              <div class="col-10">
                <span class="theme-value">Contact Us</span>
                <div class="head-sm m-b-none mt-4">24/7 Toll Free Number</div>
                <label class="text-nowrap theme-label font-sm-13 mb-4"
                  >1800-266-7780</label
                >
              </div>
            </div>
            <div class="dotted-border"></div>
            <div class="row">
              <div class="col">
                <div class="head-sm mt-4">Email Id</div>
                <label class="text-nowrap theme-label font-sm-13"
                  >customersupport@tataaig.com</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="theme-card w-100 p-t-md p-r-0">
          <div class="card-content card-height">
            <div class="row">
              <div class="col">
                <span class="theme-value">Recent Uploads</span>
              </div>
              <!-- <div class="pull-right">
                              
                            </div> -->
            </div>
            <div class="row" *ngFor="let doc of docUploadArray">
              <div class="col mt-2 mb-2">
                <label class="pull-right theme-label"
                  >{{ doc.dayDateTime }}
                </label>
                <div class="head-sm link-btn">{{ doc.documentName }}</div>
                <div class="dotted-border" *ngIf="doc.dotted_border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="theme-card w-100 p-t-md p-r-0">
          <div class="card-content">
            <div class="row">
              <div class="col">
                <span class="theme-value">Send Us Your feedback</span>
              </div>
            </div>
            <div class="row mt-4">
              <div class="form-field col">
                <div class="head-sm">NAME</div>
                <input
                  type="text"
                  formControlName="Name"
                  class="form-control"
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-field col">
                <div class="head-sm">FEEDBACK</div>
                <input
                  type="text"
                  formControlName="feedback"
                  class="form-control"
                  autocomplete="off"
                />
              </div>
            </div>
            <div class="btn-block">
              <button type="button" class="btn primary-btn theme-lg-btn">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
