<div class="theme-container">
  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      {{ 'allPremiums.title' | translate }}
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm" (click)="global.gobackallapp()">{{ 'commonText.applicationBreadcrumb' | translate }}
      </span>
      <span class="head-sm" (click)="global.gobackallappPersonalAccident()">{{
        'commonText.personalAccident' | translate
      }}</span>
      <span class="head-sm"> {{ 'allPremiums.title' | translate }}</span>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Form Start -->
  <form [formGroup]="allPremiumsForm" class="theme-form mt-mobile">
    <div class="theme-card w-100 p-0">
      <div class="card-content input-card-content">
        <div class="row">
          <div [ngClass]="{ complete: allPremiumsForm.get('sumInsured').value }"
            class="col-md-6 col-lg-4 col-xl-3 form-field">
            <label for="sumInsured" class="head-sm">{{
              'allPremiums.sumInsured.label' | translate
            }}</label>
            <ng-select [items]="dropDownArr" [searchable]="false" formControlName="sumInsured" id="sumInsured"
              placeholder="{{ 'commonText.select.placeholder' | translate }}" autocomplete="off">
            </ng-select>
            <span class="error-msg">
              {{ 'commonText.requiredError' | translate }}
            </span>
          </div>
          <div [ngClass]="{
              complete: allPremiumsForm.get('policyStartDate').value
            }" class="col-md-6 col-lg-4 col-xl-3 form-field">
            <label for="policyStartDate" class="head-sm">{{
              'allPremiums.policyStartDate.label' | translate
            }}</label>
            <input #policyStartDate type="text" class="form-control" formControlName="policyStartDate"
              name="policyStartDate" id="policyStartDate" (keypress)="isNumberKey($event)"
              (keyup.enter)="formatLikeExcel('policyStartDate')" (focusout)="formatLikeExcel('policyStartDate')"
              placeholder="DD/MM/YYYY" autocomplete="off" />
            <span *ngIf="!policyEndDate" class="error-msg">
              {{ 'commonText.requiredError' | translate }}
            </span>
            <span *ngIf="policyEndDate" class="error-msg text-right preview-details">
              <span class="theme-label">Policy End Date :</span>
              <span class="head-sm">11/09/2022</span>
            </span>
          </div>
          <div [ngClass]="{ complete: allPremiumsForm.get('tenure').value }"
            class="form-field col-md-6 col-lg-4 col-xl-3 d-flex flex-column">
            <div class="head-sm">
              <label>{{ 'allPremiums.tenure.label' | translate }}</label>
            </div>
            <div>
              <div class="form-group theme-radio radio-btn">
                <input type="radio" id="1_year" value="1 Year" formControlName="tenure" name="tenure" />
                <label for="1_year"><span>{{
                    'allPremiums.tenure.option_1' | translate
                  }}</span></label>
              </div>
              <div class="form-group theme-radio radio-btn">
                <input type="radio" id="2_years" value="2 Years" formControlName="tenure" name="tenure" />
                <label for="2_years"><span>{{
                    'allPremiums.tenure.option_2' | translate
                  }}</span></label>
              </div>
              <div class="form-group theme-radio radio-btn">
                <input type="radio" id="3_years" value="3 Years" formControlName="tenure" name="tenure" />
                <label for="3_years"><span>{{
                    'allPremiums.tenure.option_3' | translate
                  }}</span></label>
              </div>
            </div>
            <div>
              <span class="error-msg radio-error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="theme-card w-100 card-top-spacing">
      <div class="card-content">
        <div class="row">
          <div class="col-md-12 d-flex">
            <label class="head-sm text-uppercase mr-15 mt-1">{{
              'allPremiums.premium.label' | translate
            }}</label>
            <div class="d-flex flex-column">
              <span class="premium-amt-value"><i class="fa fa-inr"></i> 10,0000000/-</span>
              <button (click)="
                  openPremiumBreakupModal(premium_breakup_modal_template)
                " class="link-btn pl-0 text-left no-shadow-link-btn">
                {{ 'commonBtn.viewPremiumBreakup' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-block btn-top-spacing">
      <button type="button" (click)="contactDetailModal(contact_detail_template, 'save')"
        class="btn primary-btn sm theme-sm-btn mob-text-btn mob-first-btn">
        {{ 'commonBtn.save' | translate }}
      </button>
      <button [class.highlighted]="allPremiumsForm.status == 'VALID'" type="button"
        (click)="contactDetailModal(contact_detail_template, 'share')" class="btn theme-sm-btn sm primary-btn mob-btn">
        {{ 'commonBtn.share' | translate }}
      </button>
    </div>
  </form>
  <!-- Form end -->
</div>
<!-- Contact Modal -->
<ng-template #contact_detail_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-md modal-form contact-detail-modal">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          {{ 'contact_Detail.title' | translate }}
        </h4>
        <div class="close-icon" (click)="contactModalRef.hide(); close()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body has-form">
        <form [formGroup]="contactDetailForm" class="theme-form">
          <div class="row">
            <div [ngClass]="{
                complete: contactDetailForm.get('salutation').value
              }" class="form-field col-md-4">
              <label for="salutation" class="head-sm required-field">{{
                'contact_Detail.salutation.title' | translate
              }}</label>
              <ng-select [items]="dropDownArr" [searchable]="false" formControlName="salutation" id="salutation"
                placeholder="{{ 'commonText.select.placeholder' | translate }}" autocomplete="off">
              </ng-select>
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{ complete: contactDetailForm.value.firstName }" class="form-field col-md-8">
              <label for="firstName" class="head-sm required-field">{{
                'contact_Detail.firstName.label' | translate
              }}</label>
              <input type="text" formControlName="firstName" (keypress)="formatName($event)" class="form-control"
                name="firstName" id="firstName" placeholder="{{
                  'contact_Detail.firstName.placeholder' | translate
                }}" autocomplete="off" />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{ complete: contactDetailForm.value.middleName }" class="form-field col-md-6">
              <label for="middleName" class="head-sm">{{
                'contact_Detail.middleName.label' | translate
              }}</label>
              <input type="text" formControlName="middleName" (keypress)="formatName($event)" class="form-control"
                name="middleName" id="middleName" placeholder="{{
                  'contact_Detail.middleName.placeholder' | translate
                }}" autocomplete="off" />
              <!-- <span class="error-msg">
                            {{ 'commonText.requiredError' | translate }}
                        </span> -->
            </div>
            <div [ngClass]="{ complete: contactDetailForm.value.lastName }" class="form-field col-md-6">
              <label for="lastName" class="head-sm required-field">{{
                'contact_Detail.lastName.label' | translate
              }}</label>
              <input type="text" formControlName="lastName" (keypress)="formatName($event)" class="form-control"
                name="lastName" id="lastName" placeholder="{{
                  'contact_Detail.lastName.placeholder' | translate
                }}" autocomplete="off" />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{ complete: contactDetailForm.value.email }" class="form-field col-md-12">
              <label for="email" class="head-sm required-field">{{ 'contact_Detail.email.label' | translate }}
              </label>
              <input type="email" formControlName="email" (keypress)="formatEmail($event)" class="form-control"
                id="email" placeholder="{{
                  'contact_Detail.email.placeholder' | translate
                }}" autocomplete="off" />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div [ngClass]="{ complete: contactDetailForm.value.mobile }" class="form-field col-md-12">
              <label for="mobile" class="head-sm required-field">{{ 'contact_Detail.mobile.label' | translate }}
              </label>
              <input type="text" formControlName="mobile" required minlength="10" maxlength="10"
                (keypress)="isNumberKey($event)" pattern="^[6-9]\\d{9}$" class="form-control" id="mobile" placeholder="{{
                  'contact_Detail.mobile.placeholder' | translate
                }}" autocomplete="off" />
              <span class="error-msg">
                {{ 'commonText.requiredError' | translate }}
              </span>
            </div>
            <div class="col-md-12 text-center mt-15">
              <div class="row d-flex justify-content-center">
                <div *ngIf="savePremium" class="col-12 col-md-6">
                  <button [class.highlighted]="contactDetailForm.status == 'VALID'" data-dismisss="modal" type="button"
                    class="btn primary-btn m-0 theme-sm-btn" (click)="shareQuote(success_template)">
                    {{ 'commonBtn.save' | translate }}
                  </button>
                </div>
                <div *ngIf="sharePremium" class="col-12 col-md-6">
                  <button [class.highlighted]="contactDetailForm.status == 'VALID'" data-dismisss="modal" type="button"
                    class="btn primary-btn m-0 theme-sm-btn" (click)="shareQuote(success_template)">
                    {{ 'commonBtn.share' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
<!-- Success Modal -->
<ng-template #success_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-md success-info pb-modal">
      <div class="modal-header">
        <div class="close-icon" (click)="successModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body succes-container">
        <div class="row">
          <div class="text-center col-md-12 mb-4">
            <div>
              <svg class="icon-blue">
                <use *ngIf="sharePremium" xlink:href="#ICON_Sent_successfully" />
                <use *ngIf="savePremium" xlink:href="#ICON_Saved_Successfully" />
              </svg>
            </div>
            <div *ngIf="sharePremium" class="head-md status-label mt-4 mb-0 font-lg">
              {{ 'success_Detail.sharePremium.title' | translate }}
            </div>
            <div *ngIf="savePremium" class="head-md status-label mt-4 mb-0 font-lg">
              {{ 'success_Detail.savePremium.title' | translate }}
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-center">
            <table class="success-modal-tbl">
              <tr>
                <td class="theme-label">Quote Number</td>
                <td class="pl-5 theme-value">34859 83993</td>
              </tr>
              <tr>
                <td class="theme-label">Full Name</td>
                <td class="pl-5 theme-value">Mr. Hardik Batra</td>
              </tr>
              <tr>
                <td class="theme-label">Phone Number</td>
                <td class="pl-5 theme-value">+91 98290 98280</td>
              </tr>
              <tr>
                <td class="theme-label">Email ID</td>
                <td class="pl-5 theme-value word-break-all">
                  rajesharora@geminisolutions.in
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 text-center mt-30">
            <button (click)="viewQuotes()" type="button" class="btn sm theme-sm-btn primary-btn">
              {{ 'commonBtn.quoteListing' | translate }}
            </button>
            <button (click)="route()" type="button" class="btn sm theme-sm-btn primary-btn mr-0">
              {{ 'commonBtn.viewQuote' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Premium breakup modal start -->
<ng-template #premium_breakup_modal_template>
  <div class="modal-container">
    <div class="detail-container-modal modal-sm success-info">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <span class="text-uppercase">{{
            'premiumBreakupModal.title' | translate
          }}</span>
        </h4>
        <div class="close-icon" (click)="premiumBreakupModalRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body succes-container premium-breakup">
        <div class="row brdr-top modal-spacing">
          <div class="col-md-12">
            <label class="head-sm">{{
              'premiumBreakupModal.basicCovers.label' | translate
            }}</label>
          </div>
          <div class="col-md-12">
            <table aria-hidden="true" class="fw-100 premium-detials-table">
              <tbody>
                <tr>
                  <td>
                    <span class="head-sm pl-4">{{
                      'memberDetails.relationship.self' | translate
                    }}</span>
                  </td>
                  <td class="theme-value"></td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.basePremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.adPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <!-- Spouse -->
                <tr>
                  <td>
                    <span class="head-sm pl-4">{{
                      'memberDetails.relationship.spouse' | translate
                    }}</span>
                  </td>
                  <td class="theme-value"></td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.basePremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.adPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <!-- Child 1 -->
                <tr>
                  <td>
                    <span class="head-sm pl-4">{{
                        'memberDetails.relationship.child' | translate
                      }}
                      1</span>
                  </td>
                  <td class="theme-value"></td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.basePremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.adPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <!-- Child 2 -->
                <tr>
                  <td>
                    <span class="head-sm pl-4">{{
                        'memberDetails.relationship.child' | translate
                      }}
                      2</span>
                  </td>
                  <td class="theme-value"></td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.basePremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.adPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm"><i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>

                <tr class="brdr-top">
                  <td>
                    <span class="head-sm pt-3">{{
                      'premiumBreakupModal.netPremium.label' | translate
                    }}</span>
                  </td>
                  <td class="pt-3">
                    <span class="theme-value"><i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.SGST.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm">+ <i class="fa fa-inr"></i>2000</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.CGST.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm">+ <i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.KFC.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="head-sm">+ <i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
                <tr>
                  <td class="pb-15">
                    <span class="theme-label pl-4">{{
                      'premiumBreakupModal.discount.label' | translate
                    }}</span>
                  </td>
                  <td class="pb-15">
                    <span class="head-sm">- <i class="fa fa-inr"></i>200</span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="brdr-top">
                  <td>
                    <span class="theme-value total-premium-font">{{
                      'premiumBreakupModal.totalPremium.label' | translate
                    }}</span>
                  </td>
                  <td>
                    <span class="theme-value total-premium-font"><i class="fa fa-inr"></i>5400</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- <div class="row">
                <div class="col-md-12 d-flex justify-content-center mt-5">
                    <button type="button" (click)="premiumBreakupModalRef.hide()"
                        class="btn primary-btn theme-sm-btn mr-0">{{
                    'commonBtn.done' | translate }}</button>
                </div>
            </div> -->
      </div>
    </div>
  </div>
</ng-template>
<!-- Premium breakup modal end -->