<div class="theme-container additional-details">
  <div class="page-title">
    <div class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading">
      ADDITIONAL DETAILS<span class="p-l-md head-date">07/08</span>
    </h3>
    <div class="pull-right">
      <button type="button" class="link-btn">Go Back To Proposal</button>
    </div>
  </div>
  <!-- <form class="theme-form ">
		<div class="theme-card w-100 has-form">
		  <div class="card-content">
			<div class="field-two">
				<div class="form-field col-md-6 ">
					<div for="accnumber" class="head-sm">ACCOUNT NUMBER</div>
					<input type="text" class="form-control">
				</div>
				<div class="form-field col-md-6 ">
					<div for="aadharnumber" class="head-sm">AADHAR NUMBER</div>
					<input type="text" class="form-control">
				</div>
				<div class="form-field col-md-6 ">
					<div for="pannumber" class="head-sm">PAN NUMBER</div>
					<input type="text" class="form-control">
				</div>
				<div class="form-field col-md-6 ">
					<div for="income" class="head-sm">ANNUAL INCOME</div>
					<input type="text" class="form-control">
				</div>
				<div class="form-field col-md-6 ">
					<div for="landnumber" class="head-sm">LANDLINE NUMBER</div>
					<input type="text" class="form-control">
				</div>
			</div>
		  </div>
		</div>
		<div class="proceed add-btn btn-block primary bg-blue">
			<button type="button" class="btn primary-btn m-r-sm" disabled>Save</button>
			<button type="button" class="btn primary-btn sm" disabled>Next</button>
		</div>
	</form> -->
  <form class="theme-form">
    <div class="theme-card has-form">
      <div class="card-content">
        <div class="row">
          <div class="form-field col-md-6">
            <div for="accnumber" class="head-sm">ACCOUNT NUMBER</div>
            <input
              type="text"
              class="form-control"
              placeholder="Account-Number"
            />
          </div>
          <div class="form-field col-md-6">
            <div for="aadharnumber" class="head-sm">AADHAR NUMBER</div>
            <input
              type="text"
              class="form-control"
              placeholder="Aadhar-Number"
            />
          </div>
          <div class="form-field col-md-6">
            <div for="pannumber" class="head-sm">PAN NUMBER</div>
            <input type="text" class="form-control" placeholder="Pan-Number" />
          </div>
          <div class="form-field col-md-6">
            <div for="income" class="head-sm">ANNUAL INCOME</div>
            <input
              type="text"
              class="form-control"
              placeholder="Annual-Income"
            />
          </div>
          <div class="form-field col-md-6">
            <div for="landnumber" class="head-sm">LANDLINE NUMBER</div>
            <input
              type="text"
              class="form-control"
              placeholder="Landline-Number"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="btn-block m-t-lg">
      <div class="row">
        <div class="col-sm col-md-3">
          <button type="button" class="btn primary-btn m-r-sm" disabled>
            Save
          </button>
        </div>
        <div class="col-sm col-md-3">
          <button type="button" class="btn primary-btn sm" disabled>
            Next
          </button>
        </div>
        <div class="col-sm col-md-3"></div>
        <div class="col-sm col-md-3"></div>
      </div>
    </div>
  </form>
</div>
