<div class="theme-container customer-details">
  <div class="page-title w-100">
    <div class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      CUSTOMER DETAILS<span class="p-l-md head-date">01/08</span>
    </h3>
    <div class="pull-right">
      <button type="button" class="link-btn">Go Back To Proposal</button>
    </div>
  </div>
  <form class="theme-form">
    <div class="customer-detail theme-card full has-form">
      <div class="card-content">
        <div class="primary-details w-100">
          <div class="head-sm">PRIMARY MEMBER DETAILS</div>
          <div class="form-field w-100">
            <div class="w-100">
              <div class="fw-50 p-r-sm col-md-6">
                <div class="head-sm">TITLE</div>
                <ng-select class="ngSelectOption l" placeholder="">
                  <ng-option value="mr">Mr.</ng-option>
                  <ng-option value="mrs">Mrs.</ng-option>
                </ng-select>
              </div>
              <div class="fw-50 col-md-6">
                <div class="head-sm">NAME</div>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="field-two">
            <div
              class="form-field col-md-6 radio-field"
              style="min-height: 108px; margin-bottom: 0px"
            >
              <div class="head-sm">GENDER</div>
              <div class="theme-radio square">
                <input type="radio" id="male" name="select_plan" checked />
                <label for="male" class="man"
                  ><span class="lbl" for="radio">Male</span></label
                >
              </div>
              <div class="theme-radio square">
                <input type="radio" id="fmale" name="select_plan" />
                <label for="fmale"
                  ><span class="lbl" for="radio">Female</span></label
                >
              </div>
              <div class="theme-radio square">
                <input type="radio" id="other" name="select_plan" />
                <label for="other"
                  ><span class="lbl" for="radio">Others</span></label
                >
              </div>
            </div>
            <div
              class="form-field col-md-6 dob"
              style="min-height: 108px; margin-bottom: 0px"
            >
              <div class="head-sm">DATE OF BIRTH</div>
              <input type="text" class="form-control" />
            </div>
            <div class="form-field col-md-6">
              <div class="head-sm">OCCUPATION</div>
              <ng-select>
                <ng-option value="businessman">Businessman</ng-option>
              </ng-select>
            </div>
            <div class="form-field col-md-6">
              <div class="head-sm">GSTIN</div>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="contact-details w-100 m-t">
          <div class="head-sm">CONTACT DETAILS</div>
          <div class="field-two">
            <div class="form-field col-md-6">
              <div class="head-sm">EMAIL ID</div>
              <input type="text" class="form-control" />
            </div>
            <div class="form-field col-md-6">
              <div class="head-sm">MOBILE NUMBER</div>
              <input type="text" class="form-control" />
            </div>
            <div class="form-field col-md-6">
              <div class="head-sm">PIN CODE</div>
              <input type="text" class="form-control" />
              <div class="head-sm p-xs sub-lbl">
                Andheri East, Mumbai, Maharashtra
              </div>
            </div>
            <div class="form-field col-md-6">
              <div class="head-sm">ADDRESS</div>
              <textarea rows="2" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 btn-block primary bg-blue">
      <button type="button" class="btn primary-btn sm m-r-sm" disabled>
        Save
      </button>
      <button type="button" class="btn primary-btn sm" disabled>Next</button>
    </div>
  </form>
</div>
